{% extends "admin/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Server error' %}
</div>
{% endblock %}

{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content %}
<h2>Encontramos um erro no sistema</h2>

    <p>Um e-mail reportando o mesmo foi enviado para a equipe de desenvolvimento do Easy Gestão Pública.</p>
	<p>Desculpe-nos pelo transtorno.</p>

{% endblock %}
