{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/gestao_contratos/">Contratos<i class="fa fa-angle-right"></i></a>
    <a href="/base/visualizar_contrato/{{ contrato.id }}/">{{ contrato }}<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block extrajs %}

<script>
$(function() {
    $( ".vDateField" ).datepicker({ dateFormat: 'dd/mm/yy', locale: 'pt-br' });
    $("#id_indice_reajuste").keyup(function(){
        document.getElementById('novo_valor_contrato').value=((parseFloat({{ contrato.valor }})*parseFloat(this.value))/100)+parseFloat({{ contrato.valor }});
    });
});





</script>
{% endblock %}
{% block content %}
        <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="miolo">
				<div class="row-fluid">
                    <div class="col-xs-6">
                        {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
                        {% for fieldset in form.fieldsets %}
                          <fieldset class="{{ fieldset.classes }}">
                          {% if fieldset.legend %}
                            <legend>{{ fieldset.legend }}</legend>
                          {% endif %}
                          {% if fieldset.description %}
                            <p class="description">{{ fieldset.description }}</p>
                          {% endif %}
                          <ul class="formulario">
                          {% for field in fieldset %}
                            {% if field.is_hidden %}
                              {{ field }}
                            {% else %}
                              <li{{ field.row_attrs }}>
                                {{ field.errors }}
                                {{ field|bootstrap_horizontal }}
                              </li>
                            {% endif %}
                          {% endfor %}
                          </ul>
                          </fieldset>
                        {% endfor %}
                    </div>
		        </div>
                <div id="valores_contratos" >
                     <table width="50%">
                         <tbody>

                                <tr>
                                    <td width="10%">&nbsp;</td>
                                    <td><b>Valor do Contrato Atual:</b> {{ contrato.valor }}</td>


                                    <td><b>Novo Valor:</b> <input type="text" id="novo_valor_contrato" name="novo_valor_contrato"  value="{{ contrato.valor }}" readonly><br>
                                    </td>
                                </tr>
                         </tbody>
                     </table>
                 </div>




            <div id="itens" name="itens">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th width="10%">Item</th>
                            <th width="50%">Material/Serviço</th>
                            <th>Marca</th>
                            <th>Unidade</th>
                            <th class="coluna_valor">Valor Unitário</th>
                            <th class="coluna_quantidade">Quantidade</th>
                            <th width="15%" class="coluna_valor">Informar Índice (%)</th>
                            <th width="15%" class="coluna_quantidade">Informar Quantidade</th>
                            <th class="coluna_valor">Novo Valor</th>
                            <th class="coluna_quantidade">Quantidade Disponível</th>


                        </tr>
                    </thead>
                    <tbody>
                         {% for opcao in itens %}
                            <tr>
                                {% if opcao.item %}
                                    <td>{{ opcao.item }}</td>
                                    <td>{{ opcao.item.material|truncatechars:500 }}</td>
                                {% else %}
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ opcao.material|truncatechars:500 }}</td>

                                {% endif %}
                                <td>{{ opcao.marca|default_if_none:"-" }}</td>
                                <td>{{ opcao.unidade|default_if_none:"-" }}</td>
                                <td class="coluna_valor">{{ opcao.valor|format_money }}</td>
                                <td class="coluna_quantidade">{{ opcao.quantidade|format_quantidade }}</td>

                                <td class="coluna_valor_soma"><input name="valor_soma" onKeyUp="document.getElementById('textfieldvalor_soma{{opcao.id}}').value=((parseFloat({{ opcao.valor }})*parseFloat(this.value))/100)+parseFloat({{ opcao.valor }}) || parseFloat({{ opcao.valor }})" type="number"  min="0" step="0.1" max="{{ opcao.get_aditivo_permitido_valor_soma }}" value="0"> <small>Máximo Permitido: {{ opcao.get_aditivo_permitido_valor_soma|format_money }}%</small></td>
                                <td class="coluna_quantidade_soma"><input name="quantidade_soma" onKeyUp="document.getElementById('textfield2_soma{{opcao.id}}').value=parseInt({{ opcao.get_quantidade_disponivel|format_quantidade }})+parseInt(this.value) || parseInt({{ opcao.get_quantidade_disponivel|format_quantidade }})" type="number"  min="0" step="1" max="{{ opcao.get_aditivo_permitido_quantitativo_soma }}"> <small>Máximo Permitido: {{ opcao.get_aditivo_permitido_quantitativo_soma|format_quantidade}} {{opcao.unidade }}(s)</small></td>

                                <td class="coluna_valor_subtrai"><input name="valor_subtrai" onKeyUp="document.getElementById('textfieldvalor_subtrai{{opcao.id}}').value=(parseFloat({{ opcao.valor }})-((parseFloat({{ opcao.valor }})*parseFloat(this.value))/100))  || parseFloat({{ opcao.valor }})" type="number"  min="0" step="0.1" max="{{ opcao.get_aditivo_permitido_valor_subtrai }}"> <small>Máximo Permitido: {{ opcao.get_aditivo_permitido_valor_subtrai|format_money }}%</small></td>
                                <td class="coluna_quantidade_subtrai"><input name="quantidade_subtrai" onKeyUp="document.getElementById('textfield2_subtrai{{opcao.id}}').value=parseInt({{ opcao.get_quantidade_disponivel|format_quantidade }})-parseInt(this.value) || parseInt({{ opcao.get_quantidade_disponivel|format_quantidade }})" type="number"  min="0" step="1" max="{{ opcao.get_aditivo_permitido_quantitativo_subtrai }}"> <small>Máximo Permitido: {{ opcao.get_aditivo_permitido_quantitativo_subtrai|format_quantidade }} {{opcao.unidade }}(s)</small></td>

                                <input name="id_item" type="hidden" value="{{ opcao.id }}">

                                <td class="coluna_valor_soma"><input type="text" id="textfieldvalor_soma{{opcao.id}}"  value="{{ opcao.valor }}" readonly></td>
                                <td class="coluna_valor_subtrai"><input type="text" id="textfieldvalor_subtrai{{opcao.id}}"  value="{{ opcao.valor }}" readonly></td>
                                <td class="coluna_quantidade_soma"><input type="text" id="textfield2_soma{{opcao.id}}" value="{{ opcao.get_quantidade_disponivel|format_quantidade }}" readonly></td>
                                <td class="coluna_quantidade_subtrai"><input type="text" id="textfield2_subtrai{{opcao.id}}" value="{{ opcao.get_quantidade_disponivel|format_quantidade }}" readonly></td>
                            </tr>


                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="controls">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>

             </div>
        </form>

    </div>


{% endblock %}
{% block footer %}
    {{ form.media }}

    {{ block.super }}
{% endblock %}
