{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/gestao_contratos/">Contratos<i class="fa fa-angle-right"></i></a>
    <a href="/base/visualizar_contrato/{{ contrato.id }}/">{{ contrato }}<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block extrajs %}

<script>
$(function() {
    $( ".vDateField" ).datepicker({ dateFormat: 'dd/mm/yy', locale: 'pt-br' });
});
</script>
{% endblock %}
{% block content %}
        <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="miolo">
				<div class="row-fluid">
                    <div class="col-xs-6">
                        {{ form|bootstrap }}
                    </div>
		        </div>

            <div id="itens" name="itens">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th width="10%">Item</th>
                            <th width="50%">Material/Serviço</th>
                            <th>Marca</th>
                            <th>Unidade</th>
                            <th class="coluna_valor">Valor Unitário</th>
                            <th class="coluna_quantidade">Quantidade</th>
                            <th width="15%">Informar Índice (%)</th>


                        </tr>
                    </thead>
                    <tbody>
                         {% for opcao in itens %}
                            <tr>
                                {% if opcao.item %}
                                    <td>{{ opcao.item }}</td>
                                    <td>{{ opcao.item.material|truncatechars:500 }}</td>
                                {% else %}
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ opcao.material|truncatechars:500 }}</td>

                                {% endif %}
                                <td>{{ opcao.marca|default_if_none:"-" }}</td>
                                <td>{{ opcao.unidade|default_if_none:"-" }}</td>
                                <td class="coluna_valor">{{ opcao.valor|format_money }}</td>
                                <td class="coluna_quantidade">{{ opcao.quantidade|format_quantidade }}</td>
                                <td class="coluna_valor"><input name="valor" type="number"  min="0" step="0.1" max="{{ opcao.get_aditivo_permitido_valor }}"> <small>Máximo Permitido: {{ opcao.get_aditivo_permitido_valor|format_money }}%</small></td>
                                <td class="coluna_quantidade"><input name="quantidade" type="number"  min="0" step="0.1" max="{{ opcao.get_aditivo_permitido_quantitativo }}"> <small>Máximo Permitido: {{ opcao.get_aditivo_permitido_quantitativo|format_money }}%</small></td>
                                <input name="id_item" type="hidden" value="{{ opcao.id }}">
                            </tr>


                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="controls">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>

             </div>
        </form>

    </div>


{% endblock %}
{% block footer %}
    {{ form.media }}

    {{ block.super }}
{% endblock %}
