{% extends super_template|default:"admin/base_portal.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load pagination_tags %}
{% load app_filters %}

{% block content %}
    <script>
        $(document).ready(function () {

    $("#sidebar").mCustomScrollbar({
         theme: "minimal"
    });

    $('#sidebarCollapse').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // close dropdowns
        $('.collapse.in').toggleClass('in');
        // and also adjust aria-expanded attributes we use for the open/closed arrows
        // in our CSS
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });

});
    </script>
{% if form.is_bound and atas.exists %}
    <div class="pull-right">
        {% if buscou %}
            <a class="btn btn-info btn-sm" href="{{ request.get_full_path}}&pdf=true" target="_blank" >Imprimir em PDF</a>
            <a class="btn btn-success btn-sm" href="{{ request.get_full_path}}&xls=true" target="_blank" >Imprimir em XLS</a>
        {% else %}
            <a class="btn btn-info btn-sm" href="{{ request.get_full_path}}?pdf=true" target="_blank">Imprimir em PDF</a>
            <a class="btn btn-success btn-sm" href="{{ request.get_full_path}}?xls=true" target="_blank" >Imprimir em XLS</a>
        {% endif %}
    </div>
{% endif %}
<section class="container">

    {% include 'menu_portal.html' with contratos=True %}
    <!-- Page Content -->
    <div id="content" class="column2">

        <h3>{{ titulo }}</h3>
    <form action="." method="GET" class="form-horizontal">
        {% csrf_token %}

        <div class="row-fluid">
            <div class="row-fluid">
                <div class="col-xs-6">
                    <div class="controls">{{ form.numero|bootstrap }}
                        {% if form.numero.help_text %}
                            <p class="help-inline"><small>{{ form.numero.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-md-2">
                <div class="controls">{{ form.ano|bootstrap }}
                    {% if form.ano.help_text %}
                        <p class="help-inline"><small>{{ form.ano.help_text }}</small></p>
                    {% endif %}
                </div>
             </div>


            <div class="col-xs-2 col-md-2">
                <div class="controls">{{ form.situacao|bootstrap }}
                    {% if form.situacao.help_text %}
                        <p class="help-inline"><small>{{ form.situacao.help_text }}</small></p>
                    {% endif %}
                </div>
             </div>
            <div class="col-xs-2 col-md-2">
                <div class="controls">{{ form.secretaria|bootstrap }}
                    {% if form.secretaria.help_text %}
                        <p class="help-inline"><small>{{ form.secretaria.help_text }}</small></p>
                    {% endif %}
                </div>
             </div>

            <div class="col-xs-1 col-md-1">
                <br>
                <p><button type="submit" class="btn btn-primary">Buscar</button></p>
            </div>
        </div>

    </form>
    {% if form.is_bound %}
        {%  if atas.exists %}
            <h3>{{ atas.count }} {{ title }} encontradas.</h3>
            {% autopaginate atas 20 %}
            {% paginate %}
            {%  for ata in atas %}

                <hr class="new4">


                {% if ata.adesao %}
                    <h3>Contrato N° {{ ata.get_contrato.numero }}</h3>
                {% else %}
                    <h3>Ata de Registro de Preço N° {{ ata.numero }}</h3>
                {% endif %}
                <table class="table table-bordered table-condensed table-striped">
                   {% if ata.solicitacao.processo %}
                        <tr>
                            <th><b>Nº do Processo</b></th>
                            <td><a href="/base/localizar_processo/?numero={{ ata.solicitacao.processo.numero }}" target="_blank">{{ ata.solicitacao.processo }}</a></td>
                        </tr>
                   {% endif %}
                   <tr>
                        <th><b>Situação</b></th>
                        <td>{{ ata.get_situacao }}</td>
                   </tr>
                   <tr>
                        <th width="20%"><b>Órgão Solicitante</b></th>
                        <td>{{ ata.solicitacao.setor_origem.secretaria }}</td>
                   </tr>
                   <tr>
                        <th><b>Objeto</b></th>
                        <td>{{ ata.solicitacao.objeto }}</td>
                   </tr>
                   <tr>
                        <th width="20%"><b>Valor</b></th>
                        <td>R$ {{ ata.get_valor_total|format_money }}</td>
                   </tr>
                   {% if ata.pregao %}
                        <tr>
                            <th><b>Licitação/Procedimento</b></th>
                            <td><a href="/base/baixar_licitacoes_portal/?numero={{ ata.pregao.num_pregao }}&modalidade={{ata.pregao.modalidade.id}}" target="_blank">{{ ata.pregao }}</a></td>
                        </tr>
                   {% endif %}
                   {% if ata.orgao_origem %}
                        <tr>
                            <th><b>Unidade Fiscalizadora</b></th>
                            <td>{{ ata.orgao_origem }}</td>
                       </tr>
                   {% endif %}
                   {% if ata.fornecedor_adesao_arp %}
                         <tr>
                            <th><b>Fornecedor</b></th>
                            <td>{{ ata.fornecedor_adesao_arp }}</td>
                       </tr>
                   {% endif %}
                   {% if ata.get_contrato %}
                        <tr>
                            <th><b>Ata de Origem</b></th>
                            <td>Nº {{ ata.numero }}</td>
                       </tr>
                        <tr>
                            <th><b>Data da Assinatura</b></th>
                            <td>{{ ata.get_contrato.data_inicio }}</td>
                       </tr>
                   {% endif %}

                   {% if ata.adesao %}
                        <tr>
                            <th width="30%"><b>Período de Vigência</b></th>
                            <td>{{ ata.get_contrato.data_inicio }} à {{ ata.get_contrato.data_fim }}</td>
                       </tr>

                   {% else %}
                       <tr>
                            <th width="30%"><b>Período de Vigência</b></th>
                            <td>{{ ata.data_inicio }} à {{ ata.data_fim }}</td>
                       </tr>
                   {% endif %}
                    <tr>
                        <th><b>Dados da Ata de Registro de Preço</b></th>
                        <td><a href="/base/relatorio_info_arp/{{ ata.pk }}/" target="_blank">Informações da ARP</a></td>
                    </tr>
                   {% if ata.num_oficio %}
                        <tr>
                            <th width="30%"><b>Licitação de Origem</b></th>
                            <td>Nº {{ ata.num_oficio }}</td>
                       </tr>
                        <tr>
                            <th><b>Dados do Contrato</b></th>
                            <td><a href="/base/relatorio_info_contrato/{{ ata.get_contrato.pk }}/" target="_blank">Informações do Contrato</a></td>
                        </tr>
                   {% endif %}



                   {% if ata.get_arquivos_publicos %}
                       <tr>
                            <th><b>Arquivos</b></th>
                            <td>
                                {% for arquivo in ata.get_arquivos_publicos %}
                                    <a  href="/media/{{arquivo.arquivo }}" target="_blank">{{ arquivo.nome }}</a><br>
                                {% endfor %}
                                {% if ata.get_contrato %}
                                    {% for arquivo in ata.get_contrato.get_arquivos_publicos %}
                                        <a  href="/media/{{arquivo.arquivo }}" target="_blank">{{ arquivo.nome }}</a><br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                       </tr>
                   {% endif %}
                </table>
            {% endfor %}
            {% paginate %}
        {% else %}
            <p class="alert alert-info">Nenhuma licitação cadastrada.</p>
        {% endif %}
    {% else %}
        <p class="alert alert-info">Utilize os filtros para buscar as atas.</p>
    {% endif %}

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Content will be loaded here from "remote.php" file -->
            </div>
        </div>
    </div>
    </div>



</section>



    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/base/css/portal.css" />
{% endblock %}
{% block footer %}
    {{ form.media }}

    {{ block.super }}
{% endblock %}

