{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load pagination_tags %}

{% block content %}

    <br><h3>Editais - Licitações</h3>
    <p class="alert alert-info">Qualquer dúvida ou sugestão, entrar em contato pelo email: <b>{{ email|default_if_none:"-" }}</b></p>
    <form action="." method="GET" class="form-horizontal">
        {% csrf_token %}
        <div class="row-fluid">
            <div class="col-xs-6">
                <div class="controls">{{ form.numero|bootstrap }}
                    {% if form.numero.help_text %}
                        <p class="help-inline"><small>{{ form.numero.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2">
            <div class="controls">{{ form.data_inicial|bootstrap }}
                {% if form.data_inicial.help_text %}
                    <p class="help-inline"><small>{{ form.data_inicial.help_text }}</small></p>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-2 col-md-2">
            <div class="controls">{{ form.data_final|bootstrap }}
                {% if form.data_final.help_text %}
                    <p class="help-inline"><small>{{ form.data_final.help_text }}</small></p>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-2 col-md-2">
            <div class="controls">{{ form.modalidade|bootstrap }}
                {% if form.modalidade.help_text %}
                    <p class="help-inline"><small>{{ form.modalidade.help_text }}</small></p>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-2 col-md-2">
            <div class="controls">{{ form.situacao|bootstrap }}
                {% if form.situacao.help_text %}
                    <p class="help-inline"><small>{{ form.situacao.help_text }}</small></p>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-1 col-md-1">
            <br>
            <p><button type="submit" class="btn btn-primary">Buscar</button></p>
        </div>

    </form>

    {%  if pregoes.exists %}
        <h4>{{ pregoes.count }} registro(s) encontrado(s).</h4>
        {% autopaginate pregoes 10 %}
        {% paginate %}
        {%  for pregao in pregoes %}
            <fieldset>
                <legend><h3>{{ pregao.modalidade }} N° {{ pregao.num_pregao }}</h3></legend>


            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th width="20%"><b>{{ pregao.modalidade }} N°</b></th>
                    <td>{{ pregao.num_pregao }}</td>
                </tr>
                 <tr>
                    <th width="20%"><b>Secretaria Solicitante</b></th>
                    <td>{{ pregao.solicitacao.setor_origem.secretaria }}</td>
                </tr>
                <tr>
                    <th><b>Objeto</b></th>
                    <td>{{ pregao.objeto }}</td>
                </tr>
                <tr>
                    <th><b>Data de Retirada do Edital</b></th>
                    <td>{{ pregao.data_inicio }} à {{ pregao.data_termino }}</td>
                </tr>
                <tr>
                    <th><b>Data da Abertura</b></th>
                    <td>{{ pregao.data_abertura }}</td>
                </tr>
                <tr>
                    <th><b>Horário</b></th>
                    <td>{{ pregao.hora_abertura }}</td>
                </tr>
                <tr>
                    <th><b>Local</b></th>
                    <td>{{ pregao.local }}</td>
                </tr>
                <tr>
                    <th><b>Situação</b></th>
                    <td>{{ pregao.get_situacao }}</td>
                </tr>

                <tr>
                    <th><b>Arquivos</b></th>
                    <td>
                        {% for arquivo in pregao.get_arquivos_publicos %}
                            <a  href="/base/baixar_arquivo/{{arquivo.id }}/">{{ arquivo.nome }}</a><br>
                        {% endfor %}
                        {% if pregao.get_contrato %}
                            {% for arquivo in pregao.get_contrato.get_arquivos_publicos %}
                                <a  href="/media/{{arquivo.arquivo }}">{{ arquivo.nome }}</a><br>
                            {% endfor %}
                        {% endif %}
                        {% if pregao.get_arp %}
                            {% for arquivo in pregao.get_arp.get_arquivos_publicos %}
                                <a  href="/media/{{arquivo.arquivo }}">{{ arquivo.nome }}</a><br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>

            </table>
           </fieldset>

        {% endfor %}
    {% else %}
        <p class="alert alert-info">Nenhuma licitação cadastrada.</p>
    {% endif %}

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Content will be loaded here from "remote.php" file -->
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ form.media }}

    {{ block.super }}
{% endblock %}