{% extends super_template|default:"admin/base_portal.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load pagination_tags %}
{% load app_filters %}

{% block content %}
    <script>
        $(document).ready(function () {

    $("#sidebar").mCustomScrollbar({
         theme: "minimal"
    });

    $('#sidebarCollapse').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // close dropdowns
        $('.collapse.in').toggleClass('in');
        // and also adjust aria-expanded attributes we use for the open/closed arrows
        // in our CSS
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });

});
    </script>
{% if form.is_bound and pregoes.exists %}
    <div class="pull-right">
        {% if buscou %}
            <a class="btn btn-info btn-sm" href="{{ request.get_full_path}}&pdf=true" target="_blank" >Imprimir em PDF</a>
            <a class="btn btn-success btn-sm" href="{{ request.get_full_path}}&xls=true" target="_blank" >Imprimir em XLS</a>
        {% else %}
            <a class="btn btn-info btn-sm" href="{{ request.get_full_path}}?pdf=true" target="_blank">Imprimir em PDF</a>
            <a class="btn btn-success btn-sm" href="{{ request.get_full_path}}?xls=true" target="_blank" >Imprimir em XLS</a>
        {% endif %}
    </div>
{% endif %}
<section class="container">
    {% include 'menu_portal.html' with contratos=True %}


    <!-- Page Content -->
    <div id="content" class="column2">

        <h3>Licitações</h3>
        <form action="." method="GET" class="form-horizontal">
            {% csrf_token %}
            <div class="row-fluid">
                <div class="col-xs-6">
                    <div class="controls">{{ form.numero|bootstrap }}
                        {% if form.numero.help_text %}
                            <p class="help-inline"><small>{{ form.numero.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-xs-2 col-md-2">
                <div class="controls">{{ form.modalidade|bootstrap }}
                    {% if form.modalidade.help_text %}
                        <p class="help-inline"><small>{{ form.modalidade.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-2 col-md-2">
                <div class="controls">{{ form.situacao|bootstrap }}
                    {% if form.situacao.help_text %}
                        <p class="help-inline"><small>{{ form.situacao.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-2 col-md-2">
                <div class="controls">{{ form.ano|bootstrap }}
                    {% if form.ano.help_text %}
                        <p class="help-inline"><small>{{ form.ano.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-2 col-md-2">
                <div class="controls">{{ form.secretaria|bootstrap }}
                    {% if form.secretaria.help_text %}
                        <p class="help-inline"><small>{{ form.secretaria.help_text }}</small></p>
                    {% endif %}
                </div>
             </div>

            <div class="col-xs-1 col-md-1">
                <br>
                <p><button type="submit" class="btn btn-primary">Buscar</button></p>
            </div>

        </form>
        {% if form.is_bound %}
            {%  if pregoes.exists %}
                <h4>{{ pregoes.count }} Licitações encontradas.</h4>
                {% autopaginate pregoes 10 %}
                {% paginate %}
                {%  for pregao in pregoes %}
                    <hr class="new4">
                    <fieldset>
                        <legend><h3>{{ pregao.modalidade }} N° {{ pregao.num_pregao }}</h3></legend>


                    <table class="table table-bordered table-condensed table-striped">
                        {% if pregao.solicitacao.processo %}
                            <tr>
                                <th><b>Nº do Processo</b></th>
                                <td><a href="/base/localizar_processo/?numero={{ pregao.solicitacao.processo.numero }}" target="_blank">{{ pregao.solicitacao.processo }}</a></td>
                            </tr>
                        {% endif %}
                         <tr>
                            <th><b>Situação</b></th>
                            <td>{{ pregao.get_situacao }}</td>
                        </tr>
                         <tr>
                            <th width="20%"><b>Secretaria Solicitante</b></th>
                            <td>{{ pregao.solicitacao.setor_origem.secretaria }}</td>
                        </tr>
                        <tr>
                            <th><b>Objeto</b></th>
                            <td>{{ pregao.objeto }}</td>
                        </tr>
                         <tr>
                            <th width="20%"><b>Valor Orçado</b></th>
                            <td>R$ {{ pregao.valor_total }}</td>
                       </tr>
                         <tr>
                            <th width="20%"><b>Valor Adjudicado</b></th>
                            <td>R$ {{ pregao.get_total_adjudicado|format_money }}</td>
                       </tr>
                        <tr>
                            <th><b>Critério de Julgamento / Adjudicação</b></th>
                            <td>{{ pregao.tipo }} / {{ pregao.criterio }}</td>
                        </tr>
                        <tr>
                        <tr>
                            <th><b>Data de Retirada do Edital</b></th>
                            <td>{{ pregao.data_inicio }} a {{ pregao.data_termino }}</td>
                        </tr>
                        <tr>
                            <th><b>Data da Abertura</b></th>
                            <td>{{ pregao.data_abertura_original }} às {{ pregao.hora_abertura_original }}<br> Local: {{ pregao.local }}</td>
                        </tr>

                        {% if pregao.data_adjudicacao %}
                            <tr>
                                <th><b>Data de Adjudicação</b></th>
                                <td>{{ pregao.data_adjudicacao }}</td>
                            </tr>
                        {% endif %}
                        {% if pregao.data_homologacao %}
                            <tr>
                                <th><b>Data de Homologação</b></th>
                                <td>{{ pregao.data_homologacao }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th><b>Publicações</b></th>
                            <td>
                                {% for arquivo in pregao.get_arquivos_publicos %}
                                    <a  href="/media/{{arquivo.arquivo }}" target="_blank">{{ arquivo.nome }}</a><br>
                                {% endfor %}
                                {% if pregao.get_contrato %}
                                    {% for arquivo in pregao.get_contrato.get_arquivos_publicos %}
                                        <a  href="/media/{{arquivo.arquivo }}" target="_blank">{{ arquivo.nome }}</a><br>
                                    {% endfor %}
                                {% endif %}
                                {% if pregao.get_arp %}
                                    {% for arquivo in pregao.get_arp.get_arquivos_publicos %}
                                        <a  href="/media/{{arquivo.arquivo }}" target="_blank">{{ arquivo.nome }}</a><br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th><b>Participantes</b></th>
                            <td><a href="/base/relatorio_lista_participantes/{{ pregao.id }}/" class=link" target="_blank">Lista de Participantes</a></td>
                        </tr>
                        <tr>
                            <th><b>Dados da Licitação</b></th>
                            <td>
                                <a href="/base/relatorio_dados_licitacao/{{ pregao.pk }}/" class=link" target="_blank">Ver Dados</a>
                                {%  if pregao.tem_resultado %}
                                    <br><a href="/base/relatorio_resultado_final/{{ pregao.id }}/" target="_blank">Resultado Final - Geral</a>
                                {% endif %}
                            </td>
                        </tr>
                         <!--{%  if pregao.tem_resultado %}-->

                            <!--<tr><th><b>Resultados</b></th>-->
                                <!--<td>-->
                                    <!--<a href="/base/relatorio_resultado_final/{{ pregao.id }}/" target="_blank">Resultado Final - Geral</a>-->
                                    <!--{% if pregao.eh_pregao %}-->
                                        <!--<br><a href="/base/relatorio_resultado_final_por_vencedor/{{ pregao.id }}/" target="_blank">Resultado Final - Por Vencedor</a>-->
                                    <!--{% endif %}-->
                                    <!--<br><a href="/base/relatorio_classificacao_por_item/{{ pregao.id }}/" target="_blank">Resultado Final - Classificação por Item</a>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--{% endif %}-->

                    </table>
                   </fieldset>

                {% endfor %}
                {% paginate %}
            {% else %}
                <p class="alert alert-info">Nenhuma licitação cadastrada.</p>
            {% endif %}
        {% else %}
            <p class="alert alert-info">Utilize os filtros para buscar as licitações.</p>
        {% endif %}
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Content will be loaded here from "remote.php" file -->
                </div>
            </div>
        </div>
    </div>



</section>



    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/base/css/portal.css" />
{% endblock %}
{% block footer %}
    {{ form.media }}

    {{ block.super }}
{% endblock %}

