{% extends super_template|default:"admin/base_publica.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}

    <br><h3>Editais - Licitações</h3><br>
    <form action="." method="POST" class="form-horizontal">
        {% csrf_token %}
         <div class="miolo">
             <div class="row-fluid">
                 <div class="col-xs-6">
                 <table cellspacing="10" cellpadding="10" width="60%">
                     <tr>
                         <td>{{ form.modalidade|bootstrap }}</td>
                         <td width="10%">&nbsp;</td>
                         <td> {{ form.numero|bootstrap }}</td>
                         <td width="5%">&nbsp;</td>
                        <td>
                            <div class="col-xs-6">
                                <br>
                                <p><button type="submit" class="btn btn-primary">Buscar</button></p>

                            </div>
                        </td>
                     </tr>

                 </table>
                <div>
             </div>




            </div>


            </div>
         </div>
    </form>
    {%  if pregoes.exists %}

        {%  for pregao in pregoes %}

            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th width="20%"><b>{{ pregao.modalidade }} N°</b></th>
                    <td>{{ pregao.num_pregao }}</td>
                </tr>
                <tr>
                    <th><b>Objeto</b></th>
                    <td>{{ pregao.solicitacao.objeto }}</td>
                </tr>
                <tr>
                    <th><b>Data de Retirada do Edital</b></th>
                    <td>{{ pregao.data_inicio }} à {{ pregao.data_termino }}</td>
                </tr>
                <tr>
                    <th><b>Data da Abertura</b></th>
                    <td>{{ pregao.data_abertura }}</td>
                </tr>
                <tr>
                    <th><b>Horário</b></th>
                    <td>{{ pregao.hora_abertura }}</td>
                </tr>
                <tr>
                    <th><b>Local</b></th>
                    <td>{{ pregao.local }}</td>
                </tr>

                <tr>
                    <th><b>Arquivos</b></th>
                    <td>
                        {% for arquivo in pregao.get_arquivos_publicos %}
                            <a  href="/base/baixar_arquivo/{{arquivo.id }}/">{{ arquivo.nome }}</a><br>
                        {% endfor %}
                        {% if pregao.get_contrato %}
                            {% for arquivo in pregao.get_contrato.get_arquivos_publicos %}
                                <a  href="/media/{{arquivo.arquivo }}">{{ arquivo.nome }}</a><br>
                            {% endfor %}
                        {% endif %}
                        {% if pregao.get_arp %}
                            {% for arquivo in pregao.get_arp.get_arquivos_publicos %}
                                <a  href="/media/{{arquivo.arquivo }}">{{ arquivo.nome }}</a><br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>

            </table>

        {% endfor %}
    {% else %}
        <p class="alert alert-info">Nenhuma licitação cadastrada.</p>
    {% endif %}

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Content will be loaded here from "remote.php" file -->
            </div>
        </div>
    </div>
{% endblock %}