{% load admin_static %}{% load i18n %}{% load compress %}{% load newadmin %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}E@sy Gestão Pública{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "base/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "base/css/bootstrap-theme.min.css" %}" />

        <link rel="stylesheet" type="text/css" href="{% static "base/fontawesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "base/fontawesome/css/font-awesome.css" %}" />
        <link rel="shortcut icon" href="/static/base/css/{% block favicon %}favicon.png{% endblock %}" />

        {% block extrastyle %}{% endblock %}
	{% endcompress %}
	{% compress js %}
        <script src="/static/jquery-2.1.1.min.js"></script>
        <script src="/static/jquery.mask.min.js"></script>
        <script src="/static/highcharts.js"></script>
        <script src="/static/jquery.formset.js"></script>



        <script src="/static/newadmin.js"></script>
        {% block extrajs %}{% endblock %}
    {% endcompress %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body>



    <header>
        <section id="content-topo">

        <div class="container-fluid">
        </div>
      </section>
    </header>

    <div id="content">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>

</body>
</html>
