<style>

    body {
        font-size: 14px;
    }
   .page-header {
        font-size: 14px;
     }
   @page {
        size: a4 landscape;
        margin: 0.3cm;
        margin-bottom: 0.7cm;
        margin-top: 0.3cm;
        @frame footer {
            -pdf-frame-content: footerblock;
            bottom: 1cm;
            margin-left: 1cm;
            margin-right: 1cm;
            margin-top: 1cm;
            height: 1cm;
        }

   }

 </style>
<table border="0" width="100%">
    <tr>

        <td  width="30%" cellspacing="10" cellpadding="10"><img src="{{ logo }}"  width="150" height="90"></td>
        <td align="left">
            <table>
                <tr>
                    <td style="font-size:14px;">{{configuracao.nome}}</td>
                </tr>
                <tr>
                    <td style="font-size:10px;">CNPJ: {{configuracao.cnpj }}</td>
                </tr>
                <tr>
                    <td style="font-size:10px;">Endereço: {{configuracao.endereco}}</td>
                </tr>
                <tr>
                    <td style="font-size:10px;">Telefone: {{configuracao.telefones|default_if_none:""}} - Email: {{configuracao.email|default_if_none:""}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
