{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load app_filters %}
{% load bootstrap %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_pregoes/">Licitações<i class="fa fa-angle-right"></i></a>
    <a href="/base/pregao/{{pregao.id}}/">Pregão {{pregao }}<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block extrajs %}
    <script>
        function submeter_form(campo) {
            window.location = window.location.pathname + "?participante=" + escape( $('#'+campo.id).val());

        }
    </script>
{% endblock %}
{% block content %}
    <div class="pull-right">
        <a class="btn btn-info" href="/base/pregao/{{pregao.id}}/#propostas">Voltar</a>

    </div>
    <br><br>
    <p class="alert alert-info">Faça upload do arquivo com as propostas ou preencha os campos abaixo.</p>
     <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="miolo">
				<div class="row-fluid">
                    <div class="col-xs-12">
                        {{ form|bootstrap }}
                    </div>

                    <div>
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>

                    </div>
		        </div>
                {% if not edicao and selecionou %}
                    <h3>Preencher Proposta Manualmente</h3>
                    <div>
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <th>Item</th>
                                <th>Material</th>
                                <th>Valor Máximo</th>
                                <th>Marca</th>
                                <th>Valor</th>
                            </thead>
                            <tbody>
                            {% for item in itens %}
                                <tr>
                                    <td>{{ item.item }}</td>
                                    <td>{{ item.material }}</td>
                                    <td>{{ item.valor_medio|format_money }}</td>
                                    <td><input name="marcas">{{ item.marca|default_if_none:"-" }}</td>
                                    <td><input name="itens">{{ item.valor }}</td>
                                </tr>


                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                <div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>

                {% elif selecionou %}
                    <h3>Editar Proposta Manualmente</h3>
                    <div>
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <th>Item</th>
                                <th>Material</th>
                                <th>Valor Máximo</th>
                                <th>Marca</th>
                                <th>Valor</th>
                                <th>Opções</th>
                            </thead>
                            <tbody>
                            {% for item in itens %}
                                <tr>
                                    <td>{{ item.item }}</td>
                                    <td>{{ item.item.material }}</td>
                                     <td>{{ item.item.valor_medio }}</td>
                                    <td>{{ item.marca|default_if_none:"-" }}</td>
                                    <td>{{ item.valor }}</td>
                                    <td><a href="/base/editar_proposta/{{ item.id }}/" class="btn btn-success btn-sm">Editar</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}

             </div>
        </form>




{% endblock %}