{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>

    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block content %}


        {% if perms.base.add_pessoafisica %}
            <a href="/admin/base/pessoafisica/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Pessoas</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}
        {% if perms.base.pode_cadastrar_pregao %}
            <a href="/admin/base/comissaolicitacao/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Comissão de Licitação</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}

        <a href="/base/ver_fornecedores/">
            <div class="col-lg-2 col-md-4">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ num_membros }}</div>
                                <div><strong>Fornecedores</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/admin/base/tipounidade/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Unidades de Medida</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% if request.user.is_superuser %}
            <a href="/admin/base/secretaria/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Secretarias</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/admin/base/setor/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Setores</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/base/gerenciar_grupos/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Grupos</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% endif %}



{% endblock %}
