{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/gestao_contratos/2/">Contratos<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block content %}
    <div class="pull-right">
        <a class="btn btn-success" href="/base/gestao_pedidos/2/">Voltar</a>
    </div>
    <br><br>

    <h3>Relatórios</h3>
    <table class="table table-bordered table-condensed table-striped" width="90%">
        <tbody>
            <tr>
                <td><a href="/base/relatorio_info_arp/{{ ata.pk }}/" target="_blank">Informações da Ata de Registro de Preço</a></td>
            </tr>
            <tr>
                <td><a href="/base/relatorio_qtd_disponivel_ata/{{ ata.pk }}/0/" target="_blank">Quantidades Disponíveis</a></td>
            </tr>
            {% if ata.adesao %}

                {% for part in participantes %}
                    <tr>
                        <td><a href="/base/relatorio_qtd_disponivel_ata/{{ ata.pk }}/{{ part.pk }}/" target="_blank">Quantidades Disponíveis - {{ part.razao_social }}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for part in participantes %}
                    <tr>
                        <td><a href="/base/relatorio_qtd_disponivel_ata/{{ ata.pk }}/{{ part.pk }}/" target="_blank">Quantidades Disponíveis - {{ part.fornecedor.razao_social }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td><a href="/base/relatorio_qtd_consumida_ata/{{ ata.pk }}/0/" target="_blank">Quantidades Consumidas</a></td>
            </tr>
            {% if ata.adesao %}
                {% for part in participantes %}
                    <tr>
                        <td><a href="/base/relatorio_qtd_consumida_ata/{{ ata.pk }}/{{ part.pk }}/" target="_blank">Quantidades Consumidas - {{ part.razao_social }} </a></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for part in participantes %}
                    <tr>
                        <td><a href="/base/relatorio_qtd_consumida_ata/{{ ata.pk }}/{{ part.pk }}/" target="_blank">Quantidades Consumidas - {{ part.fornecedor.razao_social }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if solicitacao.get_pregao.tem_item_deserto_fracassado %}
                <tr>
                    <td><a href="/base/relatorio_itens_desertos/{{ solicitacao.get_pregao.id }}/" target="_blank">Relatório de Itens Desertos ou Fracassados</a></td>
                </tr>
            {% endif %}

        </tbody>
    </table>
    <br>
    {%  if ata.anexoataregistropreco_set.exists %}
        <h3>Anexos</h3>
        <table border="2" width="90%" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th width="10%">Data</th>
                        <th>Arquivo</th>
                        <td>Documento Público</td>
                        <th>Cadastrado Por</th>
                        <th>Cadastrado Em</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>

                    {%  for item in ata.anexoataregistropreco_set.all %}

                        <tr>
                            <td>{{ item.nome }}</td>
                            <td>{{ item.data }}</td>
                            <td><a href="/media/{{ item.arquivo }}">Ver arquivo</a></td>
                            <td>
                                {% if item.publico %}
                                    <font color="green">Sim</font>
                                {% else %}
                                    <font color="red">Não</font>
                                {% endif%}
                            </td>
                            <td>{{ item.cadastrado_por.pessoafisica.nome }}</td>
                            <td>{{ item.cadastrado_em }}</td>
                            <td>
                                {% if item.cadastrado_por == request.user %}
                                    <a href="/base/apagar_anexo_pregao/{{ item.id}}/" class="btn btn-danger">Apagar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
        <p class="alert alert-warning">Nenhum anexo cadastrado.</p>
    {% endif %}
{% endblock %}
