{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block extrastyle %}
    <style>
			/** Start: to style navigation tab **/
			.nav {
			  margin-bottom: 18px;
			  margin-left: 0;
			  list-style: none;
			}

			.nav > li > a {
			  display: block;
			}

			.nav-tabs{
			  *zoom: 1;
			}

			.nav-tabs:before,
			.nav-tabs:after {
			  display: table;
			  content: "";
			}

			.nav-tabs:after {
			  clear: both;
			}

			.nav-tabs > li {
			  float: left;
			}

			.nav-tabs > li > a {
			  padding-right: 12px;
			  padding-left: 12px;
			  margin-right: 2px;
			  line-height: 14px;
			}

			.nav-tabs {
			  border-bottom: 1px solid #ddd;
			}

			.nav-tabs > li {
			  margin-bottom: -1px;
			}

			.nav-tabs > li > a {
			  padding-top: 8px;
			  padding-bottom: 8px;
			  line-height: 18px;
			  border: 1px solid transparent;
			  -webkit-border-radius: 4px 4px 0 0;
				 -moz-border-radius: 4px 4px 0 0;
					  border-radius: 4px 4px 0 0;
			}

			.nav-tabs > li > a:hover {
			  border-color: #eeeeee #eeeeee #dddddd;
			}

			.nav-tabs > .active > a,
			.nav-tabs > .active > a:hover {
			  color: #555555;
			  cursor: default;
			  background-color: #ffffff;
			  border: 1px solid #ddd;
			  border-bottom-color: transparent;
			}

			li {
			  line-height: 18px;
			}

			.tab-content.active{
				display: block;
			}

			.tab-content.hide{
				display: none;
			}


			/** End: to style navigation tab **/


		</style>
{% endblock %}

{% block extrajs %}
    <script>
        function submeter_form(campo) {
            window.location = window.location.pathname + "?participante=" + escape( $('#'+campo.id).val()) + "#classificacao";

        }
        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
        });

        $(document).ready(function() {
            $('.nav-tabs > li > a').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor

                //get displaying tab content jQuery selector
                var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');

                //find actived navigation and remove 'active' css
                var actived_nav = $('.nav-tabs > li.active');
                actived_nav.removeClass('active');

                //add 'active' css into clicked navigation
                $(this).parents('li').addClass('active');

                //hide displaying tab content
                $(active_tab_selector).removeClass('active');
                $(active_tab_selector).addClass('hide');

                //show target tab content
                var target_tab_selector = $(this).attr('href');
                $(target_tab_selector).removeClass('hide');
                $(target_tab_selector).addClass('active');
            });


            $('#atas > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#atas').hasClass( "hideInfo")){
                    $('#atas').removeClass('hideInfo');
                }
                else {
                    $('#atas').addClass('hideInfo');
                }
            });

            $('#contratos > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#contratos').hasClass( "hideInfo")){
                    $('#contratos').removeClass('hideInfo');
                }
                else {
                    $('#contratos').addClass('hideInfo');
                }
            });
            $('#classificacao > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#classificacao').hasClass( "hideInfo")){
                    $('#classificacao').removeClass('hideInfo');
                }
                else {
                    $('#classificacao').addClass('hideInfo');
                }
            });


        });


	</script>
{% endblock %}


{% block content %}


    <div>
            {% if form %}
                <fieldset>
                    <legend>Buscar Solicitações</legend>
                    <form action="." method="GET" class="form-horizontal">
                        {% csrf_token %}
                        <div class="row-fluid">
                            <div class="col-xs-3">
                                <div class="controls">{{ form.info|bootstrap }}
                                    {% if form.info.help_text %}
                                        <p class="help-inline"><small>{{ form.info.help_text }}</small></p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-xs-2 col-md-2">
                                <div class="controls">{{ form.ano|bootstrap }}
                                    {% if form.ano.help_text %}
                                        <p class="help-inline"><small>{{ form.ano.help_text }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-2">
                                <div class="controls">{{ form.secretaria|bootstrap }}
                                    {% if form.secretaria.help_text %}
                                        <p class="help-inline"><small>{{ form.secretaria.help_text }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1">
                                <br>
                                <p><button type="submit" class="btn btn-primary">Buscar</button></p>
                            </div>
                        </div>
                    </form>

                </fieldset>
            {% endif %}
        <ul class="nav nav-tabs">

            <li class="active">
                <a data-toggle="tab" href="#contratos">Meus Contratos</a>
            </li>
            <li>
                <a data-toggle="tab" href="#atas">Minhas Atas</a>
            </li>



        </ul>
    </div>
    <div class="tab-content">
        <div id="contratos" class="tab-pane in active">
            {%  if contratos.exists %}
                 <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Nº do Contrato</th>
                        <th>Nº Processo</th>
                        <th>Solicitação de Origem</th>
                        <th>Objeto</th>
                        <th>Data da Assinatura do Contrato</th>
                        <th>Vigência</th>
                        <th>Valor</th>
                        <th>Situação</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in contratos %}
                        <tr>
                            <td>{{ item.numero }}</td>
                            <td>{{ item.solicitacao.processo|default_if_none:"-" }}</td>
                            <td>{{ item.solicitacao.num_memorando }}</td>
                            <td>{{ item.solicitacao.objeto }}</td>
                            <td>{{ item.data_inicio }}</td>
                            <td>{{ item.get_data_fim|default_if_none:"-" }}</td>
                            <td>R$ {{ item.valor|format_money }}</td>
                            <td>{{ item.get_situacao }}</td>
                            <td>
                                <a href="/base/visualizar_contrato/{{item.id}}/" class="btn btn-info btn-sm">Visualizar</a>
                                {% if pode_editar %}
                                    <a href="/admin/base/contrato/{{item.id}}/change/" class="btn btn-default btn-sm">Editar</a>
                                {% endif %}
                            </td>


                        </tr>
                    {% endfor%}

                </tbody>
            </table>
            {% else %}
                    <p class="alert alert-warning">Nenhum contrato cadastrado.</p>
            {% endif %}
        </div>

       <div id="atas" class="tab-pane">


        {%  if atas.exists %}
            <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Nº da ARP</th>
                        <th>Nº Processo</th>
                        <th>Solicitação de Origem</th>
                        <th>Objeto</th>
                        <th>Data da Assinatura do Contrato</th>
                        <th>Vigência</th>
                        <th>Valor</th>
                        <th>Situação</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in atas %}
                        <tr>
                            <td>{{ item.numero }}</td>
                            <td>{{ item.solicitacao.processo|default_if_none:"-" }}</td>
                            <td>{{ item.solicitacao.num_memorando }}</td>
                            <td>{{ item.solicitacao.objeto }}</td>
                            <td>{{ item.data_inicio }}</td>
                            <td>{{ item.data_fim|default_if_none:"-" }}</td>
                            <td>
                                {% if item.valor %}
                                    R$ {{ item.valor|format_money }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ item.get_situacao }}</td>
                            <td>
                                <a href="/base/visualizar_ata_registro_preco/{{item.id}}/" class="btn btn-info">Visualizar</a>
                                {% if pode_editar %}
                                    <a href="/admin/base/contrato/{{item.id}}/change/" class="btn btn-default">Editar</a>
                                {% endif %}
                            </td>


                        </tr>
                    {% endfor%}

                </tbody>
            </table>
        {% else %}
            <p class="alert alert-warning">Nenhuma ata cadastrada.</p>
        {% endif %}
    </div>


{% endblock %}
