{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap static %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_solicitacoes/">Solicitações <i class="fa fa-angle-right"></i></a>
    <a href="/base/itens_solicitacao/{{solicitacao.id}}/">Solicitação N° {{ solicitacao }} <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block content %}
        <fieldset>
            <legend>Baixar Planilha</legend>
            <p class="alert alert-info">Preencha a planilha e faça o upload utilizando formulário abaixo. Tipos de unidades válidas: <b>{{ texto }}</b></p>
            <a href="/media/upload/modelos/preencher_itens.xls" target="_blank" class="btn btn-success">Baixar Planinha</a>
            <br><br>
        </fieldset>
        <fieldset>
            <legend>Fazer Upload da Planilha</legend>
            <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="miolo">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            {{ form|bootstrap }}
                        </div>
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </div>
                 </div>
            </form>
        </fieldset>
    </div>


{% endblock %}