{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% block content %}
    <br>
    {% if tem_solicitacao %}
        <a href="/base/itens_solicitacao/{{ tem_solicitacao.solicitacao.id }}/"><p class="alert alert-warning">Existe uma solicitação pendente de recebimento pela sua secretaria.</p></a>
    {% endif %}
    {% if tem_preencher_itens %}
        <fieldset><legend>Alertas</legend></fieldset>
        {% for item in tem_preencher_itens %}
            <a href="/base/itens_solicitacao/{{ item.id }}/"><p class="alert alert-info">A <b>solicitação {{ item.num_memorando }}</b> está aguardando sua secretaria informar as quantidades dos itens para serem licitados. O prazo é até <b>{{ item.prazo_resposta_interessados }}.</b></p></a>
        {% endfor %}
    {% endif %}

    <fieldset><legend>Menu Inicial</legend></fieldset>
    {% if request.user.is_superuser %}
        <a href="/administracao/">
            <div class="col-lg-2 col-md-4">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ num_membros }}</div>
                                <div><strong>Administração</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% else %}

        {% if perms.base.pode_cadastrar_pregao or eh_ordenador_despesa %}


            <a href="/base/ver_pregoes/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Licitações</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% endif %}

        <a href="/base/ver_solicitacoes/">
            <div class="col-lg-2 col-md-4">

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-file-o fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ num_membros }}</div>
                                <div><strong>Solicitações</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>


        {% if perms.base.pode_cadastrar_solicitacao %}
            <a href="/base/gestao_pedidos/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Gestão de Pedidos</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% endif %}
        {% if perms.base.pode_gerenciar_contrato %}
            <a href="/base/gestao_contratos/">
                <div class="col-lg-2 col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Gestão de Contratos</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% endif %}


    {% endif %}


        {% if not request.user.is_superuser %}

            <a href="/cadastros/">

                <div class="col-lg-2 col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Cadastros</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}


{% endblock %}