{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_solicitacoes/">Solicitações <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ solicitacao }}</a>
{% endblock %}
{% block content %}
    <div class="pull-right">
         {% if recebida_no_setor %}
            <a class="btn btn-success" href="/base/movimentar_solicitacao/{{ solicitacao.pk }}/1/">Enviar</a>
         {% endif %}
         {% if solicitacao.setor_atual == setor_do_usuario and not solicitacao.recebida and solicitacao.tem_movimentacao %}
            <a class="btn btn-success" href="/base/receber_solicitacao/{{ solicitacao.pk }}/">Receber Solicitação</a>
         {% endif %}
         {% if solicitacao.tem_movimentacao %}
            <a class="btn btn-info" href="/base/ver_movimentacao/{{ solicitacao.pk }}/">Ver Movimentação</a>
         {% endif %}
    </div>
    <script>
        function copyToClipboard(elementId) {

                      // Create a "hidden" input
                      var aux = document.createElement("input");

                      aux.setAttribute("value", document.getElementById(elementId).value);
                      // Append it to the body
                      document.body.appendChild(aux);
                      // Highlight its content
                      aux.select();
                      // Copy the highlighted text
                      document.execCommand("copy");
                      // Remove it from the body
                      document.body.removeChild(aux);
                    }
    </script>
    <br><br>

     {% if solicitacao.tipo == solicitacao.LICITACAO %}
         <div class="pull-left">
             {% if perms.base.pode_abrir_processo and  solicitacao.processo %}
                <a href="/base/ver_processo/{{solicitacao.processo.id}}/" class="btn btn-info">Capa do Processo</a>
             {% endif %}
             {% if perms.base.pode_gerenciar_contrato and recebida_no_setor and  solicitacao.get_pregao  and solicitacao.get_pregao.data_homologacao %}
                {% if solicitacao.get_pregao.eh_ata_registro_preco %}
                    <a href="/base/cadastrar_ata_registro_preco/{{solicitacao.id}}/" class="btn btn-success">Criar Ata de Registro de Preço</a>

                {% elif not solicitacao.contrato_set.exists %}
                    <a href="/base/cadastrar_contrato/{{solicitacao.id}}/" class="btn btn-success">Criar Contrato</a>
                {% endif %}
             {% endif %}

             {% if perms.base.pode_cadastrar_solicitacao %}
                {% if solicitacao.situacao == solicitacao.CADASTRADO %}
                    {% if solicitacao.setor_origem == request.user.pessoafisica.setor and not solicitacao.tem_pregao_cadastrado %}

                        <a class="btn btn-success" href="/base/cadastrar_item_solicitacao/{{ solicitacao.pk }}/">Cadastrar Item</a>
                        <a class="btn btn-warning" href="/base/importar_itens/{{ solicitacao.pk }}/">Importar Itens</a>

                        {% if solicitacao.tem_pedidos_outras_secretarias and solicitacao.tem_pedidos_pendentes %}
                            <a class="btn btn-info" href="/base/avaliar_pedidos/{{ solicitacao.pk }}/">Avaliar Pedidos</a>
                        {% endif %}

                    {% endif %}
                    {% if request.user.pessoafisica.setor.secretaria in solicitacao.interessados.all and solicitacao.dentro_prazo_resposta and not ja_aprovou and solicitacao.itemsolicitacaolicitacao_set.exists %}
                        {% if not ja_registrou_preco %}
                            <a class="btn btn-success" href="/base/informar_quantidades/{{ solicitacao.pk }}/">Informar Quantidade de Itens</a>
                        {% else %}
                            <a class="btn btn-info" href="/base/informar_quantidades/{{ solicitacao.pk }}/">Editar Quantidade de Itens</a>
                        {% endif %}
                   {% endif %}
                {% endif %}
             {% endif %}
             {% if perms.base.pode_cadastrar_pesquisa_mercadologica and recebida_no_setor %}
                {% if solicitacao.prazo_aberto %}
                    <a class="btn btn-primary" href="/base/pesquisa_mercadologica/{{ solicitacao.id }}/">Gerar Planilha de Itens</a>
                    <a class="btn btn-warning" href="/base/preencher_pesquisa_mercadologica/{{ solicitacao.id }}/">Preencher Pesquisa</a>
                    <a class="btn btn-danger" href="/base/prazo_pesquisa_mercadologica/{{ solicitacao.id }}/">Fechar para Pesquisa</a>
                {% elif not solicitacao.eh_dispensa or not solicitacao.tem_ordem_compra %}
                    <a class="btn btn-success" href="/base/prazo_pesquisa_mercadologica/{{ solicitacao.id }}/">Abrir para Pesquisa</a>
                {% endif %}

             {% endif %}
             {% if perms.base.pode_cadastrar_pregao and recebida_no_setor and solicitacao.eh_apta and solicitacao.minuta_aprovada %}

                {% if not solicitacao.tem_pregao_cadastrado %}
                    <a class="btn btn-success" href="/base/cadastrar_pregao/{{solicitacao.id}}/">Criar Licitação</a>
                    <a class="btn btn-danger" href="/rejeitar_solicitacao/{{ solicitacao.id }}/">Rejeitar</a>
                {% endif %}
             {% endif %}
             {% if perms.base.pode_cadastrar_pregao and recebida_no_setor and solicitacao.eh_apta and not solicitacao.arquivo_minuta %}
                <a class="btn btn-success" href="/base/cadastrar_minuta/{{solicitacao.id}}/">Cadastrar Minuta</a>
             {% endif %}

             {% if perms.base.pode_avaliar_minuta and recebida_no_setor and not solicitacao.data_avaliacao_minuta and solicitacao.arquivo_minuta %}
                <a class="btn btn-success" href="/base/avalia_minuta/{{ solicitacao.pk }}/1/">Aprovar Minuta</a>
                <a class="btn btn-danger" href="/base/avalia_minuta/{{ solicitacao.pk }}/2/">Reprovar Minuta</a>
             {% endif %}
             {% if perms.base.pode_abrir_processo and not solicitacao.processo and recebida_no_setor %}
                <a class="btn btn-success" href="/base/abrir_processo_para_solicitacao/{{ solicitacao.pk }}/">Abrir Processo</a>

             {% endif %}
              {% if solicitacao.eh_dispensa %}
                {% if perms.base.pode_cadastrar_pesquisa_mercadologica and recebida_no_setor and not solicitacao.tem_ordem_compra and solicitacao.tem_proposta and not solicitacao.prazo_aberto %}
                <a href="/base/gerar_ordem_compra/{{solicitacao.id}}/" class="btn btn-primary">Gerar Ordem de Compra/Serviço</a>
                {% elif perms.base.pode_cadastrar_pesquisa_mercadologica and recebida_no_setor and solicitacao.tem_ordem_compra %}
                    <a href="/base/ver_ordem_compra_dispensa/{{solicitacao.id}}/" class="btn btn-info">Ver Ordem de Compra/Serviço</a>
                {% endif %}

            {% endif %}
             <a class="btn btn-default" href="/base/lista_documentos/{{ solicitacao.pk }}/">Documentos</a>
             {% if solicitacao.prazo_aberto and perms.base.pode_cadastrar_pesquisa_mercadologica and recebida_no_setor %}
                <br><br><b>Link para a pesquisa:</b> <input type="text" size="40" id="link_pesquisa" name="link_pesquisa" value="{{url}}base/preencher_pesquisa_mercadologica/{{ solicitacao.id }}/"><input type="button" class=" btn btn-sm btn-default" value="Copiar" onclick="copyToClipboard('link_pesquisa')">
            {% endif %}



        </div>

        <br><br><br>

        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th width="10%">Memorando</th>
                    {% if solicitacao.processo %}
                        <th>Processo</th>
                    {% endif %}
                    <th>Descrição do Objeto</th>

                    <th>Data de Cadastro</th>

                    <th>Situação</th>
                    {% if perms.base.pode_ver_minuta %}
                        <th>Arquivo da Minuta</th>
                        <th>Situação da Minuta</th>
                        <th>Observação da Minuta</th>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ solicitacao.num_memorando }}</td>
                    {% if solicitacao.processo %}
                        <td>{{ solicitacao.processo }}</td>
                    {% endif %}
                    <td>{{ solicitacao.objeto|truncatechars:250  }}</td>


                    <td>{{ solicitacao.data_cadastro|date:'d/m/Y H:i' }}</td>

                    <td>{{ solicitacao.get_situacao }}</td>
                    {% if perms.base.pode_ver_minuta %}
                        <td>
                            {% if solicitacao.arquivo_minuta %}
                                <a href="/media/{{ solicitacao.arquivo_minuta}}">Ver arquivo</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if solicitacao.minuta_aprovada %}
                                <font color="green">Aprovada</font> (<a href="/media/{{ solicitacao.arquivo_parecer_minuta}}" target="_blank">Parecer</a>)
                            {% elif solicitacao.data_avaliacao_minuta %}
                                <font color="red">Reprovada</font> (<a href="/media/{{ solicitacao.arquivo_parecer_minuta}}" target="_blank">Parecer</a>)
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ solicitacao.obs_avaliacao_minuta|default_if_none:'-' }}
                        </td>
                    {% endif %}
                </tr>
            </thead>
        </table>
        {% if itens.exists %}
            <br>
             <h4>Itens da Solicitação</h4>
             <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Material</th>
                        <th>Unidade</th>
                        <th>Quantidade</th>
                        {% if perms.base.pode_cadastrar_pregao or perms.base.pode_cadastrar_pesquisa_mercadologica and not solicitacao.eh_dispensa %}
                            <th>Valor Médio</th>
                            <th>Total</th>
                        {% endif %}

                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens %}
                        <tr>
                            <td>{{ item.item }}</td>
                            <td>{{ item.material }}</td>
                            <td>{{ item.unidade }}</td>
                            <td>{{ item.quantidade }}</td>
                            {% if perms.base.pode_cadastrar_pregao or  perms.base.pode_cadastrar_pesquisa_mercadologica and not solicitacao.eh_dispensa %}
                                <td>{{ item.valor_medio|format_money }}</td>
                                <td>{{ item.total|format_money }}</td>
                            {% endif %}

                            <td>
                                {% if perms.base.pode_cadastrar_solicitacao and solicitacao.pode_enviar_para_compra %}
                                    {% if solicitacao.setor_origem == request.user.pessoafisica.setor and not solicitacao.tem_pregao_cadastrado %}
                                        <a href="/base/apagar_item/{{item.id}}/" class="btn btn-danger btn-sm">Apagar</a>
                                    {% endif %}
                                    {% if solicitacao.interessados and solicitacao.tem_pedidos_outras_secretarias %}
                                        <a href="/base/ver_pedidos_secretaria/{{item.id}}/" class="btn btn-default btn-sm">Pedidos das Secretarias</a>
                                    {% endif %}

                                {% elif perms.base.pode_cadastrar_pesquisa_mercadologica and recebida_no_setor %}
                                    {% if  not solicitacao.eh_dispensa %}
                                        <a href="/registrar_preco_item/{{item.id}}/" class="btn btn-success btn-sm">Registrar / Editar Valor</a>
                                    {% endif %}
                                    {% if item.tem_pesquisa_registrada %}
                                        <a href="/ver_pesquisa_mercadologica/{{item.id}}/" class="btn btn-info btn-sm">Ver Pesquisa Mercadológica</a>
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}


                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p class="alert alert-warning">Nenhum item cadastrado.</p>
        {% endif %}

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <!-- Content will be loaded here from "remote.php" file -->
                </div>
            </div>
        </div>
    {% else %}
        <div class="pull-left">
            {% if perms.base.pode_abrir_processo and solicitacao.processo %}
                <a href="/base/ver_processo/{{solicitacao.processo.id}}/" class="btn btn-info">Capa do Processo</a>
            {% endif %}
            {% if perms.base.pode_abrir_processo and not solicitacao.processo and recebida_no_setor %}
                <a class="btn btn-success" href="/base/abrir_processo_para_solicitacao/{{ solicitacao.pk }}/">Abrir Processo</a>
            {% endif %}

            {% if perms.base.pode_cadastrar_solicitacao and recebida_no_setor and solicitacao.tem_pedidos_compra %}
                <a href="/base/gerar_pedido_fornecedores/{{solicitacao.id}}/" class="btn btn-success">Gerar Pedidos</a>
            {% elif perms.base.pode_cadastrar_pesquisa_mercadologica and recebida_no_setor and solicitacao.tem_pedidos_compra and not solicitacao.tem_ordem_compra %}
                <a href="/base/gerar_ordem_compra/{{solicitacao.id}}/" class="btn btn-primary">Gerar Ordem de Compra/Serviço</a>
                <a href="/base/cancelar_pedido_compra/{{solicitacao.id}}/" class="btn btn-danger">Cancelar Pedido</a>
            {% elif perms.base.pode_cadastrar_pesquisa_mercadologica and recebida_no_setor and solicitacao.tem_ordem_compra %}
                <a href="/base/ver_ordem_compra/{{solicitacao.id}}/" class="btn btn-info">Ver Ordem de Compra/Serviço</a>
            {% endif %}
            {% if perms.base.pode_gerenciar_contrato and recebida_no_setor and not solicitacao.contrato_set.exists %}
                <a href="/base/cadastrar_contrato/{{solicitacao.id}}/" class="btn btn-success">Criar Contrato</a>
             {% endif %}

            <a class="btn btn-default" href="/base/lista_documentos/{{ solicitacao.pk }}/">Documentos</a>
        </div>
        <br><br>
        <table class="table table-bordered table-condensed table-striped" width="50%">
            <thead>
                <tr>
                    <th>Memorando</th>
                    <th width="20%">Descrição do Objeto</th>

                    <th>Data de Cadastro</th>

                    <th>Situação</th>

                </tr>
                <tr>
                    <td>{{ solicitacao.num_memorando }}
                        {% if solicitacao.processo %}
                            <a href="/base/ver_processo/{{solicitacao.processo.id}}/">(Processo: {{ solicitacao.processo }})</a>
                        {% endif %}
                    </td>
                    <td>{{ solicitacao.objeto|truncatechars:500  }}</td>


                    <td>{{ solicitacao.data_cadastro|date:'d/m/Y H:i' }}</td>

                    <td>{{ solicitacao.get_situacao }}</td>
                </tr>
            </thead>
        </table>

        {% if pedidos.exists %}
            <br>
            <h3>Itens do Pedido</h3>
            <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Material</th>
                        <th>Marca</th>
                        <th>Empresa</th>
                        <th>Valor</th>
                        <th>Quantidade Solicitada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                        {% if eh_lote %}
                            <tr>
                                <td>{{ pedido.item }}</td>
                                <td>{{ pedido.item.material }}</td>
                                <td>{{ pedido.item.get_marca_item_lote }}</td>
                                <td>{{ pedido.item.get_empresa_item_lote }}</td>
                                <td>{{ pedido.item.get_valor_item_lote }}</td>
                                <td>{{ pedido.quantidade }}</td>

                            </tr>

                        {% else %}
                            <tr>
                                <td>{{ pedido.item.item }}</td>
                                <td>{{ pedido.item.item.material }}</td>
                                <td>{{ pedido.item.marca }}</td>
                                <td>{{ pedido.item.participante }}</td>
                                <td>{{ pedido.item.valor }}</td>
                                <td>{{ pedido.quantidade }}</td>

                            </tr>
                        {% endif %}
                    {% endfor %}


                </tbody>
           </table>

        {% endif %}

    {% endif %}

{% endblock %}