{% extends super_template|default:"base_pregao.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block content %}

    <div style="width:50%; float:left">
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <td align="right">
                    {% if item.tem_rodada_aberta and item.eh_ativo and item.ativo %}
                        <a href="/base/cancelar_rodada/{{ item.id }}/" class="btn btn-danger" align="right">Cancelar Rodada</a>
                    {% endif %}
                    {% if item.tem_item_anterior and not item.eh_lote %}
                        <a href="/base/lances_item/{{ item.tem_item_anterior }}/" class="btn btn-info">Item Anterior</a>
                    {% endif %}
                    {% if item.tem_proximo_item and not item.eh_lote %}
                        <a href="/base/avancar_proximo_item/{{ item.id }}/" class="btn btn-warning">Próximo Item</a>
                        <a href="/base/pregao/{{ item.get_licitacao.id }}/#classificacao" class="btn btn-default">Voltar para o Pregão</a>
                    {% elif item.ativo %}
                        <a href="/base/avancar_proximo_item/{{ item.id }}/?ultimo=True/" class="btn btn-warning">Finalizar Lances</a>
                    {% else %}
                        <a href="/base/retomar_lances/{{ item.id }}/" class="btn btn-success">Retomar Lances</a>
                        <a href="/base/avancar_proximo_item/{{ item.id }}/?ultimo=True/" class="btn btn-default">Voltar para o Pregão</a>
                    {% endif %}


                </td>
            </tr>
        </table>
        <table width="60%" align="left" class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Redução Empresa</th>
                    <th>Redução Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>{{ item.get_reducao_empresa|default_if_none:"-" }}</b></td>
                    <td><b>{{ item.get_reducao_total|default_if_none:"-" }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="width:45%; float:right">
        <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    {% if not item.eh_lote %}
                        <th colspan="3"><font size="4">Item {{ item.item }} - Pregão: {{ item.get_licitacao }}</font> - Situação: {{ item.situacao }}<br>Especificação: {{ item.material.nome|truncatechars:170 }}</th>
                    {% else %}
                        <th colspan="3"><font size="4">Lote {{ item.item }} - Pregão: {{ item.get_licitacao }}</font> - Situação: {{ item.situacao }}<br>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Ver Itens do Lote</button>

                            <div id="demo" class="collapse">
                                <br>
                                <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Quantidade</th>
                                            <th>Valor Médio</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in itens_do_lote %}
                                            <tr>
                                                <td>{{ item.material }}</td>
                                                <td>{{ item.quantidade }}</td>
                                                <td>{{ item.valor_medio }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                               </table>
                        </div>
                        </th>
                    {% endif %}
                </tr>
                <tr>


                    <th>Valor Máximo</th>
                    <th>Menor Lance</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>


                    <td><font color="red"><b>{{ item.valor_medio|format_money }}</b></font></td>
                    <td  width="25%"><font color="blue"><b>{{ item.get_lance_minimo_valor|format_money  }}</b></font></td>
                    <td>
                        {% if item.eh_ativo and item.ativo %}
                            <a href="/base/encerrar_itempregao/{{ item.id }}/1/" class="btn btn-warning btn-sm">Deserto</a>
                            <a href="/base/encerrar_itempregao/{{ item.id }}/2/" class="btn btn-danger btn-sm">Fracassado</a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th colspan="4">
                        <form action="." method="post" class="form-horizontal">
                            {% csrf_token %}
                            <table border="0" width="30%">
                                <tr>
                                    {% if item.eh_ativo and item.ativo %}
                                        <td>Opções</td>
                                        <td><a href="/base/lances_item/{{item.id}}/?filtrar=2" class="btn btn-default btn-sm">Todos</a></td>
                                        <td>
                                            <a href="/base/lances_item/{{item.id}}/?filtrar=1" class="btn btn-default btn-sm">Filtrar por 10%</a>
                                        </td>
                                        {% if botao_incluir and item.ativo %}
                                            <td>
                                                <a href="/base/lances_item/{{item.id}}/?filtrar=1&incluir=1" class="btn btn-default btn-sm">Incluir Fornecedor</a>
                                            </td>
                                        {% endif %}
                                    {% endif %}



                                </tr>
                            </table>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>Fornecedor</th>
                    <th>Valor</th>
                    <th>ME/EPP</th>
                    <th>Opções</th>
                </tr>

            </thead>
            <tbody>
                {% for preco in fornecedores_lance %}
                    <tr>
                        <td>
                            {% if not preco.concorre %}
                                {% if preco.desclassificado or preco.desistencia %}
                                    <font color="red">{{ preco.participante }}</font>
                                {% else %}
                                    <font color="orange">{{ preco.participante }}</font>
                                {% endif %}
                            {% else %}
                                {{ preco.participante }}
                            {% endif %}
                        </td>
                        <td width="15%">{{ preco.valor|format_money }}</td>
                        <td>{% if preco.participante.me_epp %}
                                <font color="green">sim</font>
                            {% else %}
                                <font color="red">não</font>
                            {% endif %}
                        </td>
                        <td width="45%">
                            {% if preco.desclassificado %}
                                <font color="red">Desclassificado</font>
                            {% elif preco.desistencia %}
                                <font color="red">Desistente</font>
                            {% else %}
                                {% if item.eh_ativo and item.ativo %}
                                    {% if not preco.concorre and not item.ja_recebeu_lance  %}
                                        <a href="/base/adicionar_por_discricionaridade/{{ preco.id }}/" class="btn btn-warning btn-sm">Incluir</a>
                                    {% endif %}
                                    <a href="/base/remover_participante/{{ preco.id }}/2/" class="btn btn-danger btn-sm">Desistir</a>
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
<div style="width:50%; float:left">


    {% if item.rodadapregao_set.all %}
        {% if item.get_proximo_lance or desempatar %}

            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th colspan="5">Próximo Lance</th>
                    </tr>
                    <tr>
                        <th>Rodada</th>
                        <th>Item</th>
                        <th>Empresa</th>
                        <th>Valor do Lance</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{ item.get_rodada_atual.rodada }}</td>
                    <td>{{ item.item }}</td>
                    <td width="35%">
                        {% if desempatar %}
                            {{ item.get_participante_desempate|default_if_none:'-' }}
                        {% else %}
                            {{ item.get_proximo_lance|default_if_none:'-' }}
                        {% endif %}
                    </td>
                    <td width="25%">
                        <form action="." method="post" class="form-horizontal">
                            {% csrf_token %}


                             <div class="row-fluid">
                                <div class="col-xs-12">
                                    {{ form.lance|bootstrap_inline }}
                                </div>
                             </div>
                    </td>
                    <td>


                        <button type="submit" class="btn btn-success">Salvar</button>
                         </form>
                            {% if item.eh_ativo and item.ativo %}
                                {% if desempatar %}
                                    <a href="/base/declinar_lance/{{ item.get_rodada_atual.id }}/{{ item.id }}/{{ item.get_participante_desempate.id }}/" class="btn btn-danger">Declinar</a>
                                {% else %}
                                    <a href="/base/declinar_lance/{{ item.get_rodada_atual.id }}/{{ item.id }}/{{ item.get_proximo_lance.id }}/" class="btn btn-danger">Declinar</a>
                                {% endif %}
                            {% endif %}
                      </td>
                </tbody>
            </table>
        {% else %}
            <table class="table table-bordered table-condensed table-striped">
            <tr>
                <td align="right">
                    {% if item.eh_ativo and item.ativo %}
                        <a href="/base/rodada_pregao/{{ item.id }}/" class="btn btn-primary">Iniciar Nova Rodada</a>
                    {% endif %}
                </td>
            </tr>
        </table>
            <p class="alert alert-info">
                Os lances da rodada atual (Rodada {{ item.get_rodada_atual.rodada }}) já foram concluídos.
            </p>

        {% endif %}
        {% for key, lances in resultado.items %}
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{key}}">
                Rodada {{key}} (exibir/ocultar lances)
            </a><br>
            <div id="collapse{{key}}" class="panel-collapse in" role="tabpanel">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Rodada</th>
                            <th width="5%">Lance</th>
                            <th width="20%">Valor</th>
                            <th width="40%">Fornecedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if item.lanceitemrodadapregao_set.exists %}
                            {% for lance in lances %}
                               <tr>
                                   <td>{{ key }}</td>
                                   <td>{{ forloop.counter }}°</td>
                                   <td>{% if lance.declinio %}
                                            <font color="red">Declinado</font>
                                       {% else %}
                                        {{ lance.valor|format_money }}
                                        {% if lance.rodada.eh_rodada_atual and item.ativo %}
                                            <a href="/base/alterar_valor_lance/{{ lance.id }}/"> alterar</a>
                                        {% endif %}
                                       {% endif %}
                                   </td>
                                   <td>{{ lance.participante }}</td>
                               </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">Nenhum lance nesta rodada.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        {% endfor %}
    {% else %}
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <td align="right">
                    {% if item.eh_ativo and item.ativo %}
                        <a href="/base/rodada_pregao/{{ item.id }}/" class="btn btn-primary" align="right">Iniciar Nova Rodada</a>
                    {% endif %}
                </td>
            </tr>
        </table>

        <p class="alert alert-warning">
            Nenhum Rodada Cadastrada.


        </p>

    {% endif %}

</div>

{% endblock %}