{% load app_filters %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Lista de Fornecedores</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>



{% endblock %}

{% block content %}
    <center>
         <table border="1" width="100%" cellpadding="5" cellspacing="5">
                <thead>
                    <tr>
                        <th>Razão Social</th>
                        <th>CNPJ</th>

                        <th>Contatos</th>
                    </tr>
                </thead>
                <tbody>
                     {% for fornecedor in fornecedores %}
                        <tr>
                           <td>{{ fornecedor.razao_social }}</td>
                           <td>{{ fornecedor.cnpj }}</td>

                           <td>{{ fornecedor.endereco }}<br>{{ fornecedor.telefones }}<br>{{ fornecedor.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    </center>

<div id="footerblock" align="right">
    Página <pdf:pagenumber></pdf:pagenumber> de <pdf:pagecount></pdf:pagecount>
</div>

{% endblock %}



