
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4;
            margin: 0.3cm;
            @frame footer {
    		    -pdf-frame-content: footerblock;
    		    bottom: 1cm;
    		    margin-left: 1cm;
    		    margin-right: 1cm;
             margin-top: 1cm;
    		    height: 1cm;
		    }



     }

 </style>
{% endblock %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Itens - {{ solicitacao }}</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>



{% endblock %}

{% block content %}


    <table border="1" cellpadding="10" cellspacing="10">
        <thead>
            <th>Item</th>
            {% if pode_ver_preco %}
                <th width="60%">Material/Serviço</th>
            {% else %}
                <th width="75%">Material/Serviço</th>
            {% endif %}
            <th>Unidade</th>
            <th>Qtd.</th>
            {% if pode_ver_preco %}
                <th>Valor Unitário Máximo (R$)</th>
                <th>Total (R$)</th>
                {% if eh_global %}
                    <th>Total Geral (R$)<br><small>contratação global: {{ solicitacao.numero_meses_contratacao_global }} meses</small></th>
                {% endif %}
            {% endif %}
        </thead>
        <tbody>
            {% for item in itens %}
                <tr>
                    <td width="6%">{{ item.item }}</td>
                    {% if pode_ver_preco %}
                        <td width="40%">{{ item.material }}</td>
                        <td width="12%">{{ item.unidade }}</td>
                        <td width="10%">{{ item.quantidade|format_quantidade  }}</td>
                        <td align="right" width="15%">{{ item.valor_medio|format_money }}</td>
                        <td align="right" width="15%">{{ item.get_total|format_money }}</td>
                    {% if eh_global %}
                        <td align="right" width="15%">{{ item.get_total_contratacao_global|format_money }}</td>
                    {% endif %}
                    {% else %}
                        <td width="75%">{{ item.material }}</td>
                        <td width="12%">{{ item.unidade }}</td>
                        <td width="13%">{{ item.quantidade|format_quantidade  }}</td>
                    {% endif %}
                </tr>

            {% endfor %}
            {% if pode_ver_preco %}
                <tr>
                    <td colspan="5" align="right">Total</td>
                    <td align="right">{{total|format_money}}</td>
                    {% if eh_global %}
                        <td align="right">{{total_global|format_money}}</td>
                    {% endif %}

                </tr>
            {% endif %}

        </tbody>
    </table>
    <br><br>


{% endblock %}



