{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load app_filters %}
{% load bootstrap %}
{% load pagination_tags %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_solicitacoes/">Solicitações<i class="fa fa-angle-right"></i></a>
    <a href="/base/itens_solicitacao/{{solicitacao.id}}/">{{ solicitacao }}<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block content %}
    <br>
    <div class="pull-right">
        <a class="btn btn-success" href="/base/cadastrar_documento/{{solicitacao.id}}/">Cadastrar Documento</a>
        <a class="btn btn-default" href="/base/itens_solicitacao/{{solicitacao.id}}/">Voltar</a>
    </div>
    <br>

    <fieldset>
        <legend>Modelos</legend>

        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Arquivo</th>

                </tr>
            </thead>
            <tbody>
                {% if perms.base.pode_cadastrar_solicitacao or perms.base.pode_cadastrar_pesquisa_mercadologica  %}
                    <tr>
                        <td>Modelo de Memorando</td>
                        <td><a class="btn btn-info btn-sm" href="/memorando/{{solicitacao.id}}/" target="_blank">Ver Documento</a></td>
                    </tr>

                    <tr>
                        <td>Modelo de Termo de Referência</td>
                        <td><a class="btn btn-info btn-sm" href="/termo_referencia/{{solicitacao.id}}/" target="_blank">Ver Documento</a></td>
                    </tr>

                    {% if perms.base.pode_cadastrar_pesquisa_mercadologica and solicitacao.tem_proposta %}
                        <tr>
                            <td>Relatório de Propostas</td>
                            <td><a class="btn btn-info btn-sm" href="/relatorio_propostas/{{solicitacao.id}}/" target="_blank">Ver Documento</a></td>
                        </tr>
                    {% endif %}
                    {% if solicitacao.itemsolicitacaolicitacao_set.exists %}
                        <tr>
                            <td>Relação de Materiais da Solicitação</td>
                            <td><a class="btn btn-info btn-sm" href="/lista_materiais/{{solicitacao.id}}/" target="_blank">Ver Documento</a></td>
                        </tr>
                    {% endif %}

                    {% if solicitacao.itemquantidadesecretaria_set.count > 1 %}
                        {% if ve_tudo %}
                            {% for item in solicitacao.get_pedidos_secretarias %}
                                <tr>
                                    <td>Relação de Materiais da Solicitação - Pedido {{ item.secretaria }}</td>
                                    <td><a class="btn btn-info btn-sm" href="/lista_materiais_por_secretaria/{{solicitacao.id}}/{{item.secretaria.id}}/" target="_blank">Ver Documento</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for item in listas %}
                                <tr>
                                    <td>Relação de Materiais da Solicitação - Pedido {{ item.secretaria }}</td>
                                    <td><a class="btn btn-info btn-sm" href="/lista_materiais_por_secretaria/{{solicitacao.id}}/{{item.secretaria.id}}/" target="_blank">Ver Documento</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    {% endif %}

                    {% if solicitacao.get_documentos_contrato %}
                        {% for item in solicitacao.get_documentos_contrato %}
                                <tr>
                                    <td>{{ item.nome }}</td>
                                    <td><a class="btn btn-info btn-sm" href="/media/{{item.arquivo}}" target="_blank">Ver Documento</a></td>
                                </tr>
                            {% endfor %}
                    {% endif %}
                {% endif %}

            </tbody>
        </table>
    </fieldset>

    {% if documentos.exists %}
        <fieldset>
            <legend>Lista de Documentos</legend>

            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cadastrado Em</th>
                        <th>Cadastrado Por</th>
                        <th>Arquivo</th>
                        <th>Opções</th>

                    </tr>
                </thead>
                <tbody>
                    {% autopaginate documentos 10 %}
                    {% paginate %}
                    {% for documento in documentos %}
                       <tr>
                           <td>{{ documento.nome }}</td>
                           <td>{{ documento.cadastrado_em }}</td>
                           <td>{{ documento.cadastrado_por.pessoafisica.nome }}</td>
                           <td><a class="btn btn-info btn-sm" href="/media/{{documento.documento}}">Ver Documento</a></td>
                           <td>
                               {% if documento.cadastrado_por == request.user %}
                                <a class="btn btn-danger btn-sm" href="/base/apagar_documento/{{documento.id}}/">Apagar</a>
                               {% endif %}
                           </td>
                       </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    {% endif %}


{% endblock %}
