{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load pagination_tags %}


{% block content %}
    <script>
        $(document).ready(function () {

    $("#sidebar").mCustomScrollbar({
         theme: "minimal"
    });

    $('#sidebarCollapse').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // close dropdowns
        $('.collapse.in').toggleClass('in');
        // and also adjust aria-expanded attributes we use for the open/closed arrows
        // in our CSS
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });

});
    </script>
    <style>
        /*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/




p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #4A708B;
    color: #fff;
    transition: all 0.3s;
    width: 150px;
        position: relative;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4A708B;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #4A708B;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #4A708Bc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4A708B;
}


.container {
    width: 100%;
    height: 100%;

    margin: auto;
    padding: 10px;
}
.wrapper {
    width: 15%;
    height: 100%;

    float: left;
}
.content {
    margin-left: 15%;
    height: 100%;

}
.column1 {
    float: left;
    width: 20%;
}
.column2 {
    float: left;
    width: 80%;
}
/* Clear floats after the columns */
.container:after {
    content: "";
    display: table;
    clear: both;
}
    </style>
<section class="container">
    <div class="column1">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/base/portal_transparencia/">Início</a>
                </li>
                <li>
                    <a href="/base/baixar_editais/">Editais</a>
                </li>
                <li>
                    <a href="#">Processos</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Licitações <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Dispensa</a>
                        </li>
                        <li>
                            <a href="#">Inexigibilidade</a>
                        </li>
                        <li>
                            <a href="#">Pregão</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </nav>
    </div>
    <!-- Page Content -->
    <div id="content" class="column2">

            UTILIZE O MENU LATERAL PARA TER ACESSO ÀS INFORMAÇÕES.
    </div>



</section>



    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
{% endblock %}
{% block footer %}
    {{ form.media }}

    {{ block.super }}
{% endblock %}