{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load pagination_tags %}


{% block content %}

    <a href="/base/baixar_editais/">
        <div class="col-lg-2 col-md-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ num_membros }}</div>
                            <div><strong>Editais</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="/base/baixar_atas/">
        <div class="col-lg-2 col-md-4">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ num_membros }}</div>
                            <div><strong>Atas de Registro de Preço</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="/base/localizar_processo/">
        <div class="col-lg-2 col-md-4">

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ num_membros }}</div>
                            <div><strong>Processos</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endblock %}
{% block footer %}
    {{ form.media }}

    {{ block.super }}
{% endblock %}