{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% if request.user.pessoafisica %}
    {% block breadcrumbs_class %}administracao{% endblock %}
    {% block breadcrumbs %}
        <a href="/">Início <i class="fa fa-angle-right"></i></a>
        <a href="/base/ver_solicitacoes/">Solicitações <i class="fa fa-angle-right"></i></a>
        <a href="/base/itens_solicitacao/{{pesquisa.solicitacao.id}}/">{{ pesquisa.solicitacao }}<i class="fa fa-angle-right"></i></a>
        <a href="javascript:void(0);">{{ title }}</a>
    {% endblock %}
{% endif %}
{% block extrajs %}
<script>
function exibir_esconder_campo() {
    if ($('#preencher').is(':checked')) {
        $("#preencher_manualmente").show();
        $("#upload").hide();



    } else {
        $("#preencher_manualmente").hide();
        $("#upload").show();

    }

 }


  $(document).ready(function() {

     exibir_esconder_campo();

     $('#preencher').on('change', function(){
        exibir_esconder_campo();
    });
});


</script>
{% endblock %}
{% block content %}
    <input type="checkbox" name="preencher" id="preencher"><font size="4"> Preencher Manualmente</font></input>
    <br><br>
    <div id="upload">
    <fieldset>
        <legend>Enviar planilha da proposta</legend>
        <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="miolo">
				<div class="row-fluid">
                    <div class="col-xs-12">
                        {{ form|bootstrap }}
                    </div>
		        </div>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>

             </div>
        </form>
    </fieldset>
    <br>
    </div>

    <div id="preencher_manualmente">
    <fieldset>
        <legend>Preencher Proposta Manualmente</legend>

    <form action="." method="post" class="form-horizontal" onsubmit="return confirm('Tem certeza que deseja continuar?');" >
            {% csrf_token %}
             <div class="miolo">
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <th>Item</th>
                            <th>Material/Serviço</th>
                            <th>Unidade</th>
                            <th>Marca</th>
                            <th>Valor</th>
                        </thead>
                        <tbody>
                        {% for item in itens %}
                            <tr>
                                <td>{{ item.item }}</td>
                                <td>{{ item.material }}</td>
                                <td>{{ item.unidade }}</td>
                                <td><input name="marcas"></td>
                                <td><input name="itens"></td>
                                <input name="id_item" type="hidden" value="{{ item.id }}">
                            </tr>


                        {% endfor %}
                        <tr><td colspan="5"><br><br></b><b>Validade da Proposta (em dias): <input type="text" name="validade" id="validade" required></b></td><td></td></tr>
                        </tbody>
                    </table>

                </div>


                        <div class="controls">
                            <button type="submit" class="btn btn-primary" >Cadastrar</button>
                        </div>

             </div>
        </form>
    </fieldset>
    </div>



{% endblock %}