{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_pregoes/">Licitações<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block extrastyle %}
    <style>
			/** Start: to style navigation tab **/
			.nav {
			  margin-bottom: 18px;
			  margin-left: 0;
			  list-style: none;
			}

			.nav > li > a {
			  display: block;
			}

			.nav-tabs{
			  *zoom: 1;
			}

			.nav-tabs:before,
			.nav-tabs:after {
			  display: table;
			  content: "";
			}

			.nav-tabs:after {
			  clear: both;
			}

			.nav-tabs > li {
			  float: left;
			}

			.nav-tabs > li > a {
			  padding-right: 12px;
			  padding-left: 12px;
			  margin-right: 2px;
			  line-height: 14px;
			}

			.nav-tabs {
			  border-bottom: 1px solid #ddd;
			}

			.nav-tabs > li {
			  margin-bottom: -1px;
			}

			.nav-tabs > li > a {
			  padding-top: 8px;
			  padding-bottom: 8px;
			  line-height: 18px;
			  border: 1px solid transparent;
			  -webkit-border-radius: 4px 4px 0 0;
				 -moz-border-radius: 4px 4px 0 0;
					  border-radius: 4px 4px 0 0;
			}

			.nav-tabs > li > a:hover {
			  border-color: #eeeeee #eeeeee #dddddd;
			}

			.nav-tabs > .active > a,
			.nav-tabs > .active > a:hover {
			  color: #555555;
			  cursor: default;
			  background-color: #ffffff;
			  border: 1px solid #ddd;
			  border-bottom-color: transparent;
			}

			li {
			  line-height: 18px;
			}

			.tab-content.active{
				display: block;
			}

			.tab-content.hide{
				display: none;
			}


			/** End: to style navigation tab **/


		</style>
{% endblock %}

{% block extrajs %}
    <script>
        function submeter_form(campo) {
            window.location = window.location.pathname + "?participante=" + escape( $('#'+campo.id).val()) + "#classificacao";

        }
        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
        });

        $(document).ready(function() {
            $('.nav-tabs > li > a').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor

                //get displaying tab content jQuery selector
                var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');

                //find actived navigation and remove 'active' css
                var actived_nav = $('.nav-tabs > li.active');
                actived_nav.removeClass('active');

                //add 'active' css into clicked navigation
                $(this).parents('li').addClass('active');

                //hide displaying tab content
                $(active_tab_selector).removeClass('active');
                $(active_tab_selector).addClass('hide');

                //show target tab content
                var target_tab_selector = $(this).attr('href');
                $(target_tab_selector).removeClass('hide');
                $(target_tab_selector).addClass('active');
            });


            $('#fornecedores > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#fornecedores').hasClass( "hideInfo")){
                    $('#fornecedores').removeClass('hideInfo');
                }
                else {
                    $('#fornecedores').addClass('hideInfo');
                }
            });

            $('#propostas > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#propostas').hasClass( "hideInfo")){
                    $('#propostas').removeClass('hideInfo');
                }
                else {
                    $('#propostas').addClass('hideInfo');
                }
            });
            $('#classificacao > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#classificacao').hasClass( "hideInfo")){
                    $('#classificacao').removeClass('hideInfo');
                }
                else {
                    $('#classificacao').addClass('hideInfo');
                }
            });


        });


	</script>
{% endblock %}


{% block content %}
    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th><b>Memorando N°</b></th><td><a href="/base/itens_solicitacao/{{pregao.solicitacao.id}}/">{{ pregao.solicitacao.num_memorando }}</a></td>
            <th><b>Situação</b></th><td>{{ pregao.situacao }}</td>
            <th><b>Critério</b></th><td>{{ pregao.criterio }}</td>
        </tr>
        <tr>
            <th><b>Processo N°</b></th><td>{{ pregao.solicitacao.processo|default_if_none:"-" }}</td>
            <th><b>Tipo de Pregão</b></th><td>{{ pregao.tipo }}</td>
            <th><b>Sessão Inicial</b></th><td>{{ pregao.data_abertura }} às {{ pregao.hora_abertura}}</td>
        </tr>

    </table>

    <br>
     <div class="pull-right">
        <a class="btn btn-default" href="/base/editar_pregao/{{ pregao.id }}/">Editar</a>
        {% if pregao.eh_ativo and not pregao.eh_suspenso %}
            <a class="btn btn-info" href="/base/registrar_ocorrencia_pregao/{{ pregao.pk }}/" target="_blank">Registrar Ocorrência</a>
            {% if pregao.eh_pregao %}
                <a class="btn btn-default" href="/base/suspender_pregao/{{ pregao.pk }}/" target="_blank">Suspender Pregão</a>
            {% else %}
                <a class="btn btn-default" href="/base/suspender_pregao/{{ pregao.pk }}/" target="_blank">Suspender Licitação</a>
            {% endif %}
        {% elif pregao.eh_suspenso %}
            {% if pregao.eh_pregao %}
                <a class="btn btn-default" href="/base/suspender_pregao/{{ pregao.pk }}/?retomar=True/">Retomar Pregão</a>
            {% else %}
                <a class="btn btn-default" href="/base/suspender_pregao/{{ pregao.pk }}/?retomar=True/">Retomar Licitação</a>
            {% endif %}
        {% endif %}
        <br><br>
    </div>
    <br><br>
    <div>

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#anexos">Anexos</a>
            </li>
            {% if eh_lote %}
                <li>
                    <a data-toggle="tab" href="#lotes">Lotes</a>
                </li>

            {% endif %}
            <li>
                <a data-toggle="tab" href="#fornecedores">Fornecedores</a>
            </li>

            <li>
                <a data-toggle="tab" href="#propostas">Propostas</a>
            </li>
            <li>
                <a href="#classificacao">Classificação</a>
            </li>

            {% if pregao.eh_pregao %}
                <li><a href="#homologacao">Adjudicação e Homologação</a></li>
            {% else %}
                <li><a href="#homologacao">Homologação e Adjudicação</a></li>
            {% endif %}
            <!--<li>
                <a href="#historico">Histórico</a>
            </li>-->
            <li>
                <a href="#relatorios">Relatórios</a>
            </li>


        </ul>
    </div>
    <div class="tab-content">
        <div id="anexos" class="tab-pane in active">

            <div class="pull-right">
                <a class="btn btn-primary" href="/base/cadastrar_anexo_pregao/{{pregao.id}}/">Cadastrar Anexo</a>
                <br><br>
            </div>

            <h2>Anexos do Pregão</h2>
            {%  if pregao.anexopregao_set.exists %}
                <table border="2" width="90%" class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th width="10%">Data</th>
                                <th>Arquivo</th>
                                <td>Documento Público</td>
                                <th>Cadastrado Por</th>
                                <th>Cadastrado Em</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Extrato Inicial</td>
                                <td> - </td>
                                <td><a href="/base/extrato_inicial/{{ pregao.pk }}/">Ver arquivo</a></td>
                                <td><font color="red">Não</font></td>
                                <td>Gerado Automaticamente Pelo Sistema</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            {%  for item in pregao.anexopregao_set.all %}

                                <tr>
                                    <td>{{ item.nome }}</td>
                                    <td>{{ item.data }}</td>
                                    <td><a href="/media/{{ item.arquivo }}">Ver arquivo</a></td>
                                    <td>
                                        {% if item.publico %}
                                            <font color="green">Sim</font>
                                        {% else %}
                                            <font color="red">Não</font>
                                        {% endif%}
                                    </td>
                                    <td>{{ item.cadastrado_por.pessoafisica.nome }}</td>
                                    <td>{{ item.cadastrado_em }}</td>
                                    <td>
                                        {% if item.cadastrado_por == request.user %}
                                            <a href="/base/apagar_anexo_pregao/{{ item.id}}/" class="btn btn-danger">Apagar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            {% else %}
                <p class="alert alert-warning">Nenhum anexo cadastrado.</p>
            {% endif %}

        </div>
        {% if eh_lote %}
            <div id="lotes" class="tab-pane">
                <div class="pull-right">
                {% if pregao.eh_ativo and pregao.tem_item_sem_lote %}
                    <a class="btn btn-success" href="/base/criar_lote/{{ pregao.pk }}/">Criar Lote</a>
                {% endif %}
                <br><br>
            </div>
                {% if lotes.exists %}

                    {% for lote in lotes %}
                        <h3>Lote {{ lote.item }}
                            {% if pregao.eh_ativo %}
                            <a class="btn btn-danger btn-sm" href="/base/apagar_lote/{{ lote.pk }}/{{pregao.id}}/">Apagar Lote</a>
                        {% endif %}
                        </h3>

                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Material</th>
                                    <th>Valor</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%  for item in lote.lote.all %}
                                    <tr>

                                        <td>{{ item.lote.item }}.{{item.numero_item}}</td>
                                        <td>{{ item.item.material}}</td>
                                         <td>{{ item.item.valor_medio }}</td>
                                        <td>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}

                {% else %}
                    <br><br>
                    <p class="alert alert-warning">Nenhum lote cadastrado.</p>
                {% endif %}
            </div>
        {% endif %}
        <div id="fornecedores" class="tab-pane">


            <div class="pull-right">
                {% if pregao.eh_ativo %}
                    <a class="btn btn-success" href="/base/cadastra_participante_pregao/{{ pregao.pk }}/">Adicionar Participante</a>
                    <a class="btn btn-primary" href="/base/gerenciar_visitantes/{{ pregao.pk }}/">Gerenciar Visitante</a>
                    <a class="btn btn-warning" href="/base/encerrar_pregao/{{ pregao.pk }}/1/">Deserto</a>
                    <a class="btn btn-danger" href="/base/encerrar_pregao/{{ pregao.pk }}/2/">Fracassado</a>
                {% endif %}
                <br><br>
            </div>
            <h3>Lista de Presentes - Fornecedores Participantes</h3>


                {%  if pregao.participantepregao_set.all %}
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>CNPJ</th>
                                <th>Razão Social</th>
                                <th>ME/EPP</th>
                                <th>Nome do Representante</th>
                                <th>Situação</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%  for item in pregao.participantepregao_set.all %}
                                <tr>

                                    <td>{{ item.fornecedor.cnpj }}</td>
                                    <td>{{ item.fornecedor.razao_social }}</td>
                                    <td>
                                        {% if item.me_epp %}
                                            <font color="green">Sim</font></span>

                                        {% else %}
                                            <font color="red">Não</font></span>

                                        {% endif %}
                                    </td>
                                    <td>{{ item.nome_representante }}</td>
                                    <td>
                                        {% if item.desclassificado %}
                                            <font color="red">Desclassificado</font></span>


                                        {% else %}
                                            <font color="green">Ativo</font></span>


                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if pregao.eh_ativo and recebida_setor %}
                                            <a href="/admin/base/participantepregao/{{ item.id }}/" class="btn btn-info btn-sm">Editar</a>
                                            {% if item.pode_remover %}
                                                <a href="/base/remover_participante_pregao/{{ item.id }}/" class="btn btn-danger btn-sm">Remover</a>
                                            {% endif %}
                                            {% if not item.desclassificado %}
                                                {% if pregao.eh_pregao %}
                                                    <a href="/base/desclassificar_do_pregao/{{ item.id }}/" class="btn btn-danger btn-sm">Desclassificar</a>
                                                {% else %}
                                                    <a href="/base/desclassificar_do_pregao/{{ item.id }}/" class="btn btn-danger btn-sm">Inabilitar</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>


                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="alert alert-warning">Nenhum participante cadastrado.</p>
                {% endif %}


        </div>
        <div id="propostas" class="tab-pane">
            <div class="pull-right">
                <!-- <a class="btn btn-primary" href="/admin/base/itempregao/add/">Adicionar Item ao Pregão</a> -->
                {% if pregao.eh_ativo %}
                    <a class="btn btn-primary" href="/base/cadastra_proposta_pregao/{{pregao.id}}/">Cadastrar Propostas</a>
                {% endif %}
                <a class="btn btn-success" href="/base/planilha_propostas/{{ pregao.solicitacao.id }}/">Baixar Planilha Modelo</a>
                <br><br>
            </div>
            <h3>Itens do Pregão</h3>
            {%  if pregao.solicitacao.itemsolicitacaolicitacao_set.exists %}

                {% if eh_lote %}
                    {% if lotes.exists %}

                        {% for lote in lotes %}
                            <h4>Lote {{ lote.item }}
                            {% if pregao.eh_ativo and  lote.ativo and lote.tem_lance and pregao.eh_pregao %}
                                <a class="btn btn-success btn-sm" href="/base/lances_item/{{ lote.id }}/" class="is_popup" title="Lances">Registrar Lances</a>
                            {% elif pregao.eh_ativo and lote.tem_lance and pregao.eh_pregao  %}
                                <a class="btn btn-default btn-sm" href="/base/lances_item/{{ lote.id }}/" class="is_popup" title="Lances">Ver Lances</a>
                            {% endif %}
                            </h4>

                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Valor</th>
                                        <th width="25%">Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%  for item in lote.lote.all %}
                                        <tr>

                                            <td>{{ item.item }}</td>
                                            <td>{{ item.item.valor_medio }}</td>
                                            <td>
                                                <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" href="/base/propostas_item/{{ item.item.id }}/"  title="Propostas">Ver Propostas</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <table border="2" width="90%" class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Material</th>
                                <th>Unidade</th>
                                <th>Quantidade</th>
                                <th>Valor Médio</th>
                                <th>Total</th>

                                <th width="25%">Opções</th>
                            </tr>

                        </thead>
                        <tbody>
                            {%  for item in itens_pregao_unidades %}

                                <tr>
                                    <td>{{ item.item }}</td>
                                    <td>{{ item.material }}</td>
                                    <td>{{ item.unidade }}</td>
                                    <td>{{ item.quantidade }}</td>
                                    <td>{{ item.valor_medio|format_money }}</td>
                                    <td>{{ item.get_total|format_money }}</td>

                                    <td>
                                        <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" href="/base/propostas_item/{{ item.id }}/"  title="Propostas">Ver Propostas</a>

                                        {% if pregao.eh_ativo and  item.ativo and pregao.eh_pregao %}
                                            <a class="btn btn-success btn-sm" href="/base/lances_item/{{ item.id }}/" class="is_popup" title="Lances">Registrar Lances</a>
                                        {% elif pregao.eh_ativo and pregao.eh_pregao %}
                                            <a class="btn btn-default btn-sm" href="/base/lances_item/{{ item.id }}/" class="is_popup" title="Lances">Ver Lances</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}



            {% else %}
                <p class="alert alert-warning">Nenhum item cadastrado.</p>
            {% endif %}


        </div>
        <div id="classificacao" class="tab-pane">
            <h2>Resultado do Pregão</h2>
            {% if not pregao.eh_pregao and not pregao.tem_resultado %}
                {% if pregao.tem_proposta and recebida_setor %}
                    <div class="pull-right">
                        <a href="/base/gerar_resultado_licitacao/{{ pregao.id }}/" class="btn btn-success">Gerar Resultado</a>
                    </div>
                {% else %}
                    <p class="alert alert-warning">Nenhuma proposta cadastrada.</p>
                {% endif %}
            {% endif %}
            {%  if pregao.solicitacao.itemsolicitacaolicitacao_set.exists %}
                <form action="." method="post" class="form-horizontal">
                    {% csrf_token %}
                     <div class="miolo">
                        <div class="row-fluid">
                            <div class="col-xs-12">
                                {{ form|bootstrap }}
                            </div>
                        </div>
                     </div>
                </form>
                {% if itens_pregao.exists %}
                    {% if buscou and pregao.eh_ativo and recebida_setor %}
                        <div class="pull-right">
                            {% if pregao.eh_pregao %}
                                <a href="/base/resultado_alterar_todos/{{ pregao.id }}/{{ participante.id }}/1/" class="btn btn-warning">Inabilitar</a>
                            {% endif %}
                            <a href="/base/resultado_alterar_todos/{{ pregao.id }}/{{ participante.id }}/2/" class="btn btn-danger">Desclassificar</a>
                            <br><br>
                        </div>
                    {% endif %}

                    {% if eh_lote %}
                        {% for lote in itens_pregao %}
                            <h2>Lote {{lote.item}}</h2>
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Empresa Vencedora</th>
                                        {% if eh_maior_desconto %}
                                            <th>Desconto</th>
                                        {% else %}
                                            <th>Valor</th>
                                        {% endif %}
                                        <th>Itens do Lote</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {% if lote.tem_empate or lote.ganhou_com_valor_acima %}
                                                <font color="red">{{ lote.get_vencedor.participante.fornecedor|default_if_none:"-" }}
                                                {% if lote.ganhou_com_valor_acima %}
                                                    <br>* Venceu com valor acima do valor máximo.
                                                {% endif %}
                                                {% if lote.tem_empate %}
                                                    <br>* Este item possui classificados com empate. Consulte a classificação completa.
                                                {% endif %}
                                                </font>
                                            {% else %}
                                                {{ lote.get_vencedor.participante.fornecedor|default_if_none:"-" }}
                                            {% endif %}
                                        </td>
                                        {% if eh_maior_desconto %}
                                            <td>{{ lote.get_total_lance_ganhador|format_money }}%</td>

                                        {% else %}
                                            <td>{{ lote.get_total_lance_ganhador|format_money }}</td>
                                        {% endif %}

                                        <td>
                                            <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Quantidade</th>
                                                        <th>Valor Máximo</th>
                                                        <th>Valor Unitário Proposto</th>
                                                        <th>Valor Total Proposto</th>
                                                        <th>Valor Unitário Final</th>
                                                        <th>Valor Total Final</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in lote.get_itens_do_lote %}
                                                        <tr>
                                                            <td>{{ item }}</td>
                                                            <td>{{ item.quantidade }}</td>
                                                            <td>{{ item.valor_medio }}</td>
                                                            <td>{{ item.get_valor_unitario_proposto|format_money }}</td>
                                                            <td>{{ item.get_valor_total_proposto|format_money }}</td>
                                                            <td>{{ item.get_valor_unitario_final|format_money|default_if_none:"não informado" }} {% if item.get_valor_unitario_final and recebida_setor %}<a href="/base/editar_valor_final/{{ item.id}}/{{ pregao.id }}/?participante={{ participante.id }}">(Editar)</a>{% endif %}</td>
                                                            <td>{{ item.get_valor_item_lote|format_money|default_if_none:"não informado" }} </td>

                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td colspan="6"><b>Total</b></td><td>{{ lote.get_valor_total_item_lote|format_money }}</td>
                                                    </tr>
                                                </tbody>
                                           </table>
                                        </td>
                                        <td>

                                            {% if recebida_setor %}
                                                <a href="/base/informar_valor_final_itens_lote/{{lote.id}}/{{pregao.id}}/" class="btn btn-success btn-sm">Informar Valor Final</a>
                                            {% endif %}


                                            {% if lote.tem_empate and recebida_setor  %}
                                                <a href="/base/desempatar_item/{{ lote.id }}/" class="btn btn-success btn-sm">Desempatar</a>
                                            {% endif %}
                                            {% if lote.tem_resultado %}
                                                <a class="btn btn-info btn-sm" href="/base/resultado_classificacao/{{ lote.id }}/"  title="Classificação">Classificação Completa</a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        {% endfor %}


                    {% else %}
                        <table border="2" width="90%" class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Material</th>
                                    <th>Marca</th>
                                    <th>Unidade</th>
                                    <th>Quantidade</th>
                                    {% if eh_maior_desconto %}
                                        <th>Desconto</th>
                                    {% else %}
                                        <th>Valor</th>
                                        <th>Total</th>
                                    {% endif %}

                                    <th>Empresa Vencedora</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if pregao.tem_empate_ficto %}
                                    <center><h3><font color="red">Empate ficto entre os concorrentes.</font></h3></center>
                                {% endif %}
                                {%  for item in itens_pregao %}

                                    <tr>
                                        <td>{{ item.item }}</td>
                                        <td>{{ item.material }}</td>
                                        <td>{{ item.get_vencedor.marca|default_if_none:"-" }}</td>
                                        <td>{{ item.unidade }}</td>
                                        <td>{{ item.quantidade }}</td>
                                        <td>
                                            {% if item.get_vencedor %}
                                                {{ item.get_vencedor.get_valor }}
                                            {% else %}
                                                -
                                            {% endif %}
                                            </td>
                                        {% if not eh_maior_desconto %}
                                            <td>{{ item.get_total_lance_ganhador|format_money }}</td>
                                        {% endif %}
                                        <td>
                                            {% if item.tem_empate or item.ganhou_com_valor_acima %}
                                                <font color="red">{{ item.get_vencedor.participante.fornecedor|default_if_none:"-" }}
                                                {% if item.ganhou_com_valor_acima %}
                                                    <br>* Venceu com valor acima do valor máximo.
                                                {% endif %}
                                                </font>
                                            {% else %}
                                                {{ item.get_vencedor.participante.fornecedor|default_if_none:"-" }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if pregao.eh_ativo %}
                                                {% if item.tem_resultado %}
                                                    <a class="btn btn-info btn-sm" href="/base/resultado_classificacao/{{ item.id }}/"  title="Classificação">Classificação Completa</a>
                                                    {% if item.ganhou_com_valor_acima and recebida_setor %}
                                                        <a href="/base/encerrar_itempregao/{{ item.id }}/2/2/" class="btn btn-danger btn-sm">Fracassado</a>
                                                    {% endif%}

                                                {% elif item.pode_gerar_resultado and pregao.eh_pregao and recebida_setor  %}
                                                    <a href="/base/gerar_resultado/{{ item.id }}/" class="btn btn-success btn-sm">Gerar Resultados</a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                                {% if item.tem_empate and recebida_setor %}
                                                    <a href="/base/desempatar_item/{{ item.id }}/" class="btn btn-success btn-sm">Desempatar</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% else %}
                    <p class="alert alert-info">nenhum resultado.</p>
                {% endif %}
            {% else %}
                <p class="alert alert-warning">Nenhum item cadastrado.</p>
            {% endif %}

        </div>
        <div id="homologacao" class="tab-pane">
            {% if not pregao.data_revogacao and recebida_setor %}
                <div class="pull-right">
                    <a href="/base/revogar_pregao/{{ pregao.id }}/" class="btn btn-danger">Revogar</a>
                    <br><br>
                </div>
                <br><br>
                {% if pregao.tem_resultado %}
                    {% if pregao.eh_pregao %}
                        <fieldset>
                            <legend>Adjudicação</legend>
                            {% if not pregao.data_adjudicacao and recebida_setor %}
                                <a href="/base/registrar_adjudicacao/{{ pregao.pk }}/" class="btn btn-success">Registrar Adjudicação</a>
                            {% else %}
                                <a href="/base/termo_adjudicacao/{{ pregao.pk }}/" class="btn btn-info" target="_blank">Ver Termo de Adjudicação</a>
                                <a href="/base/registrar_adjudicacao/{{ pregao.pk }}/" class="btn btn-default" target="_blank">Editar Termo de Adjudicação</a>
                            {% endif %}
                        </fieldset>

                    {% endif %}
                    <br>
                    <fieldset>
                        <legend>Homologação</legend>
                        {% if not pregao.data_adjudicacao and not pregao.eh_pregao and not pregao.pode_homologar %}
                            <a href="/base/liberar_licitacao_homologacao/{{ pregao.pk }}/" class="btn btn-success">Liberar Homologação</a>
                        {% endif %}
                        {% if pregao.arquivo_homologacao %}
                            {% if pregao.eh_pregao %}
                                <a href="/media/{{pregao.arquivo_homologacao}}" class="btn btn-info" target="_blank">Ver Termo de Homologação</a>
                            {% else %}
                                <a href="/media/{{pregao.arquivo_homologacao}}" class="btn btn-info" target="_blank">Ver Termo de Homologação e Adjudicação</a>
                            {% endif%}
                        <br><br>
                        Ordenador de Despesa: {{ pregao.ordenador_despesa }}
                        {% elif pregao.data_adjudicacao %}
                            <p class="alert alert-info">Aguardando a Homologação pelo ordenador de despesas.</p>
                        {% else %}
                            <p class="alert alert-info">Aguardando Adjudicação.</p>
                        {% endif %}

                    </fieldset>
                {% else %}
                    <p class="alert alert-warning">A classificação deste pregão ainda não foi gerada.</p>
                {% endif %}
            {% elif pregao.data_revogacao %}
                <p class="alert alert-danger">Pregão revogado.</p>
            {% endif %}


        </div>

        <div id="historico" class="tab-pane">


            <h2>Histórico do Pregão</h2>
            {%  if pregao.historicopregao_set.exists %}
                <table border="2" width="90%" class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th width="20%">Data</th>
                                <th>Observação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%  for item in pregao.historicopregao_set.all %}
                                <tr>
                                    <td>{{ item.data }}</td>
                                    <td>{{ item.obs }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            {% else %}
                <p class="alert alert-warning">Nenhum registro cadastrado.</p>
            {% endif %}

        </div>
        <div id="relatorios" class="tab-pane">


            <h2>Relatórios do Pregão</h2>

                <table border="2" width="90%" class="table table-bordered table-condensed table-striped">

                    <tbody>
                        <tr>
                            <td><a href="/base/relatorio_dados_licitacao/{{ pregao.pk }}/" target="_blank">Dados da Licitação/Procedimento</a></td>
                        </tr>
                        <tr>
                            <td><a href="/base/extrato_inicial/{{ pregao.pk }}/" target="_blank">Extrato Inicial</a></td>
                        </tr>

                        <tr>
                            <td><a href="/base/relatorio_lista_download_licitacao/{{ pregao.pk }}/" target="_blank">Lista de Interessados no Edital</a></td>
                        </tr>

                        <tr>
                            <td><a href="/base/relatorio_lista_participantes/{{ pregao.id }}/" target="_blank">Lista de Participantes</a></td>
                        </tr>
                        {% if pregao.tem_proposta %}
                            <tr>
                                <td><a href="/base/relatorio_propostas_pregao/{{ pregao.id }}/" target="_blank">Relatório de Propostas</a></td>
                            </tr>
                        {% endif %}


                        {% if pregao.visitantepregao_set.exists %}
                            <tr>
                                <td><a href="/base/relatorio_lista_visitantes/{{ pregao.id }}/" target="_blank">Lista de Visitantes</a></td>
                            </tr>
                        {% endif %}
                        {% if pregao.eh_pregao and pregao.tem_lance_registrado %}
                            <tr>
                                <td><a href="/base/relatorio_lances_item/{{ pregao.id }}/" target="_blank">Relatório de Lances por Item</a></td>
                            </tr>
                        {% endif %}
                        {%  if pregao.tem_resultado %}
                            <tr>
                                <td><a href="/base/ata_sessao/{{ pregao.id }}/" target="_blank">Ata da Sessão</a></td>
                            </tr>
                            <tr>
                                <td><a href="/base/relatorio_resultado_final/{{ pregao.id }}/" target="_blank">Resultado Final - Geral</a></td>
                            </tr>
                            {% if pregao.eh_pregao %}
                                <tr>
                                    <td><a href="/base/relatorio_resultado_final_por_vencedor/{{ pregao.id }}/" target="_blank">Resultado Final - Por Vencedor</a></td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><a href="/base/relatorio_classificacao_por_item/{{ pregao.id }}/" target="_blank">Resultado Final - Classificação por Item</a></td>
                            </tr>
                            <tr>
                                <td><a href="/base/relatorio_economia/{{ pregao.id }}/" target="_blank">Relatório de Economia Alcançada</a></td>
                            </tr>


                        {% endif %}

                        {% if pregao.tem_ocorrencia %}
                            <tr>
                                {% if pregao.eh_pregao %}
                                    <td><a href="/base/relatorio_ocorrencias/{{ pregao.id }}/" target="_blank">Ocorrências Durante o Pregão</a></td>
                                {% else %}
                                    <td><a href="/base/relatorio_ocorrencias/{{ pregao.id }}/" target="_blank">Ocorrências Durante a Licitação</a></td>
                                {% endif %}
                            </tr>
                        {% endif %}

                    </tbody>
                </table>

        </div>
    </div>



    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <!-- Content will be loaded here from "remote.php" file -->
            </div>



        </div>
    </div>

{% endblock %}
