{% extends super_template|default:"admin/base_modal.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block content %}
        <h2>{{ titulo }}</h2>
        <table  class="table table-bordered table-condensed table-striped">
            <tr>
                <th width="10%"><b>Especificação</b></th>
                <td>{{ item.material.nome }}</td>
            </tr>
            <tr>
                <th><b>Valor Médio</b></th>
                <td>{{ item.valor_medio }}</td>
            </tr>
        </table>
        {% if itens.exists %}
            <h3>Valor dos Fornecedores</h3>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <th>Fornecedor</th>
                    <th>Marca</th>
                    {% if eh_modalidade_desconto %}
                        <th>Desconto</th>
                    {% else %}
                        <th>Valor</th>
                    {% endif %}
                    <th>Situação</th>
                </thead>
                <tbody>
                    {% for item in itens %}
                        <tr>
                            <td>{{ item.participante }}</td>
                            <td>{{ item.marca }}</td>
                            {% if eh_modalidade_desconto %}
                                <td>{{ item.valor }}%</td>
                            {% else %}
                                <td>{{ item.valor|format_money }}</td>
                            {% endif %}
                            <td>{{ item.get_situacao_valor|safe }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p class="alert alert-warning">Nenhuma proposta cadastrada.</p>
        {% endif %}



{% endblock %}