{% load app_filters %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Relatório Gerencial de Situação</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>



{% endblock %}

{% block content %}
<center>
    <table border="1" width="100%" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th width="15%">Pregão</th>
                    <th width="20%">Memorando</th>
                    <th width="50%">Objeto</th>
                    <th width="20%">Modalidade</th>
                    <th width="20%">Situação</th>
                    <th width="20%">Abertura do Certame</th>
                    <th width="15%">Valor</th>

                </tr>
            </thead>
            <tbody>
                {% for pregao in pregoes %}
                   <tr>
                       <td>{{ pregao.num_pregao }}</td>
                       <td>{{ pregao.solicitacao.num_memorando }}</td>
                       <td>{{ pregao.objeto }}</td>
                       <td>{{ pregao.modalidade }}</td>
                       <td>{{ pregao.get_situacao }}</td>
                       <td>{{ pregao.data_abertura }} às {{pregao.hora_abertura}}</td>
                       <td>{{ pregao.get_valor_total|format_money }}</td>
                   </tr>
                {% endfor %}
                <tr><td colspan="6">Total</td><td>{{ total|format_money }} ({{ total|format_numero_extenso }})</td></tr>
            </tbody>
        </table>
</center>

{% endblock %}



