{% load app_filters %}

{% block content %}
    <h1 class="page-header">
        {% include "cabecalho.html" %}
        <center>
            <font size="4">Lista de Itens Desertos ou Fracassados - {{ pregao }}</font><br><font size="2">Gerado em {{ data_emissao }}</font>
        </center>
    </h1>
    <center>

        <table border="1" width="100%" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th width="8%">Item</th>
                    <th width="60%">Descrição</th>
                    <th width="20%">Unidade</th>
                    <th width="15%">Quantidade</th>
                    <th width="15%">Situação</th>

                </tr>
            </thead>
            <tbody>
                {%  for item in itens %}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td>{{ item.material }}</td>
                        <td>{{ item.unidade }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>{{ item.situacao }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </center>

    <div id="footerblock" align="right">
        Página <pdf:pagenumber></pdf:pagenumber> de <pdf:pagecount></pdf:pagecount>
    </div>


{% endblock %}



