{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4 landscape;
            margin: 0.3cm;
            @frame footer {
    		    -pdf-frame-content: footerblock;
    		    bottom: 1cm;
    		    margin-left: 1cm;
    		    margin-right: 1cm;
             margin-top: 1cm;
    		    height: 1cm;
		    }



     }

 </style>
{% endblock %}


{% block content %}
<center>

    {% for key, lances in resultado.items %}
            {% if lances.lance %}


                {% block content_title %}
                    <br>
                    <h1 class="page-header">
                        {% include "cabecalho.html" %}
                        <center><font size="4">Relatório de Economia Alcançada - {{ pregao }}</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
                    </h1>


                {% endblock %}



                {% if forloop.first %}

                    <table border="1" align="center" width="95%" cellpadding="5" cellspacing="5">
                        <tr>
                            <th colspan="4"><font size="6">Demonstrativo Final</font></th>
                        </tr>
                        <tr>
                            <td>Total Previsto: <b>R$ {{ total_previsto_geral|format_money }}</b></td>
                            <td>Total Final: <b>R$ {{ total_final_geral|format_money }}</b></td>
                            <td>Total Desconto: <b>R$ {{ total_desconto_geral }}</b></td>
                            <td>Total Economizado: <b>R$ {{ total_economizado_geral|format_money }}</b></td>
                        </tr>
                    </table>
                    <br><br>

                {% endif %}
                <h2>Fornecedor: {{ key }}</h2>
                {% if eh_lote %}
                    <table border="1" width="100%" cellpadding="5" cellspacing="5">
                        <thead>
                            <tr>
                                <th>Lote</th>
                                <th>Itens do Lote</th>
                                <th>Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            {%  for item in lances.lance %}

                                <tr>
                                    <td>{{ item.item }}</td>
                                    <td>
                                        {% for item in item.get_itens_do_lote %}
                                            {{ item }}<br>
                                        {% endfor %}
                                    </td>
                                    <td>R$ {{ item.get_total_lance_ganhador|format_money  }}</td>


                                </tr>
                            {% endfor %}
                            {% if eh_lote %}
                                <tr><td colspan="2" align="right"><b>Total</b></td><td><b>R$ {{ lances.total|format_money  }}</b></td></tr>
                            {% else %}
                                <tr><td colspan="7" align="right"><b>Total</b></td><td><b>R$ {{ lances.total|format_money  }}</b></td></tr>
                            {% endif %}
                        </tbody>
                    </table>

                {% else %}
                    <table border="1" width="100%" cellpadding="5" cellspacing="5">
                        <thead>
                            <tr>
                                <th width="7%">Item</th>
                                <th>Material</th>
                                <th width="20%">Marca</th>


                                <th width="15%">Valor Previsto</th>
                                <th width="15%">Valor Final</th>
                                <th width="11%">Desconto</th>
                                <th width="15%">Valor Economizado</th>


                            </tr>
                        </thead>
                        <tbody>
                            {%  for item in lances.lance %}

                                <tr>
                                    <td>{{ item.item }}</td>
                                    <td>{{ item.material}}</td>
                                    <td>{{ item.get_vencedor.marca|default_if_none:"-" }}</td>
                                    <td>{{ item.get_valor_medio_total|format_money }}</td>
                                    <td>{{ item.get_valor_final_total|format_money }}</td>
                                    <td>{{ item.get_reducao_total }}</td>
                                    <td>{{ item.get_economizado|format_money }}</td>


                                </tr>
                            {% endfor %}
                            <tr><td colspan="3" align="right"><b>Total</b></td><td><b>R$ {{ lances.total_previsto|format_money  }}</b></td><td><b>R$ {{ lances.total|format_money  }}</b></td><td><b>{{ lances.total_desconto_porcento  }}</b></td><td><b>R$ {{ lances.total_final|format_money  }}</b></td></tr>

                        </tbody>
                    </table>
                {% endif %}
                {% if not forloop.last %}
                    <pdf:nextpage />
                {% endif %}

            {% endif %}
    {% endfor %}

</center>


<div id="footerblock" align="right">
   Página <pdf:pagenumber> de <pdf:pagecount>
</div>




{% endblock %}



