{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4 landscape;
            margin: 0.5cm;
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 9cm;
                margin-right: 1cm;
                height: 1cm;
            }


     }

 </style>
{% endblock %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Classificação Final - Pregão {{ pregao }}</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>



{% endblock %}
{% block content %}

<center>
    {% for key, lances in resultado.items %}
            {% if lances %}
                {% if eh_lote %}
                    <h2>Lote: {{ key }}</h2>
                    {% for num, item in itens.items %}
                            <table border="0" align="center" width="55%" cellpadding="5" cellspacing="5">
                                <font size="2">
                                <tr><td>Composição do Lote</td></tr>
                                {% for it in item %}
                                    <tr><td>{{ it }}</td></tr>
                                {% endfor %}
                                    </font>
                            </table>

                    {% endfor %}
                {% else %}
                    <h2>Item: {{ key }}</h2>
                {% endif %}
                <table border="1" width="95%" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th width="5%">Ordem</th>
                            <th>Situação</th>
                            {% if not eh_lote %}
                                <th>Marca</th>
                            {% endif %}
                            {% if eh_maior_desconto %}
                                <th>Desconto</th>
                            {% else %}
                                <th>Valor</th>
                            {% endif %}
                            <th>Empresa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for item in lances %}

                            <tr>
                                <td>{{ item.ordem }}</td>
                                <td>{{ item.situacao }}</td>
                                {% if not eh_lote %}
                                    <td>{{ item.marca }}</td>
                                {% endif %}
                                <td>{{ item.get_valor }}</td>
                                <td>{{ item.participante }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <pdf:nextpage />
            {% endif %}
    {% endfor %}
</center>





<div id="footerContent" align="right">
   Página <pdf:pagenumber>
</div>

{% endblock %}



