{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4 landscape;
            margin: 0.3cm;
            @frame footer {
    		    -pdf-frame-content: footerblock;
    		    bottom: 1cm;
    		    margin-left: 1cm;
    		    margin-right: 1cm;
             margin-top: 1cm;
    		    height: 1cm;
		    }



     }

 </style>
{% endblock %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Relatório Gerencial de Situação</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>



{% endblock %}

{% block content %}
<center>
    <table border="1" width="100%" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th width="15%">Pregão</th>
                    <th width="20%">Memorando</th>
                    <th width="50%">Objeto</th>
                    <th width="20%">Situação</th>
                    <th width="20%">Abertura das Propostas</th>
                    <th width="20%">Responsável</th>
                    <th width="15%">Valor</th>

                </tr>
            </thead>
            <tbody>
                {% for pregao in pregoes %}
                   <tr>
                       <td>{{ pregao.num_pregao }}</td>
                       <td>{{ pregao.solicitacao.num_memorando }}</td>
                       <td>{{ pregao.solicitacao.objeto }}</td>
                       <td>{{ pregao.get_situacao }}</td>
                       <td>{{ pregao.data_abertura }} às {{pregao.hora_abertura}}</td>
                       <td>{{ pregao.responsavel }}</td>
                       <td>{{ pregao.get_valor_total|format_money }}</td>
                   </tr>
                {% endfor %}
                <tr><td colspan="6">Total</td><td>{{ total|format_money }}</td></tr>
            </tbody>
        </table>


{% endblock %}



