{% load app_filters %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
      <center><font size="4">Dados da {{ ata }}<br>{{ secretaria }}</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>

{% endblock %}

{% block content %}
    <center>
            <table border="1" width="100%" cellpadding="5" cellspacing="5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th width="60%">Item</th>

                        <th>Quantidade Inicial</th>
                        <th>Quantidade Consumida</th>
                        <th>Saldo</th>

                    </tr>
                </thead>

                <tbody>

                    {% for key, dados in resultado.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ dados.material }}</td>
                            <td>{{ dados.qtd_inicial|format_quantidade  }}</td>

                            <td>{{ dados.qtd_consumido|format_quantidade  }}</td>
                            <td>{{ dados.saldo|format_quantidade  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </center>

{% endblock %}
