{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4 landscape;
            margin: 0.3cm;
            @frame footer {
    		    -pdf-frame-content: footerblock;
    		    bottom: 1cm;
    		    margin-left: 1cm;
    		    margin-right: 1cm;
             margin-top: 1cm;
    		    height: 1cm;
		    }



     }

 </style>
{% endblock %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Relatório Gerencial - {{ titulo }} - {{ situacao }}</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>



{% endblock %}

{% block content %}
<center>
    <table border="1" width="100%" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th width="10%">Número</th>
                    <th width="10%">Memorando</th>
                    <th width="35%">Objeto</th>
                    <th width="10%">Situação</th>
                    <th width="15%">Valor Global</th>
                    <th width="15%">Saldo Disponível</th>
                    <th width="20%">Vigência</th>

                </tr>
            </thead>
            <tbody>

                {% for contrato in contratos %}
                   <tr>
                       <td>{{ contrato.numero }}</td>
                       <td>{{ contrato.solicitacao.num_memorando }}</td>
                       <td>{{ contrato.solicitacao.objeto }}<br><b>Fornecedor:</b> {{ contrato.get_fornecedor}}</td>
                       <td>{{ contrato.get_situacao }}</td>
                       <td>{{ contrato.get_valor_total|format_money }}</td>
                       <td>{{ contrato.get_saldo_disponivel|format_money }}</td>
                       <td>{{ contrato.data_inicio }} à {{ contrato.data_fim }}</td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}



