{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4 landscape;
            margin: 0.3cm;
            margin-bottom: 0.7cm;
            margin-top: 0.3cm;
            @frame footer {
    		    -pdf-frame-content: footerblock;
    		    bottom: 1cm;
    		    margin-left: 1cm;
    		    margin-right: 1cm;
                margin-top: 1cm;
    		    height: 1cm;
		    }

     }

 </style>
{% endblock %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Dados da {{ ata }}</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>



{% endblock %}

{% block content %}
<center>
    <table width="100%" border="1" align="right" cellpadding="5" cellspacing="5">
        <thead>
            <tr>
                <th>Nº da Solicitação</th>
                <th>Nº Processo</th>
                {% if ata.adesao %}
                    <th>Nº do Ofício</th>
                    <th>Órgão de Origem</th>
                {% endif %}
                <th>Início da Vigência</th>
                <th>Término da Vigência</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ ata.solicitacao.num_memorando }}</td>
                <td>{{ ata.solicitacao.processo|default_if_none:"-" }}</td>

                {% if ata.adesao %}
                    <td>{{ ata.num_oficio }}</td>
                    <td>{{ ata.orgao_origem|default_if_none:"-" }}</td>
                {% endif %}
                <td>{{ ata.data_inicio }}</td>
                <td>{{ ata.data_fim|default_if_none:"-" }}</td>
                <td>{{ ata.get_situacao }}</td>
            </tr>

        </tbody>
   </table>
   <br>



   <table border="1" width="100%" cellpadding="5" cellspacing="5">
       <tr>
           <td width="15%"><b>Objeto:</b></td><td align="left">{{ ata.solicitacao.objeto }}</td>
       </tr>
   </table>
   <br>
        <h3>Itens da Ata</h3>
        {% if ata.solicitacao.eh_lote %}
            <table border="1" width="100%" cellpadding="5" cellspacing="5">

                <tbody>

                    <tr>
                        <td>

                            {% for lote in ata.solicitacao.get_lotes %}

                                <table border="1" width="100%" cellpadding="5" cellspacing="5">
                                    <thead>
                                        <tr><th colspan="7">{{ lote }}</th></tr>
                                        <tr>
                                            <th>Item</th>
                                            <th>Material/Serviço</th>
                                            <th>Marca</th>
                                            <th>Unidade</th>
                                            <th>Empresa</th>
                                            <th>Valor</th>
                                            <th>Quantidade Inicial</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for opcao in lote.get_itens_do_lote %}
                                            <tr>
                                                {% if ata.adesao %}
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ opcao.material|truncatechars:500 }}</td>
                                                {% else %}
                                                    <td>{{ opcao }}</td>
                                                    <td>{{ opcao.material|truncatechars:500 }}</td>
                                                {% endif %}
                                                <td>{{ opcao.get_item_arp.marca|default_if_none:"-" }}</td>
                                                <td>{{ opcao.get_item_arp.unidade|default_if_none:"-" }}</td>
                                                {% if ata.adesao %}
                                                    <td>{{ opcao.get_item_arp.fornecedor }}</td>
                                                {% else %}
                                                    <td>{{ opcao.get_item_arp.participante }}</td>
                                                {% endif %}
                                                <td>{{ opcao.get_item_arp.valor|format_money }}</td>
                                                <td>{{ opcao.get_item_arp.quantidade|format_quantidade }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}

                        </td>
                    </tr>

                </tbody>
            </table>
        {% else %}
            <table border="1" width="100%" cellpadding="5" cellspacing="5">
                <thead>

                    <tr>
                        <th>Item</th>
                        <th>Material/Serviço</th>
                        <th>Marca</th>
                        <th>Unidade</th>
                        <th>Empresa</th>
                        <th>Valor</th>
                        <th>Quantidade Inicial</th>
                        <th>Total</th>

                    </tr>
                </thead>
                <tbody>
                    {% for opcao in ata.itemataregistropreco_set.all %}
                        <tr>
                            {% if ata.adesao %}
                                <td>{{ forloop.counter }}</td>
                                <td>{{ opcao.material|truncatechars:500 }}</td>
                            {% else %}
                                <td>{{ opcao.item }}</td>
                                <td>{{ opcao.item.material|truncatechars:500 }}</td>
                            {% endif %}
                            <td>{{ opcao.marca|default_if_none:"-" }}</td>
                            <td>{{ opcao.unidade|default_if_none:"-" }}</td>
                            {% if ata.adesao %}
                                <td>{{ opcao.fornecedor }}</td>
                            {% else %}
                                <td>{{ opcao.participante }}</td>
                            {% endif %}
                            <td>{{ opcao.valor|format_money }}</td>
                            <td>{{ opcao.quantidade|format_quantidade }}</td>
                            <td>{{ opcao.get_total|format_money }}</td>

                        </tr>
                    {% endfor %}

                    <tr>
                         <td colspan="7">Total</td>
                         <td>{{ total|format_money }}</td>
                     </tr>
                </tbody>
            </table>

        {% endif %}

    <br>
   {% if pedidos.exists %}

        <h3>Pedidos da Ata</h3>
        <table border="1" width="100%" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th width="80%">Material/Serviço</th>
                    <th>Fornecedor</th>
                    <th>Quantidade Solicitada</th>
                    <th>Saldo Atual da Secretaria</th>

                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>
                            {% if pedido.item.material %}
                                {{ pedido.item.material }}
                            {% else %}
                                {{ pedido.item.item.material }}
                            {% endif %}
                        </td>
                        <td>
                            {% if pedido.item.fornecedor %}
                                {{ pedido.item.fornecedor.razao_social }}
                            {% else %}
                                {{ pedido.item.participante.fornecedor.razao_social }}
                            {% endif %}
                        </td>
                        <td>{{ pedido.quantidade|format_quantidade }}</td>
                        <td>{{ pedido.item.get_quantidade_disponivel|format_quantidade }}</td>
                    </tr>
                {% endfor %}
             </tbody>
        </table>


    {% endif %}


</center>





<div id="footerblock" align="right">
   Página <pdf:pagenumber> de <pdf:pagecount>
</div>

{% endblock %}



