{% load bootstrap %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4 landscape;
            margin: 0.5cm;



     }

 </style>
{% endblock %}
{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Lista de Presentes - {{ pregao }}</font><br><font size="3">Fornecedores Participantes</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>

{% endblock %}


{% block content %}
<center>
    <table border="1" width="95%" cellpadding="5" cellspacing="5">
        <thead>
            <tr>
                <th width="20%">CNPJ/CPF</th>
                <th>Razão Social</th>
                <th  width="8%">ME/EPP</th>
                <th>Representante</th>

            </tr>
        </thead>
        <tbody>
            {%  for item in participantes %}

                <tr>
                    <td>{{ item.fornecedor.cnpj }}</td>
                    <td>{{ item.fornecedor.razao_social }}</td>
                    <td>{{ item.me_epp|yesno }}</td>
                    <td><br>-------------------------------------------------------------------------------<br>
                        {{ item.nome_representante }}<br>CPF: {{ item.cpf_representante}}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
        </center>







{% endblock %}



