{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>

    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block content %}
    <fieldset>

        <div>

            <a href="/base/anexo_10/">
                <div class="col-lg-2 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Anexo 10</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/base/anexo_11/">
                <div class="col-lg-2 col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Anexo 11</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/base/anexo_11/">
                <div class="col-lg-2 col-md-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_membros }}</div>
                                    <div><strong>Anexo 12</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </fieldset>

{% endblock %}
