{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4 landscape;
            margin: 0.3cm;
            margin-bottom: 0.7cm;
            margin-top: 0.3cm;
            @frame footer {
    		    -pdf-frame-content: footerblock;
    		    bottom: 1cm;
    		    margin-left: 1cm;
    		    margin-right: 1cm;
                margin-top: 1cm;
    		    height: 1cm;
		    }

     }

 </style>
{% endblock %}

{% block content_title %}
    <br>
  <h1 class="page-header">
    {% include "cabecalho.html" %}
    <center><font size="4">Resultado Final - {{ pregao }}</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
  </h1>



{% endblock %}

{% block content %}
<center>
    <table border="1" width="100%" cellpadding="5" cellspacing="5">
        <thead>
            {% if eh_lote %}
                <tr>
                    <th width="7%">Lote</th>
                    <th>Itens do Lote</th>
                    {% if not pregao.eh_credenciamento %}
                        <th>Empresa Vencedora</th>
                    {% endif %}
                    <th width="20%">Total</th>

                </tr>

            {% else %}
                <tr>
                    <th width="7%">Item</th>
                    <th>Material/Serviço</th>
                    <th width="15%">Unidade</th>
                    <th width="13%">Qtd</th>
                    {% if not pregao.eh_credenciamento %}
                        <th width="25%">Vencedora</th>
                    {% endif %}

                    {% if eh_maior_desconto %}
                        <th width="20%">Valor Médio</th>
                        <th width="20%">Desconto</th>
                    {% else %}
                        <th width="20%">Valor Unit.</th>
                        <th width="20%">Total</th>
                    {% endif %}

                </tr>
            {% endif %}
        </thead>
        <tbody>
            {%  for item in itens_pregao %}


                {% if eh_lote %}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td>
                            {% for item in item.get_itens_do_lote %}
                                {{ item }}<br>
                            {% endfor %}
                        </td>
                        <td>{{ item.get_vencedor.participante.fornecedor|default_if_none:"-" }}</td>
                        {% if not eh_maior_desconto %}
                            <td>R$ {{ item.get_total_lance_ganhador|format_money  }}</td>
                        {% endif %}
                    </tr>

                {% else %}

                    <tr>
                        <td>{{ item.item }}</td>
                        <td style="text-align: left;">{{ item.material }} - MARCA: {{ item.get_vencedor.marca|default_if_none:"-" }}</td>
                        <td>{{ item.unidade }}</td>
                        <td>{{ item.quantidade|format_quantidade  }}</td>
                        {% if not pregao.eh_credenciamento %}
                            <td>{{ item.get_vencedor.participante.fornecedor|default_if_none:"-" }}</td>
                        {% endif %}
                        {% if eh_maior_desconto %}
                            <td>R$ {{ item.valor_medio|format_money }}</td>
                            <td>{{ item.get_vencedor.get_valor }}</td>
                        {% else %}
                            {% if not pregao.eh_credenciamento %}
                                <td>{{ item.get_vencedor.get_valor }}</td>
                                <td>R$ {{ item.get_total_lance_ganhador|format_money  }}</td>
                            {% else %}
                                <td>R$ {{ item.valor_medio|format_money }}</td>
                                <td>R$ {{ item.get_total_lance_ganhador|format_money  }}</td>
                            {% endif %}
                       {% endif %}


                    </tr>
                {% endif %}
            {% endfor %}
            {% if not eh_maior_desconto %}
                {% if eh_lote %}
                    {% if not pregao.eh_credenciamento %}
                        <tr><td colspan="2" align="right"><b>Total</b></td><td colspan="2"><b>R$ {{ total|format_money }} ({{ total|format_numero_extenso }})</b></td></tr>
                    {% else %}
                        <tr><td colspan="2" align="right"><b>Total</b></td><td><b>R$ {{ total|format_money }} ({{ total|format_numero_extenso }})</b></td></tr>
                    {% endif %}
                {% else %}
                    {% if not pregao.eh_credenciamento %}
                        <tr><td colspan="2" align="right"><b>Total</b></td><td colspan="5"><b>R$ {{ total|format_money  }} ({{ total|format_numero_extenso }})</b></td></tr>
                    {% else %}
                        <tr><td colspan="2" align="right"><b>Total</b></td><td colspan="4"><b>R$ {{ total|format_money  }} ({{ total|format_numero_extenso }})</b></td></tr>
                    {% endif %}
                {% endif %}
            {% endif %}

        </tbody>
    </table>
    <br><br>
    {% if observacao %}
        <font color="red">*Obs: {{ observacao }}</font>
    {% endif %}
        </center>





<div id="footerblock" align="right">
   Página <pdf:pagenumber> de <pdf:pagecount>
</div>

{% endblock %}



