{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4;
            margin: 0.3cm;



     }

 </style>
{% endblock %}


{% block content %}
<center>
        {% block content_title %}

        <h1 class="page-header">
            {% include "cabecalho.html" %}
        </h1>
        <center><h2>{{ pregao.modalidade }} - {{ pregao.num_pregao }}</h2></center>
        <table border="0" width="100%" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <td align="left" width="30%"><b>Secretaria de Origem</b></td>
                    <td align="left">{{ pregao.solicitacao.setor_origem.secretaria }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>Objeto da Licitação</b></td>
                    <td align="left">{{ pregao.objeto }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>Número do Processo</b></td>
                    <td align="left">{{ pregao.solicitacao.processo|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>Comissão</b></td>
                    <td align="left">{{ pregao.comissao|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>Modalidade</b></td>
                    <td align="left">{{ pregao.modalidade|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>Fundamento legal</b></td>
                    <td align="left">{{ pregao.fundamento_legal|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>Critério de Julgamento</b></td>
                    <td align="left">{{ pregao.tipo|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>Critério de Adjudicação</b></td>
                    <td align="left">{{ pregao.criterio|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>MPE – Aplicação Da LCN 123/06</b></td>
                    <td align="left">{{ pregao.aplicacao_lcn_123_06|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <td align="left" width="30%"><b>Objeto - Tipo</b></td>
                    <td align="left">{{ pregao.objeto_tipo|default_if_none:"-" }}</td>
                </tr>
            </thead>
        </table>
        <h2>Dados Financeiros</h2>
        <table border="1" cellpadding="5" cellspacing="5" width="95%" align="center">
            <thead>
                <tr>
                    <td align="left" width="20%"><b>Valor Total Orçado</b></td>
                    <td align="left" width="20%"><b>Recurso Próprio</b></td>
                    <td align="left" width="20%"><b>Recurso Transferido (Federal)</b></td>
                    <td align="left" width="20%"><b>Recurso Transferido (Estadual)</b></td>
                    <td align="left" width="20%"><b>Recurso Transferido (Municipal)</b></td>

                </tr>

                <tr>
                    <td align="left">{{ pregao.valor_total|default_if_none:"-" }}</td>
                    <td align="left">{% if pregao.recurso_proprio %} {{ pregao.recurso_proprio }}{% else %}-{% endif %}</td>
                    <td align="left">{% if pregao.recurso_federal %}{{ pregao.recurso_federal}}{% else %}-{% endif %}</td>
                    <td align="left">{% if pregao.recurso_estadual %}{{ pregao.recurso_estadual }}{% else %}-{% endif %}</td>
                    <td align="left">{% if pregao.recurso_municipal %}{{ pregao.recurso_municipal }}{% else %}-{% endif %}</td>
                </tr>


            </thead>
        </table>

        <h2>Cronograma</h2>
        <table border="1" cellpadding="5" cellspacing="5" width="95%" align="center">
            <thead>
                <tr>
                    <td align="left" width="25%"><b>Início da Retirada do Edital</b></td>
                    <td align="left" width="25%"><b>Data de Término da Retirada do Edital</b></td>
                    <td align="left" width="50%"><b>Abertura do Certame</b></td>

                </tr>

                <tr>
                    <td align="left">{{ pregao.data_inicio }}</td>
                    <td align="left">{{ pregao.data_termino }}</td>
                    <td align="left"><b>Data/hora: </b>{{ pregao.data_abertura }} às {{ pregao.hora_abertura }}<br><b>Local:</b> {{ pregao.local }}</b><br><b>Responsável:</b> {{ pregao.responsavel }}</td>

                </tr>


            </thead>
        </table>




        {% endblock %}





</center>

{% endblock %}



