{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4 landscape;
            margin: 0.5cm;
            @frame footer {
                -pdf-frame-content: footerblock;
                bottom: 0cm;
                margin-left: 9cm;
                margin-right: 1cm;
                height: 1cm;
            }


     }

 </style>
{% endblock %}


{% block content %}

<center>
    {% for key, lances in resultado.items %}
            {% if lances %}
                {% block content_title %}
                    <br>
                  <h1 class="page-header">
                    {% include "cabecalho.html" %}
                    <center><font size="4">Classificação Final - {{ pregao }}</font><br><font size="2">Gerado em {{ data_emissao }}</font></center>
                  </h1>



                {% endblock %}
                {% if eh_lote %}
                    <h2>Lote: {{ key }}</h2>



                    <table border="0" align="center" width="55%" cellpadding="5" cellspacing="5">
                        <font size="2">
                        <tr><td>Composição do Lote</td></tr>

                            {% for num, item in itens.items %}
                                {% for it in item %}
                                    {% if key == num %}
                                        <tr><td>{{  it }}</td></tr>
                                    {% endif %}
                                {% endfor %}

                            {% endfor %}
                        </font>
                    </table>



                {% else %}
                    <h2>Item: {{ key }}</h2>
                {% endif %}
                <table border="1" width="95%" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th width="5%">Ordem</th>
                            <th>Empresa</th>

                            {% if not eh_lote %}
                                <th>Marca</th>
                            {% endif %}
                            {% if eh_maior_desconto %}
                                <th>Desconto</th>
                            {% else %}
                                <th>Valor</th>
                            {% endif %}
                            <th>Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for item in lances %}

                            <tr>
                                <td>{{ item.ordem }}</td>
                                <td>{{ item.participante }}</td>

                                {% if not eh_lote %}
                                    <td>{{ item.marca }}</td>
                                {% endif %}
                                <td>{{ item.get_valor }}</td>
                                <td>{{ item.situacao }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if not forloop.last %}
                    <pdf:nextpage />
                {% endif %}
            {% endif %}
    {% endfor %}
</center>





<div id="footerblock" align="right">
   Página <pdf:pagenumber> de <pdf:pagecount>
</div>

{% endblock %}



