{% load app_filters %}
{% block content %}
    <h1 class="page-header">
        {% include "cabecalho.html" %}
        <center>
            <font size="4">{{ solicitacoes.count }} Solicitações Encontradas</font>
        </center>
    </h1>
    <center>
        <div id="headerblock" align="right">

        </div>
        <table border="1" width="95%" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>Memorando</th>
                    <th>Setor Atual</th>
                    <th>Objeto</th>
                    <th>Tipo</th>
                    <th>Situação</th>


                </tr>
            </thead>
            <tbody>
                {% for solicitacao in solicitacoes %}
                   <tr>

                       <td width="20%">{{ solicitacao.num_memorando }}<br><small>Cadastrado em: {{ solicitacao.data_cadastro|date:'d/m/Y H:i' }}</small></td>
                       <td width="20%">{{ solicitacao.setor_atual }}</td>
                       <td width="40%">{{ solicitacao.objeto }}</td>
                       <td width="15%">{% if solicitacao.tipo == solicitacao.COMPRA %}
                            Compra
                           {% else %}
                            {{ solicitacao.tipo_aquisicao }}
                           {% endif %}
                       </td>
                       <td width="25%">{{ solicitacao.get_situacao }}</td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>


    <div id="footerblock" align="right">
        Página <pdf:pagenumber></pdf:pagenumber> de <pdf:pagecount></pdf:pagecount>
    </div>


{% endblock %}



