{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap static %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>

    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block content %}
        <p class="alert alert-info"> Faça o download da planilha, preencha e faça o envio pelo formulário abaixo. Tipos de unidades válidas: <b>{{ texto }}</b></p>
        <a href="/base/planilha_pesquisa_mercadologica/{{ pesquisa.solicitacao.id }}/" target="_blank">Baixar Documento</a>
        <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="miolo">
				<div class="row-fluid">
                    <div class="col-xs-12">
                        {{ form|bootstrap }}
                    </div>
		        </div>

                <div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>

             </div>
        </form>
    </div>


{% endblock %}