{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap static %}
{% if request.user.pessoafisica %}
    {% block breadcrumbs_class %}administracao{% endblock %}
    {% block breadcrumbs %}
        <a href="/">Início <i class="fa fa-angle-right"></i></a>
        <a href="/base/ver_solicitacoes/">Solicitações <i class="fa fa-angle-right"></i></a>
        <a href="/base/itens_solicitacao/{{pesquisa.solicitacao.id}}/">{{ pesquisa.solicitacao }}<i class="fa fa-angle-right"></i></a>
        <a href="javascript:void(0);">{{ title }}</a>
    {% endblock %}
{% endif %}
{% block content %}
        <p class="alert alert-danger"><font size="4">ATENÇÃO!!! Sua proposta só será válida se você anexar o documento assinado. Clique no botão 'baixar documento', faça o download do documento, assine o documento, faça o upload do documento assinado e clique em 'Cadastrar'.</font></p>
        <a href="/base/imprimir_pesquisa/{{ pesquisa.id }}/" target="_blank" class="btn btn-success">Baixar Documento</a>
        <br><br>
        <fieldset>
            <legend>Upload do Documento Assinado</legend>
            <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="miolo">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            {{ form|bootstrap }}
                        </div>
                    </div>

                        <div>
                            <div class="controls">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </div>

                 </div>
            </form>
        </fieldset>
    </div>


{% endblock %}
