{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_solicitacoes/">Solicitações <i class="fa fa-angle-right"></i></a>
    <a href="/base/itens_solicitacao/{{solicitacao.id}}/">{{ solicitacao }} <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block content %}
        <div class="pull-right">
            <a class="btn btn-info" href="/base/itens_solicitacao/{{solicitacao.id}}/">Voltar</a>
            <br><br>
        </div>
       {% if movimentos.exists %}
            <table border="2" class="table table-bordered table-condensed table-striped">
                <thead>
                    <th>Setor Origem</th>
                    <th>Data de Envio</th>
                    <th>Enviado Por</th>
                    <th>Setor Destino</th>
                    <th>Data de Recebimento</th>
                    <th>Recebido Por</th>
                    <th>Observações</th>
                </thead>
                <tbody>
                    {% for mov in movimentos %}
                        <tr>
                            <td>{{ mov.setor_origem }}</td>
                            <td>{{ mov.data_envio|date:'d/m/Y H:i' }}</td>
                            <td>{{ mov.enviado_por.pessoafisica.nome }}</td>
                            <td>{{ mov.setor_destino|default_if_none:'-' }}</td>
                            <td>{{ mov.data_recebimento|date:'d/m/Y H:i' }}</td>
                            <td>{{ mov.recebido_por.pessoafisica.nome|default_if_none:'-' }}</td>
                            <td>{{ mov.obs|default_if_none:'-' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-warning">Nenhuma movimentação.</p>
        {% endif %}



{% endblock %}