{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_solicitacoes/">Solicitações<i class="fa fa-angle-right"></i></a>
    <a href="/base/itens_solicitacao/{{item.solicitacao.id}}/">{{item.solicitacao }}<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block content %}
        <div class="pull-right">
            <a class="btn btn-info" href="/base/itens_solicitacao/{{item.solicitacao.id}}/">Voltar</a>

        </div>
        <br><br>
        <h2>{{ titulo }}</h2>
        <table  width=100% class="table table-bordered table-condensed table-striped">
            <tr>
                <th width="10%"><b>Item</b></th>
                <th width="10%"><b>Material</b></th>
            </tr>
            <tr>
                <td>{{ item.item }}</td>
                <td>{{ item.material }}</td>
            </tr>
        </table>
        {% if pesquisas.exists %}
            <h3>Valores das Pesquisas</h3>
            <table border="2" class="table table-bordered table-condensed table-striped">
                <thead>
                    <th>Origem</th>
                    <th>Marca</th>
                    <th>Valor Máximo</th>
                    <th>Situação</th>
                    <th>Proposta</th>
                </thead>
                <tbody>
                    {% for pesquisa in pesquisas %}
                        <tr>
                            <td>
                                {{ pesquisa.pesquisa.origem }}:
                                {% if pesquisa.pesquisa.origem == pesquisa.pesquisa.ATA_PRECO %}
                                    <b>N° {{ pesquisa.pesquisa.numero_ata}} (Vigência: {{ pesquisa.pesquisa.vigencia_ata|date:'d/m/Y' }})</b>
                                {% else %}
                                    <b>{{ pesquisa.pesquisa.razao_social }}</b>
                                {% endif %}
                            </td>
                            <td>{{ pesquisa.marca }}</td>
                            <td>{{ pesquisa.valor_maximo }}</td>
                            <td>
                                {% if pesquisa.ativo %}
                                    <font color="green">Ativo</font>
                                {% else %}
                                    <font color="red">Rejeitado ({{pesquisa.motivo_rejeicao}})</font>
                                {% endif%}
                            </td>
                            <td>
                                {% if pesquisa.pesquisa.arquivo %}
                                    <a href="/media/{{ pesquisa.pesquisa.arquivo }}" class="btn btn-default btn-sm" target="_blank">Visualizar</a>

                                {% endif %}
                                {% if pesquisa.ativo and perms.base.pode_cadastrar_solicitacao %}
                                    <a href="/base/rejeitar_pesquisa/{{pesquisa.id}}/" class="btn btn-danger btn-sm">Rejeitar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="2"><b>Valor Médio - Informado</b></th>
                        <td><font color="blue"><b>{{ item.get_valor_medio_pesquisa|format_money|default_if_none:'-' }}</b></font></td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Valor Médio - Envio de Proposta</b></th>
                        <td><font color="blue"><b>{{ item.get_valor_medio_envio_pesquisa|format_money|default_if_none:'-' }}</b></font></td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-warning">Nenhuma proposta cadastrada.</p>
        {% endif %}



{% endblock %}