{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block extrastyle %}
    <style>
			/** Start: to style navigation tab **/
			.nav {
			  margin-bottom: 18px;
			  margin-left: 0;
			  list-style: none;
			}

			.nav > li > a {
			  display: block;
			}

			.nav-tabs{
			  *zoom: 1;
			}

			.nav-tabs:before,
			.nav-tabs:after {
			  display: table;
			  content: "";
			}

			.nav-tabs:after {
			  clear: both;
			}

			.nav-tabs > li {
			  float: left;
			}

			.nav-tabs > li > a {
			  padding-right: 12px;
			  padding-left: 12px;
			  margin-right: 2px;
			  line-height: 14px;
			}

			.nav-tabs {
			  border-bottom: 1px solid #ddd;
			}

			.nav-tabs > li {
			  margin-bottom: -1px;
			}

			.nav-tabs > li > a {
			  padding-top: 8px;
			  padding-bottom: 8px;
			  line-height: 18px;
			  border: 1px solid transparent;
			  -webkit-border-radius: 4px 4px 0 0;
				 -moz-border-radius: 4px 4px 0 0;
					  border-radius: 4px 4px 0 0;
			}

			.nav-tabs > li > a:hover {
			  border-color: #eeeeee #eeeeee #dddddd;
			}

			.nav-tabs > .active > a,
			.nav-tabs > .active > a:hover {
			  color: #555555;
			  cursor: default;
			  background-color: #ffffff;
			  border: 1px solid #ddd;
			  border-bottom-color: transparent;
			}

			li {
			  line-height: 18px;
			}

			.tab-content.active{
				display: block;
			}

			.tab-content.hide{
				display: none;
			}


			/** End: to style navigation tab **/


		</style>
{% endblock %}
{% block extrajs %}
    <script>
        function submeter_form(campo) {
            window.location = window.location.pathname + "?participante=" + escape( $('#'+campo.id).val()) + "#classificacao";

        }
        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
        });

        $(document).ready(function() {
            $('.nav-tabs > li > a').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor

                //get displaying tab content jQuery selector
                var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');

                //find actived navigation and remove 'active' css
                var actived_nav = $('.nav-tabs > li.active');
                actived_nav.removeClass('active');

                //add 'active' css into clicked navigation
                $(this).parents('li').addClass('active');

                //hide displaying tab content
                $(active_tab_selector).removeClass('active');
                $(active_tab_selector).addClass('hide');

                //show target tab content
                var target_tab_selector = $(this).attr('href');
                $(target_tab_selector).removeClass('hide');
                $(target_tab_selector).addClass('active');
            });


            $('#fornecedores > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#fornecedores').hasClass( "hideInfo")){
                    $('#fornecedores').removeClass('hideInfo');
                }
                else {
                    $('#fornecedores').addClass('hideInfo');
                }
            });

            $('#propostas > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#propostas').hasClass( "hideInfo")){
                    $('#propostas').removeClass('hideInfo');
                }
                else {
                    $('#propostas').addClass('hideInfo');
                }
            });
            $('#classificacao > h3').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                if ($('#classificacao').hasClass( "hideInfo")){
                    $('#classificacao').removeClass('hideInfo');
                }
                else {
                    $('#classificacao').addClass('hideInfo');
                }
            });


        });


	</script>
{% endblock %}
{% block content %}

    {% if perms.base.pode_cadastrar_solicitacao %}
         <div class="pull-right">
            <a class="btn btn-success" href="/base/cadastrar_solicitacao/">Cadastrar Solicitação de Compra</a>
            <br><br>
         </div>
    {% endif %}
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#propria_secretaria">Solicitações Cadastradas</a>
            </li>
            <li>
                <a data-toggle="tab" href="#outras_secretarias">Outras Solicitações</a>
            </li>

        </ul>
    </div>
    <div class="tab-content">
        <div id="propria_secretaria" class="tab-pane in active">
            {% if solicitacoes.exists %}
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Memorando</th>
                            <th>Objeto</th>
                            {% if perms.base.pode_cadastrar_solicitacao %}
                                <th>Data de Cadastro</th>
                            {% else %}
                                <th>Data de Recebimento</th>
                            {% endif %}
                            <th>Opções</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitacao in solicitacoes %}
                           <tr>

                               <td>{{ solicitacao.num_memorando }}</td>
                               <td>{{ solicitacao.objeto }}</td>
                               <td>
                                   {% if perms.base.pode_cadastrar_solicitacao %}
                                       {{ solicitacao.data_cadastro|date:'d/m/Y H:i' }}
                                   {% else %}
                                        {{ solicitacao.get_data_recebimento|date:'d/m/Y H:i'|default_if_none:'-'}}
                                   {% endif %}
                               </td>
                               <td>
                                   <a class="btn btn-info btn-sm" href="/itens_solicitacao/{{solicitacao.id}}/">Ver Solicitação</a>

                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br><br>
                <p class="alert alert-info">Nenhuma solicitação.</p>
            {% endif %}
       </div>

   </div>



{% endblock %}