{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% load pagination_tags %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block extrajs %}
    <script>
        function submeter_form(campo) {
            window.location = window.location.pathname + "?situacao=" + escape( $('#'+campo.id).val());

        }
	</script>
{% endblock %}
{% block content %}
    <div class="pull-right">
        <a class="btn btn-info" href="/base/ver_pregoes/">Voltar</a>
    </div>
    <br>
    <fieldset>
        <legend>Filtros</legend>
        <form action="." method="POST" class="form-horizontal">
            {% csrf_token %}
                    <div class="row-fluid">
                        <div class="col-xs-2 col-md-2">
                            <div class="controls">{{ form.relatorio|bootstrap }}
                                {% if form.relatorio.help_text %}
                                    <p class="help-inline"><small>{{ form.relatorio.help_text }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-xs-2 col-md-2">
                            <div class="controls">{{ form.ano|bootstrap }}
                                {% if form.ano.help_text %}
                                    <p class="help-inline"><small>{{ form.ano.help_text }}</small></p>
                                {% endif %}
                            </div>
                         </div>

                        <div class="col-xs-1 col-md-2">
                            <div class="controls">{{ form.modalidade|bootstrap }}
                                {% if form.modalidade.help_text %}
                                    <p class="help-inline"><small>{{ form.modalidade.help_text }}</small></p>
                                {% endif %}
                            </div>
                         </div>
                        <div class="col-xs-2 col-md-2">
                            <div class="controls">{{ form.situacao|bootstrap }}
                                {% if form.situacao.help_text %}
                                    <p class="help-inline"><small>{{ form.situacao.help_text }}</small></p>
                                {% endif %}
                            </div>
                         </div>
                        <div class="col-xs-2 col-md-2">
                            <div class="controls">{{  form.secretaria|bootstrap }}
                                {% if form.secretaria.help_text %}
                                    <p class="help-inline"><small>{{ form.secretaria.help_text }}</small></p>
                                {% endif %}
                            </div>
                         </div>
                        <div class="col-xs-2 col-md-2">
                            <div class="controls">{{ form.visualizar|bootstrap }}
                                {% if form.visualizar.help_text %}
                                    <p class="help-inline"><small>{{ form.visualizar.help_text }}</small></p>
                                {% endif %}
                            </div>
                         </div>


                        <div class="col-xs-1 col-md-1">
                            <br>
                            <p><button type="submit" class="btn btn-primary">Buscar</button></p>
                        </div>
                    </div>


        </form>

    </fieldset>

    {% if pregoes.exists %}
        <h3>{{ pregoes.count }} pregões encontrados</h3>
        {% if relatorio == 'Relatório de Situação' %}
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Pregão</th>
                        <th>Memorando</th>
                        <th>Objeto</th>
                        <th width="10%">Situação</th>
                        <th>Abertura do Certame</th>
                        <th>Responsável</th>
                        <th>Valor</th>

                    </tr>
                </thead>
                <tbody>
                    
                    {% for pregao in pregoes %}
                       <tr>
                           <td>{{ pregao.num_pregao }}</td>
                           <td>{{ pregao.solicitacao.num_memorando }}</td>
                           <td>{{ pregao.objeto }}</td>
                           <td>{{ pregao.get_situacao }}</td>
                           <td>{{ pregao.data_abertura }} às {{pregao.hora_abertura}}</td>
                           <td>{{ pregao.responsavel}}</td>
                           <td>{{ pregao.get_valor_total|format_money }}</td>
                       </tr>
                    {% endfor %}
                    <tr><td>Total</td><td colspan="6">{{ total|format_money }}</td></tr>
                </tbody>
            </table>
        {% elif relatorio == 'Relatório de Economia' %}
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Pregão</th>
                        <th>Memorando</th>
                        <th>Objeto</th>
                        <th>Total Previsto</th>
                        <th>Total Final</th>
                        <th>Total Desconto</th>
                        <th>Total Economizado</th>
                    </tr>
                </thead>
                <tbody>

                    {% paginate %}
                    {% for pregao in pregoes %}
                       <tr>
                           <td>{{ pregao.num_pregao }}</td>
                           <td>{{ pregao.solicitacao.num_memorando }}</td>
                           <td>{{ pregao.objeto }}</td>
                           {% with a=pregao.get_economia_alcancada %}
                               <td>{{ a.0|format_money  }}</td>
                               <td>{{ a.1|format_money  }}</td>
                               <td>{{ a.2 }}</td>
                               <td>{{ a.3|format_money  }}</td>
                           {% endwith %}
                       </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{ total_previsto|format_money }}</td>
                        <td>{{ total_final|format_money }}</td>
                        <td>{{ total_desconto }}</td>
                        <td>{{ total_economizado|format_money }}</td>
                    </tr>



                </tbody>
            </table>
        {% endif %}
    {% elif form.is_bound %}
        <p class="alert alert-info">Nenhum pregão cadastrado.</p>
    {% else %}

        <p class="alert alert-info">Selecione os filtros para gerar o relatório.</p>
    {% endif %}


{% endblock %}
