{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block content %}

    {% if pregoes.exists %}

        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Memorando</th>
                    <th>Objeto</th>
                    <th>Período</th>
                    <th>Abertura das Propostas</th>
                    <th>Responsável</th>
                    <th>Opções</th>

                </tr>
            </thead>
            <tbody>
                {% for pregao in pregoes %}
                   <tr>

                       <td>{{ pregao.solicitacao.num_memorando }}</td>
                       <td>{{ pregao.solicitacao.objeto }}</td>
                       <td>{{ pregao.data_inicio }} à {{pregao.data_termino}}</td>
                       <td>{{ pregao.data_abertura }} às {{pregao.hora_abertura}}</td>
                       <td>{{ pregao.responsavel}}</td>
                       <td>
                           <a class="btn btn-info btn-sm" href="/pregao/{{pregao.id}}/" title="opo">Visualizar</a>
                           <a class="btn btn-default btn-sm" href="/admin/base/pregao/{{pregao.id}}/">Editar</a>
                           {% if eh_ordenador_despesa and pregao.data_adjudicacao %}
                                <a class="btn btn-success btn-sm" href="/pregao/{{pregao.id}}/" title="opo">Homologar</a>
                           {% endif %}
                       </td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br><br>
        <p class="alert alert-info">Nenhum pregão cadastrado.</p>
    {% endif %}


{% endblock %}