{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}


{% block content %}

    {% if perms.base.pode_cadastrar_solicitacao %}
         <div class="pull-right">
            <a class="btn btn-success" href="/base/cadastrar_solicitacao/">Cadastrar Solicitação de Compra</a>
            <br><br>
         </div>
    {% endif %}
            <fieldset>
                <legend>Buscar Solicitações</legend>
                <form action="." method="post" class="form-horizontal">
                    {% csrf_token %}
                     <div class="miolo">
                        <div class="row-fluid">
                            <div class="col-xs-4">
                                Digite o número do memorando ou processo: <input type="text" id="info" name="info">
                            </div>

                            <div class="col-xs-6">
                                <br>
                                <button type="submit" class="btn btn-primary">Buscar</button>

                            </div>
                        </div>
                     </div>
                </form>
            </fieldset>

            {% if solicitacoes.exists %}
                <fieldset>
                    <legend>Solicitações Encontradas</legend>
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Memorando</th>
                                <th>Objeto</th>
                                {% if perms.base.pode_cadastrar_solicitacao %}
                                    <th>Data de Cadastro</th>
                                {% else %}
                                    <th>Data de Recebimento</th>
                                {% endif %}
                                <th>Opções</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for solicitacao in solicitacoes %}
                               <tr>

                                   <td>{{ solicitacao.num_memorando }}</td>
                                   <td>{{ solicitacao.objeto }}</td>
                                   <td>
                                       {% if perms.base.pode_cadastrar_solicitacao %}
                                           {{ solicitacao.data_cadastro|date:'d/m/Y H:i' }}
                                       {% else %}
                                            {{ solicitacao.get_data_recebimento|date:'d/m/Y H:i'|default_if_none:'-'}}
                                       {% endif %}
                                   </td>
                                   <td>
                                       <a class="btn btn-info btn-sm" href="/itens_solicitacao/{{solicitacao.id}}/">Ver Solicitação</a>

                                   </td>
                               </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            {% else %}
                <br><br>
                <p class="alert alert-info">Nenhuma solicitação.</p>
            {% endif %}




{% endblock %}