{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load pagination_tags %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_fornecedores/">Fornecedores<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block content %}

        <div class="pull-right">
            {% if registro %}
                <a class="btn btn-success" href="/base/cadastrar_crc/{{ fornecedor.id }}/">Editar CRC</a>
                <a onclick="return confirm('Você tem certeza que deseja renovar a validade do CRC?')" class="btn btn-default" href="/base/renovar_crc/{{ fornecedor.id }}/">Renovar CRC</a>
                <a class="btn btn-success" href="/base/cadastrar_certidao_crc/{{ registro.id }}/">Anexar Certidão</a>
                <a class="btn btn-info" href="/base/imprimir_crc/{{ fornecedor.id }}/">Imprimir CRC</a>
            {% else %}
            <a class="btn btn-success" href="/base/cadastrar_crc/{{ fornecedor.id }}/">Cadastrar CRC</a>
            {% endif %}
            <a class="btn btn-primary" href="/base/ver_fornecedores/">Voltar</a>
            <br><br>
        </div>



        {% if registro %}
            <h3><b>Validade: {{ registro.validade}}</b></h3>
            <br><br>
            <h3>Dados do Fornecedor</h3><hr>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Porte da Empresa</th>
                        <th>Data de Abertura da Empresa</th>
                        <th>Inscrição Estadual</th>
                        <th>Inscrição Municipal</th>
                    </tr>
                </thead>
                <tbody>
                       <tr>
                           <td>{{ registro.porte_empresa }}</td>
                           <td>{{ registro.data_abertura }}</td>
                           <td>{{ registro.inscricao_estadual }}</td>
                           <td>{{ registro.inscricao_municipal }}</td>
                       </tr>

                </tbody>
            </table>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th width="20%">Natureza Jurídica</th>
                        <td>{{ registro.natureza_juridica }}</td>
                    </tr>
                    <tr>
                        <th>Ramo de Negócio</th>
                        <td>{{ registro.ramo_negocio }}</td>
                    </tr>
                </thead>

            </table>
            <h3>CNAES Primário</h3><hr>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th width="20%">Código</th>
                        <td>{{ registro.cnae_primario_codigo }}</td>
                        <th>Descrição</th>
                        <td>{{ registro.cnae_primario_descricao }}</td>
                    </tr>
                </thead>

            </table>
            <h3>CNAES Secundário</h3><hr>
            <div class="pull-right">
                <a class="btn btn-success" href="/base/cadastrar_cnaes_secundario/{{ registro.id }}/">Cadastrar CNAES Secundário</a>
            </div>
            <br><br>
            {% if cnaes %}
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th width="20%">Código</th>
                            <th>Descrição</th>
                            <th>Opções</th>
                        </tr>
                            {% for item in cnaes %}
                                <tr>
                                <td>{{ item.codigo }}</td>
                                <td>{{ item.descricao }}</td>
                                <td>
                                    <a class="btn btn-sm btn-success" href="/base/editar_cnaes_secundario/{{ item.id }}/">Editar</a>
                                    <a onclick="return confirm('Você tem certeza que deseja apagar?')" class="btn btn-sm btn-danger" href="/base/excluir_cnaes_secundario/{{ item.id }}/">Excluir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </thead>

                </table>
            {% else %}
                <p class="alert alert-warning">Nenhum CNAES Secundário.</p>
            {% endif %}
            <h3>Informações</h3><hr>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th width="20%">Objetivo Social</th>
                        <td>{{ registro.objetivo_social }}</td>
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th width="20%">Capital Social</th>
                        <td>R$ {{ registro.capital_social }}</td>
                        <th>Data da Última Integralização</th>
                        <td>{{ registro.data_ultima_integralizacao }}</td>
                    </tr>
                </thead>

            </table>
            <h3>Dados Bancários</h3><hr>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th width="20%">Banco</th>
                        <td>{{ registro.banco }}</td>
                        <th  width="20%">Agência</th>
                        <td>{{ registro.agencia }}</td>
                        <th  width="20%">Conta</th>
                        <td>{{ registro.conta }}</td>
                    </tr>
                </thead>

            </table>
            <h3>Responsável Legal</h3><hr>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th width="20%">Nome</th>
                        <td>{{ registro.nome }}</td>
                        <th  width="20%">CPF</th>
                        <td>{{ registro.cpf }}</td>
                    </tr>
                    <tr>
                        <th width="20%">Carteira de identidade (RG)</th>
                        <td>{{ registro.rg }} / {{ registro.rg_emissor }}</td>
                        <th  width="20%">Data de Expedição</th>
                        <td>{{ registro.data_expedicao }}</td>
                    </tr>
                    <tr>
                        <th width="20%">Email</th>
                        <td colspan="3">{{ registro.email }}</td>
                    </tr>
                </thead>

            </table>
            <h3>Sócios</h3><hr>
            <div class="pull-right">
                <a class="btn btn-success" href="/base/cadastrar_socio/{{ registro.id }}/">Cadastrar Sócio</a>
            </div>

            {% if socios %}
                {% for item in socios %}
                    <div class="pull-right">

                    </div>
                    <br><br>
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>

                                 <tr>
                                    <th width="20%">Nome</th>
                                    <td>{{ item.nome }}</td>
                                    <th  width="20%">CPF</th>
                                    <td>{{ item.cpf }}</td>
                                     <td rowspan="3">
                                        <a class="btn btn-sm btn-success" href="/base/editar_socio/{{ item.id }}/">Editar</a>
                                        <a onclick="return confirm('Você tem certeza que deseja apagar?')" class="btn btn-sm btn-danger" href="/base/excluir_socio/{{ item.id }}/">Excluir</a>
                                     </td>
                                </tr>
                                <tr>
                                    <th width="20%">Carteira de identidade (RG)</th>
                                    <td>{{ item.rg }} / {{ item.rg_emissor }}</td>
                                    <th  width="20%">Data de Expedição</th>
                                    <td>{{ item.data_expedicao }}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Email</th>
                                    <td colspan="3">{{ item.email }}</td>
                                </tr>

                        </thead>

                    </table>
                    <br><br>
                {% endfor %}
            {% else %}
                <p class="alert alert-warning">Nenhum CNAES Secundário.</p>
            {% endif %}
            {% if certidoes.exists %}
                <h3>Certidões</h3><hr>


                <table class="table table-bordered table-condensed table-striped">
                    <thead>

                             <tr>
                                <th>Nome</th>
                                <th>Validade</th>
                                <th>Arquivo</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for certidao in certidoes %}
                            <tr>
                                <td>{{ certidao.nome }}</td>
                                <td>{{ certidao.validade }}</td>
                                <td><a href="/media/{{ certidao.arquivo }}">Ver Certidão</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br><br>
            {% endif %}
        {% else %}
            <br><br><br>
            <p class="alert alert-warning">Nenhum CRC cadastrado para este fornecedor.</p>
        {% endif %}

{% endblock %}
