{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_solicitacoes/">Solicitações <i class="fa fa-angle-right"></i></a>
    <a href="/base/itens_solicitacao/{{solicitacao.id}}/">{{solicitacao}} <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block content %}

        <div class="pull-right">
            <a class="btn btn-primary" href="/base/itens_solicitacao/{{item.solicitacao.pk}}/">Voltar</a>
            <br><br>
        </div>

        {% if pedidos.exists %}
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Secretaria</th>
                        <th>Quantidade</th>
                        <th>Aceito</th>
                        <th>Avaliado Em</th>
                        <th>Avaliado Por</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                       <tr>

                           <td>{{ pedido.secretaria }}</td>
                           <td>{{ pedido.quantidade|format_quantidade  }}</td>
                           <td>
                               {% if pedido.avaliado_em %}
                                   {% if pedido.aprovado %}
                                       <font color="green">Sim</font>
                                   {% else %}
                                       <font color="red">Não</font> ({{ pedido.justificativa_reprovacao }})
                                   {% endif %}
                               {% else %}
                                -
                               {% endif %}
                            </td>
                           <td>{{ pedido.avaliado_em|default_if_none:'-' }}</td>
                           <td>{{ pedido.avaliado_por|default_if_none:'-' }}</td>
                       </tr>
                    {% endfor %}
                    <tr>
                        <td>Total</td>
                        <td>{{ total.total }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-warning">Nenhum pedido cadastrado.</p>
        {% endif %}

{% endblock %}
