{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>

    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block content %}
     <fieldset>
        <form action="." method="GET" class="form-horizontal">
            {% csrf_token %}
            <div class="row-fluid">
                <div class="col-xs-2">
                    <div class="controls">{{ form.ano|bootstrap }}
                        {% if form.ano.help_text %}
                            <p class="help-inline"><small>{{ form.ano.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-1 col-md-1">
                <br>
                <p><button type="submit" class="btn btn-primary">Filtrar</button></p>
            </div>
            </div>


        </form>

    </fieldset>

	{% if cal_meses %}
		<div class="legenda">
			<p>Legenda:</p>
			<ul>
				<li class="hoje">Hoje</li>
				<li class="info">Feriado</li>
				<li class="success">Licitações Concluídas</li>
                <li class="alert">Licitações Previstas</li>
				<li class="error">Licitações Suspensas</li>
			</ul>
		</div>
		{% for mes in cal_meses %}
			{{ mes|safe }}
		{% endfor %}
	{% else %}
		<p class="msg alert">Nenhuma atividade encontrada.</p>
	{% endif %}

{% endblock %}
