{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/ver_solicitacoes/">Solicitações <i class="fa fa-angle-right"></i></a>
    <a href="/base/itens_solicitacao/{{solicitacao.id}}/">{{ solicitacao }} <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}

{% block content %}


     <div class="pull-right">
        <a class="btn btn-success" href="/base/imprimir_capa_processo/{{processo.id}}/">Imprimir Capa</a>
        <a class="btn btn-success" href="/base/editar_processo/{{processo.id}}/">Editar Processo</a>
        <a class="btn btn-default" href="/base/itens_solicitacao/{{solicitacao.id}}/">Voltar</a>
        <br><br>
     </div>

    <table class="table table-bordered table-condensed table-striped">

        <tr>
            <th>Número</th>
            <td>{{ processo.numero }}</td>
        </tr>
        <tr>
            <th>Objeto</th>
            <td>{{ processo.objeto }}</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>{{ processo.get_tipo_display }}</td>
        </tr>
        <tr>
            <th>N° da Solicitação</th>
            <td>{{processo.get_memorando}} <a href="/base/itens_solicitacao/{{processo.get_memorando.id}}/">(ver solicitação)</a></td>
        </tr>
        <tr>
            <th>Situação</th>
            <td>{{ processo.status }}</td>
        </tr>
        <tr>
            <th>Setor de Origem</th>
            <td>{{ processo.setor_origem }}</td>
        </tr>
        <tr>
            <th>Palavras-chave</th>
            <td>{{ processo.palavras_chave }}</td>
        </tr>
        <tr>
            <th>Cadastrado Em</th>
            <td>{{ processo.data_cadastro }}</td>
        </tr>
        <tr>
            <th>Cadastrado Por</th>
            <td>{{ processo.pessoa_cadastro.pessoafisica.nome }}</td>
        </tr>



    </table>



{% endblock %}
