{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load pagination_tags %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block extrajs %}
    <script>
        function submeter_form(campo) {
            window.location = window.location.pathname + "?situacao=" + escape( $('#'+campo.id).val());

        }

        $(function() {
            $( ".vDateField" ).datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
            dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'

             });
        });

	</script>
{% endblock %}
{% block content %}
    <div class="pull-right">
            <a class="btn btn-info" href="/base/ver_relatorios_gerenciais_licitacao/">Relatórios Gerenciais</a>
    </div>

    {% if form %}
        <fieldset>
            <form action="." method="GET" class="form-horizontal">
                {% csrf_token %}
                <div class="row-fluid">
                    <div class="col-xs-6">
                        <div class="controls">{{ form.info|bootstrap }}
                            {% if form.info.help_text %}
                                <p class="help-inline"><small>{{ form.info.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="controls">{{ form.data_inicial|bootstrap }}
                        {% if form.data_inicial.help_text %}
                            <p class="help-inline"><small>{{ form.data_inicial.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="controls">{{ form.data_final|bootstrap }}
                        {% if form.data_final.help_text %}
                            <p class="help-inline"><small>{{ form.data_final.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="controls">{{ form.modalidade|bootstrap }}
                        {% if form.modalidade.help_text %}
                            <p class="help-inline"><small>{{ form.modalidade.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>

                <div class="col-xs-2 col-md-2">
                    <div class="controls">{{ form.situacao|bootstrap }}
                        {% if form.situacao.help_text %}
                            <p class="help-inline"><small>{{ form.situacao.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="controls">{{ form.secretaria|bootstrap }}
                        {% if form.secretaria.help_text %}
                            <p class="help-inline"><small>{{ form.secretaria.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>


                <div class="col-xs-1 col-md-1">
                    <br>
                    <p><button type="submit" class="btn btn-primary">Buscar</button></p>
                </div>

            </form>

        </fieldset>
    {% endif %}
    {% if pregoes.exists %}

        <h4>{{ pregoes.count }} registro(s) encontrado(s).</h4>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Licitação</th>
                    <th>Setor</th>
                    <th>Modalidade</th>
                    <th>Objeto</th>
                    <th width="13%">Situação</th>
                    <th width="12%">Abertura do Certame</th>
                    <th width="10%">Responsável</th>
                    <th>Opções</th>

                </tr>
            </thead>
            <tbody>
                {% autopaginate pregoes 15 %}
                {% paginate %}
                {% for pregao in pregoes %}
                   <tr>
                       <td>{{ pregao.num_pregao }}</td>
                       <td>{{ pregao.solicitacao.setor_atual.nome }}</td>
                       <td>{{ pregao.modalidade }} - {{ pregao.criterio }}</td>
                       <td>{{ pregao.objeto }}</td>
                       <td>{{ pregao.get_situacao }}</td>
                       <td>{{ pregao.data_abertura }} às {{pregao.hora_abertura}}</td>
                       <td>{{ pregao.responsavel}}</td>
                       <td>


                           <ul class="action-bar">
                               {% if perms.base.pode_cadastrar_pregao %}
                                   <a class="btn btn-info btn-sm" href="/pregao/{{pregao.id}}/">Visualizar</a>
                                   <!-- <li><a class="btn btn-default btn-sm" href="/base/editar_pregao/{{pregao.id}}/">Editar</a></li> -->
                               {% endif %}
                               {% if eh_ordenador_despesa and pregao.tem_resultado %}
                                    {% if pregao.eh_pregao and pregao.data_adjudicacao or pregao.pode_homologar %}
                                        <li><a class="btn btn-info btn-sm" href="/relatorio_resultado_final/{{pregao.id}}/">Resultado Final</a></li>

                                        {% if not pregao.arquivo_homologacao %}
                                            {% if pregao.solicitacao.eh_credenciamento %}
                                                <li><a class="btn btn-success btn-sm" href="/registrar_homologacao/{{pregao.id}}/">Credenciar</a></li>
                                            {% else %}
                                                <li><a class="btn btn-success btn-sm" href="/registrar_homologacao/{{pregao.id}}/">Homologar</a></li>
                                            {% endif %}
                                        {% else %}
                                            <li><a class="btn btn-success btn-sm" href="/registrar_homologacao/{{pregao.id}}/">Editar Homologação</a></li>
                                        {% endif %}
                                    {% endif %}
                               {% endif %}
                           </ul>
                       </td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br><br>
        <p class="alert alert-info">Nenhum pregão cadastrado.</p>
    {% endif %}


{% endblock %}
{% block footer %}
    {{ form.media }}

    {{ block.super }}
{% endblock %}
