{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load pagination_tags %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}
{% block content %}
    {% if form %}
        <fieldset>
            <legend>Buscar Licitação</legend>
            <form action="." method="POST" class="form-horizontal">
                {% csrf_token %}
                 <div class="miolo">
                    <div class="row-fluid">
                        <div class="col-xs-4">

                            {{ form|bootstrap }}
                        </div>

                        <div class="col-xs-6">
                            <br>
                            <p><button type="submit" class="btn btn-primary">Buscar</button></p>

                        </div>
                    </div>
                 </div>
            </form>

        </fieldset>
    {% endif %}
    {% if pregoes.exists %}


        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Memorando</th>
                    <th>Objeto</th>
                    <th>Período</th>
                    <th>Abertura das Propostas</th>
                    <th>Responsável</th>
                    <th>Opções</th>

                </tr>
            </thead>
            <tbody>
                {% autopaginate pregoes 10 %}
                {% paginate %}
                {% for pregao in pregoes %}
                   <tr>

                       <td>{{ pregao.solicitacao.num_memorando }}</td>
                       <td>{{ pregao.solicitacao.objeto }}</td>
                       <td>{{ pregao.data_inicio }} à {{pregao.data_termino}}</td>
                       <td>{{ pregao.data_abertura }} às {{pregao.hora_abertura}}</td>
                       <td>{{ pregao.responsavel}}</td>
                       <td>
                           {% if perms.base.pode_cadastrar_pregao %}
                               <a class="btn btn-info btn-sm" href="/pregao/{{pregao.id}}/">Visualizar</a>
                               <a class="btn btn-default btn-sm" href="/base/editar_pregao/{{pregao.id}}/">Editar</a>
                           {% endif %}
                           {% if eh_ordenador_despesa and pregao.tem_resultado %}
                                {% if pregao.eh_pregao and pregao.data_adjudicacao or not pregao.eh_pregao %}
                                    <a class="btn btn-info btn-sm" href="/relatorio_resultado_final/{{pregao.id}}/">Resultado Final</a>

                                    {% if not pregao.arquivo_homologacao %}
                                        <a class="btn btn-success btn-sm" href="/registrar_homologacao/{{pregao.id}}/">Homologar</a>
                                    {% endif %}
                                {% endif %}
                           {% endif %}
                       </td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br><br>
        <p class="alert alert-info">Nenhum pregão cadastrado.</p>
    {% endif %}


{% endblock %}