{% load bootstrap %}
{% load app_filters %}
{% block extrastyle %}
 <style>
     #rectangle{
        border:5px solid black;
    }
body {
    font-size: 14px;
}
   table.dados_paciente td
{

    border: 0;
}
    table.dados_paciente tr
{

    border: 0;
}
ul{
     list-style:none;
}

     .page-header {
        font-size: 14px;

     }

     @page {
            size: a4;
            margin: 0.3cm;



     }

 </style>
{% endblock %}


{% block content %}
        {% block content_title %}

        <h1 class="page-header">
            {% include "cabecalho.html" %}
        </h1>
        <center><h2>Ordem de Compra/Serviço</h2></center>
        <table border="0" width="100%" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>N° da Ordem</th><td>{{ ordem.numero }}</td>
                    <th>Data</th><td>{{ ordem.data }}</td>
                </tr>
                <tr>
                    <th>Fornecedor</th><td>{{ fornecedor.razao_social }}</td>
                    <th>CPF/CNPJ</th><td>{{ fornecedor.cnpj }}</td>
                </tr>
                <tr>
                    <th>Endereço</th><td colspan="3">{{ fornecedor.endereco }}</td>

                </tr>
                <tr>
                    <th>Dados Bancários</th><td colspan="3">Não Informado</td>

                </tr>
            </thead>
        </table>

        {% endblock %}
<center>

    {% for key, pedidos in resultado.items %}


                <h2>Solicitamos a V.S.ª o fornecimento/realização dos itens abaixo especificados: </h2>

                    <table border="1" width="100%" cellpadding="5" cellspacing="5">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th width="60%">Especificação</th>
                                {% if not eh_lote %}
                                    <th>Marca</th>
                                    <th>Unidade</th>
                                {% endif %}

                                <th>Quantidade</th>
                                <th>Valor Unit.</th>
                                <th>Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            {%  for pedido in pedidos.pedidos %}

                                <tr>
                                    <td>{{ pedido.item }}</td>
                                    <td>{{ pedido.item.material }}</td>
                                    {% if not eh_lote %}
                                        <td>{{ pedido.resultado.marca}}</td>
                                        <td>{{ pedido.item.unidade}}</td>
                                    {% endif %}

                                    <td>{{ pedido.quantidade }}</td>

                                    {% if not eh_lote %}
                                        <td>R$ {{ pedido.resultado.valor|format_money  }}</td>
                                    {% else %}
                                        <td>R$ {{ pedido.item.get_valor_item_lote|format_money  }}</td>
                                    {% endif %}
                                    <td>R$ {{ pedido.get_total|format_money  }}</td>


                                </tr>
                            {% endfor %}
                            {% if eh_lote %}
                                <tr><td colspan="4" align="right"><b>Total</b></td><td><b>R$ {{ pedidos.total|format_money  }}</b></td></tr>
                            {% else %}
                                <tr><td colspan="6" align="right"><b>Total</b></td><td><b>R$ {{ pedidos.total|format_money  }}</b></td></tr>
                            {% endif %}
                        </tbody>
                    </table>



    {% endfor %}
    <br>
    <table border="0" width="100%" cellpadding="5" cellspacing="5" align="left">
            <thead>
                <tr>
                    <th>Processo N°</th><td>{{ solicitacao.num_processo }}</td>
                    <th>Pregão N °</th><td>{{ pregao.num_pregao }}</td>
                </tr>
                <tr>
                    <th>Projeto/Atividade</th><td>{{ ordem.dotacao_orcamentaria.projeto_atividade_num }} - {{ ordem.dotacao_orcamentaria.projeto_atividade_descricao }}</td><td colspan="2">&nbsp;</td>

                </tr>
                <tr>
                   <th>Elemento de Despesa</th><td>{{ ordem.dotacao_orcamentaria.programa_num }} - {{ ordem.dotacao_orcamentaria.programa_descricao }}</td><td colspan="2">&nbsp;</td>

                </tr>
                <tr>
                    <th>Fonte</th><td>{{ ordem.dotacao_orcamentaria.elemento_despesa_num }} - {{ ordem.dotacao_orcamentaria.elemento_despesa_descricao }}</td><td colspan="2">&nbsp;</td>

                </tr>
            </thead>
        </table>

</center>







{% endblock %}



