{% extends super_template|default:"admin/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}
{% block breadcrumbs_class %}administracao{% endblock %}
{% block breadcrumbs %}
    <a href="/">Início <i class="fa fa-angle-right"></i></a>
    <a href="/base/gestao_contratos/">Gestão de Contratos<i class="fa fa-angle-right"></i></a>
    <a href="javascript:void(0);">{{ title }}</a>
{% endblock %}






{% block content %}


   <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                {% if eh_ata %}
                    <th>Nº da ARP</th>
                {% else %}
                    <th>Nº do Contrato</th>
                {% endif %}
                <th>Nº Processo</th>
                <th>Objeto</th>
                <th>Data da Assinatura do Contrato</th>
                <th>Vigência</th>
                {% if not eh_ata %}
                    <th>Caráter Continuado</th>
                {% endif %}
                <th>Situação</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ solicitacao.get_pregao.num_pregao }}</td>
                <td>{{ solicitacao.get_pregao.num_processo}}</td>
                <td>{{ solicitacao.objeto }}</td>
                <td>Data</td>
                <td>Vigência</td>
                {% if not eh_ata %}
                    <th>Sim ou Não</th>
                {% endif %}
                <td>Situação</td>
                <td>
                    {% if not solicitacao.liberada_compra %}
                        <a href="/base/liberar_solicitacao_contrato/{{solicitacao.id}}/1/" class="btn btn-success btn-sm">Liberar Solicitação</a>
                    {% else %}
                        {% if eh_ata %}
                            <a href="/base/liberar_solicitacao_contrato/{{solicitacao.id}}/2/" class="btn btn-danger btn-sm">Cancelar Solicitação</a>
                        {% else %}
                            <a href="/base/liberar_solicitacao_contrato/{{solicitacao.id}}/2/" class="btn btn-danger btn-sm">Suspender Solicitação</a>
                        {% endif %}
                    {% endif %}
                </td>


            </tr>

        </tbody>
    </table>

   {% if solicitacao.eh_lote %}
        <table class="table table-bordered table-condensed table-striped">

            <tbody>

                <tr>
                    <td>

                            {% for lote in solicitacao.get_lotes %}

                                <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="4">{{lote}}</th>

                                        </tr>
                                        <tr>
                                            <th>Item</th>
                                            <th>Marca</th>
                                            <th>Empresa</th>
                                            <th>Valor</th>
                                            <th>Quantidade Disponível</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in lote.get_itens_do_lote %}
                                            <tr>
                                                <td>{{ item }}</td>
                                                <td>{{ item.get_marca_item_lote|default_if_none:"-" }}</td>
                                                <td>{{ lote.get_vencedor.participante.fornecedor }}</td>
                                                <td>{{ item.get_valor_item_lote }}</td>
                                                <td>{{ item.get_quantidade_disponivel }}</td>


                                            </tr>
                                        {% endfor%}

                                    </tbody>
                                </table>
                            {% endfor %}




                    </td>
                </tr>

            </tbody>
        </table>
   {% else %}
        <table class="table table-bordered table-condensed table-striped">

            <tbody>

                <tr>
                    <td>

                            <table width="30%" align="right" class="table table-bordered table-condensed table-striped">
                                <thead>

                                    <tr>
                                        <th>Item</th>
                                        <th>Marca</th>
                                        <th>Empresa</th>
                                        <th>Valor</th>
                                        <th>Quantidade Disponível</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for resultado in solicitacao.get_resultado %}
                                        <tr>
                                            <td>{{ resultado.item }}</td>
                                            <td>{{ resultado.marca|default_if_none:"-" }}</td>
                                            <td>{{ resultado.participante }}</td>
                                            <td>{{ resultado.valor }}</td>
                                            <td>{{ resultado.item.get_quantidade_disponivel }}</td>


                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                    </td>
                </tr>
            </tbody>
        </table>
   {% endif %}


{% endblock %}