{% load admin_static %}{% load firstof from future %}{% load i18n %}{% load compress %}{% load newadmin %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Plataforma Nacional de Telediagnóstico{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "themes/smart/css/reset.css" %}" />
        <link rel="stylesheet" href="/static/themes/bootstrap-yeti/bootstrap-yeti.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "base/css/bootstrap.vertical-tabs.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "themes/smart/css/class.css" %}" />
        <link href="/static/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/newadmin.css" rel="stylesheet"/>
        <link href="/static/jquery.growl.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static "themes/smart/css/sistema.css" %}" />
        {% block extrastyle %}{% endblock %}
    {% endcompress %}
    {% compress js %}
        <script src="/static/jquery-2.1.1.min.js"></script>
        <script src="/static/jquery.mask.min.js"></script>
        <script src="/static/highcharts.js"></script>
        <script src="/static/jquery.formset.js"></script>
        <script src="/static/jquery.growl.js"></script>
        <script src="/static/themes/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
        <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
        <script src="/static/newadmin.js"></script>
        {% block extrajs %}{% endblock %}
    {% endcompress %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% if debug %}debug {% endif %}{% block bodyclass %}{% endblock %}">
<section {% if not is_popup %}id="indicadores"{% endif %}>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
                        {% endfor %}
                    {% endif %}
                {% endblock messages %}

                {% block pretitle %}{% endblock %}



                {% if is_popup %}<div class="modal-body">{% endif %}
                {% block content %}
                    {{ content }}
                {% endblock %}
                {% if is_popup %}</div>{% endif %}
</section>


</div>

</body>
</html>
