{% extends "base_login.html" %}


{% block content %}

<style>
   .modal-content {
  position: fixed;
  display: none;
  z-index: 1000;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #4A708B;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #4A708B;
    color: white;
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}


</style>
<center>

    <!-- right after body tag -->
<div class="modal-content">
  <div class="modal-header">
      <span class="close"><font color="red" size="8">&times;</font></span>
     <p><img src="/static/base/imagens/logo2.png" width="25%" height="10%"></p>
  </div>
  <div class="modal-body">
     <br>
      <p><b>Contato:</b> cpl2018.guamarern@gmail.com</p>
  </div>
  <div class="modal-footer">
    <center><p>2018 - Todos os Direitos Reservados.</p></center>
  </div>
</div>

	<div id="loginbox" style="margin-top:20px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title text-center">
                    <h2>
                        <br/>
                        <p><img src="/static/base/imagens/logo1.png" width="60%" height="25%"></p>
                    </h2>
                </div>
			</div>

			<div style="padding-top:30px; width:65%;" class="panel-body">

                {% if messages %}
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade in"{% endif %}>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                          {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}

				{% if form.errors and not form.non_field_errors %}
					<div class="alert alert-danger alert-dismissible fade in">
                    	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						Por favor corrija o(s) erro(s) abaixo:
					</div>
				{% endif %}
				{% if form.non_field_errors %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible fade in">
                        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
							{{ error }}
						</div>
					{% endfor %}
				{% endif %}
				<form action="{{ app_path }}" method="post" id="loginform" class="form-horizontal" role="form">{% csrf_token %}
					<div style="margin-bottom: 25px" {% if form.username.errors %} class="has-error" {% endif %}>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input id="id_username" type="text" class="form-control input-lg" name="username" value="" placeholder="CPF do Usuário (só números)">
                        </div>

                        {% if form.username.errors %}
                            <p class="help-block">{{ form.username.errors|join:", " }}</p>
                        {% endif %}
                    </div>

                    <div style="margin-bottom: 25px" {% if form.password.errors %} class="has-error" {% endif %}>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input id="id_password" type="password" class="form-control input-lg" name="password" placeholder="Senha">
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                        {% if form.password.errors %}
                            <p class="help-block">{{ form.password.errors|join:", " }}</p>
                        {% endif %}

                    </div>
                    <div style="margin-top:10px" class="form-group">
						<div class="col-sm-12 controls">
							<input type="submit" id="btn-login" class="btn btn-primary btn-lg btn-block" value="Acessar" />
						</div>
					</div>
                    <div align="left">
                        <a href="/base/solicitar_mudanca_senha/">Esqueceu sua senha?</a>
                    </div>
				</form>

			</div>

		</div>

	</div>






<div style="margin-top:10%;margin-right:10%;">
    <br><br><br><br><br><br>
    <table border="0" cellspacing="15" cellpadding="15">
        <tr>
            <td colspan="2"><font size="4">+ Informações</font></td>

        </tr>
        <tr>
            <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
            <td width="80%"><font color="#4A708B" size="4"><br><a href="/base/baixar_editais/">Editais</a></font></td>
        </tr>
        <tr>
            <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
            <td width="80%"><font color="#4A708B" size="4"><br><a href="/base/baixar_atas/">Atas de Registro de Preço</a></font></td>
        </tr>

        <tr>
            <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
            <td width="80%"><font color="#4A708B" size="4"><br><a href="/base/localizar_processo/">Processos</a></font></td>
        </tr>
        <tr>
            <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
            <td width="80%"><font color="#4A708B" size="4"><br><a href="/media/upload/easy_manual_usuario.pdf">Manuais</a></font></td>
        </tr>

        <tr>
            <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
            <td width="80%"><font color="#4A708B" size="4"><br><a class="button-to-click" href="#">Contatos</a></font></td>
        </tr>

    </table>
</div>


    </center>
<script>
    $(document).ready(function() {
    // config
        popup = $('.modal-content');
        clickme = $('.button-to-click');

    // pop-up
        vh = $(window).height();
        vw = $(window).width();
        bw = popup.width();
        bh = popup.height();
        clickme.click(function(e) {
            e.preventDefault();
            popup.fadeOut();
            popup.css('left', vw/2 - bw/2);
            popup.css('top', vh/2 - bh/2);
            popup.fadeIn();
        });
   //close button
      $('.close').click(function() {
            $('.modal-content').fadeOut();
        });
});

$('#id_username').focus();
$('#id_username').blur(function() {
    var valor = $('#id_username').val();
    $('#id_username').val(valor.replace(/[\.-]/g, ""));
});
</script>

{% endblock %}
