{% extends "base_login.html" %}

{% block content %}
<center>



	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title text-center">
                    <h2>
                        <br/>
                        E@sy Gestão Pública
                    </h2>
                </div>
			</div>

			<div style="padding-top:30px; width:65%;" class="panel-body">
                {% if messages %}
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade in"{% endif %}>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                          {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}

				{% if form.errors and not form.non_field_errors %}
					<div class="alert alert-danger alert-dismissible fade in">
                    	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						Por favor corrija o(s) erro(s) abaixo:
					</div>
				{% endif %}
				{% if form.non_field_errors %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible fade in">
                        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
							{{ error }}
						</div>
					{% endfor %}
				{% endif %}
				<form action="{{ app_path }}" method="post" id="loginform" class="form-horizontal" role="form">{% csrf_token %}
					<div style="margin-bottom: 25px" {% if form.username.errors %} class="has-error" {% endif %}>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input id="id_username" type="text" class="form-control input-lg" name="username" value="" placeholder="CPF do Usuário (sem pontos e traços)">
                        </div>

                        {% if form.username.errors %}
                            <p class="help-block">{{ form.username.errors|join:", " }}</p>
                        {% endif %}
                    </div>

                    <div style="margin-bottom: 25px" {% if form.password.errors %} class="has-error" {% endif %}>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input id="id_password" type="password" class="form-control input-lg" name="password" placeholder="Senha">
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                        {% if form.password.errors %}
                            <p class="help-block">{{ form.password.errors|join:", " }}</p>
                        {% endif %}
                    </div>
                    <div style="margin-top:10px" class="form-group">
						<div class="col-sm-12 controls">
							<input type="submit" id="btn-login" class="btn btn-primary btn-lg btn-block" value="Acessar" />
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>






<div style="margin-top:150px;margin-right:150px;">
    <br><br><br><br><br><br>
    <table border="0" cellspacing="15" cellpadding="15">
            <tr>
                <td colspan="2"><font size="5">+ Informações</font></td>

            </tr>
            <tr>
                <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
                <td width="80%"><font color="#4A708B" size="4"><br><a href="/base/baixar_editais/">Editais</a></font></td>
            </tr>
            <tr>
                <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
                <td width="80%"><font color="#4A708B" size="4"><br><a href="/base/baixar_atas/">Atas de Registro de Preço</a></font></td>
            </tr>

            <tr>
                <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
                <td width="80%"><font color="#4A708B" size="4"><br><a href="/base/localizar_processo/">Processos</a></font></td>
            </tr>

            <tr>
                <td width="25%" align="center"><font color="#4A708B" size="4"><br><i class="fa fa-arrow-right"></i></font></td>
                <td width="80%"><font color="#4A708B" size="4"><br><a href="/base/baixar_atas/">Contatos</a></font></td>
            </tr>

        </table>
</div>

    </center>
<script type="text/javascript">
	document.getElementById('id_username').focus()
</script>
{% endblock %}