@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

@import url('http://fonts.googleapis.com/css?family=PT+Sans:300,400,700');
/* ==============================
CSS3 Library for MoreLess System
version 1.0

Developed By:
Fernando Aureliano - @Pailoro

- License:

* This program is free software. It comes without any warranty, to
* the extent permitted by applicable law. You can redistribute it
* and/or modify it under the terms of the Do What The Fuck You Want
* To Public License, Version 2, as published by Sam Hocevar. See
* http://sam.zoy.org/wtfpl for more details. 
===============================*/
/*@import "libs/noGrid";
@import "libs/grid";*/
html,
body {
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #ffffff;
  line-height: 20px;
}
header .topo-azul {
  background: #00aced;
  width: 100%;
  height: 37px;
}
header section#content-topo {
  background: #ebebeb;
  width: 100%;
  height: 133px;
}
header section#content-topo .logo {
  float: left;
}
header section#content-topo .logo figure {
  float: left;
  margin: 28px 16px 0 26px;
}
header section#content-topo .logo p {
  width: 460px;
  margin: 36px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555555;
  float: left;
  line-height: 24px;
}
header section#content-topo .links {
  float: right;
  margin: 18px 26px 0;
}
header section#content-topo .links a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #666666;
}
header section#content-topo .links a i {
  font-size: 16px;
  margin: 0 5px 0 10px;
}
#content-stage #menu-lateral {
  background: #555555;
  padding: 15px 0 150px 0;
}
#content-stage #menu-lateral .bemvindo {
  margin: 0 26px 0 26px;
  padding: 0 0 20px 0;
  background: url('../img/linha-divisoria-bemvindo.gif') bottom center repeat-x;
}
#content-stage #menu-lateral .bemvindo p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #ffffff;
}
#content-stage #menu-lateral .bemvindo p a {
  color: #a6ce39;
}
#content-stage #menu-lateral .menu {
  margin: 26px 0 0;
}
#content-stage #menu-lateral .menu .panel {
  box-shadow: none;
  border-radius: 0;
  background-color: none;
}
#content-stage #menu-lateral .menu .panel.panel-default {
  border: 0;
}
#content-stage #menu-lateral .menu .panel .panel-heading {
  background-color: #646464;
  border: 0;
  border-radius: 0;
  padding: 0;
}
#content-stage #menu-lateral .menu .panel .panel-heading .panel-title a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  display: block;
  text-decoration: none;
  line-height: 26px;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content-stage #menu-lateral .menu .panel .panel-heading .panel-title a i {
  font-size: 25px;
  margin: 0 7px 0 0;
  float: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content-stage #menu-lateral .menu .panel .panel-heading .panel-title a:hover,
#content-stage #menu-lateral .menu .panel .panel-heading .panel-title a.active {
  background: #00aeef;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content-stage #menu-lateral .menu .panel .panel-heading .panel-title a:hover i,
#content-stage #menu-lateral .menu .panel .panel-heading .panel-title a.active i {
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content-stage #menu-lateral .menu .panel .panel-body {
  background-color: #555;
  border: 0;
}
#content-stage #menu-lateral .menu .panel .panel-body ul.submenu {
  margin: 0;
  padding: 0;
}
#content-stage #menu-lateral .menu .panel .panel-body ul.submenu li {
  margin: 7px 0 0 10px;
  padding: 3px 0 10px 0;
  background: url('../img/linha-divisoria-bemvindo.gif') bottom center repeat-x;
}
#content-stage #menu-lateral .menu .panel .panel-body ul.submenu li:first-child {
  margin-top: 0;
}
#content-stage #menu-lateral .menu .panel .panel-body ul.submenu li:last-child {
  background: none;
}
#content-stage #menu-lateral .menu .panel .panel-body ul.submenu li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content-stage #menu-lateral .menu .panel .panel-body ul.submenu li a.active,
#content-stage #menu-lateral .menu .panel .panel-body ul.submenu li a:hover {
  color: #a6ce39;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content-stage #content .migalhas {
  margin: 13px 0 0 5px;
}
#content-stage #content .migalhas a {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
}
#content-stage #content .migalhas a i {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #a6ce39;
  margin: 0 5px 0 5px;
}
#content-stage #content section#capa {
  display: none;
}
#content-stage #content section#capa a.menu-capa {
  background: #eaeaea;
  display: block;
  width: 248px;
  height: 200px;
  float: left;
  text-align: center;
  margin: 25px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #555555;
}
#content-stage #content section#capa a.menu-capa i {
  font-size: 116px;
  color: #4a4a4a;
  text-align: center;
  margin: 10px 20px 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content-stage #content section#capa a.menu-capa:hover {
  text-decoration: none;
}
#content-stage #content section#capa a.menu-capa:hover:nth-child(1) i,
#content-stage #content section#capa a.menu-capa:hover:nth-child(3) i {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#content-stage #content section#capa a.menu-capa:hover:nth-child(2) i,
#content-stage #content section#capa a.menu-capa:hover:nth-child(4) i,
#content-stage #content section#capa a.menu-capa:hover:nth-child(5) i {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
#content-stage #content section#capa a.menu-capa:hover i {
  color: #a6ce39;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#content-stage #content section#indicadores {
  margin: 50px 0 0;
}
#content-stage #content section#indicadores ul.nav-tabs li {
  background: #555555;
  padding: 0;
}
#content-stage #content section#indicadores ul.nav-tabs li a {
  display: block;
  padding: 17px 27px 17px 27px;
  border: 1px solid #707070;
  border-left: 0;
  border-radius: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}
#content-stage #content section#indicadores ul.nav-tabs li.active a,
#content-stage #content section#indicadores ul.nav-tabs li:hover a {
  background-color: #d3d3d3;
  background-image: linear-gradient(to bottom, #f6f6f6, #e2e2e2, #d1d1d1, #f6f6f6);
  background-color: transparent;
  color: #555555;
  border-radius: 0;
  border: solid 1px #b7b7b7;
}
#content-stage #content section#indicadores .tab-content {
  background: #e7e7e7;
  padding: 20px;
}
footer {
  background: #00aeef;
  width: 100%;
  height: 116px;
  clear: both;
}
footer .logo {
  float: left;
}
footer .logo figure {
  float: left;
  margin: 28px 16px 0 26px;
}
footer .logo p {
  width: 460px;
  margin: 34px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  float: left;
  line-height: 24px;
}
.font-size-26 {
  font-size: 26px !important;
}
.padding-right-none {
  padding-right: 0 !important;
}
.padding-left-none {
  padding-left: 0 !important;
}
.padding-none {
  padding: 0 !important;
}
/* fixing firefox bug */
div:after,
ol:after,
form:after,
ul:after,
dl:after,
label:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
