Django==2.2.7
django-appconf
django-bootstrap-form
django-bootstrap3-datetimepicker
django-compressor
django-debug-toolbar
django-extensions
django-localflavor
Pillow
psycopg2
python-magic
requests
six
sqlparse
xlwt
django-multiupload
psutil
python-dateutil
reportlab
simplejson
xmltodict
suds-jurko
pyopenssl
xlrd
django-autocomplete-light
django_select2
html5lib

-e git+git://github.com/hugotacito/django-pagination.git#egg=django-pagination
xlutils
dj-static
blist
python-docx
django-easy-audit
django-form-utils
openpyxl
qrcode
djangorestframework
pytz
xhtml2pdf
